/* Header */
.moon-accordion.moon-expandable-list-item.open .moon-expandable-list-item-header-wrapper {
	padding: 10px;
}

/* Arrow */
.moon-accordion .moon-accordion-arrow {
	background-position: right center;
	background-repeat: no-repeat;
	background-image: @moon-small-carat-down1;
}
.moon-accordion .spotlight .moon-accordion-arrow {
	background-image: @moon-small-carat-down2;
}
.moon-accordion.open .moon-accordion-arrow {
	background-image: @moon-small-carat-up1;
}
.moon-accordion.open .spotlight .moon-accordion-arrow {
	background-image: @moon-small-carat-up2;
}
