/* Header Accordion*/
.moon-accordion .moon-expandable-list-item-header {
	display: inline-block;
	padding-right: rI(@moon-spotlight-outset + 32);
}
.enyo-locale-right-to-left .moon-accordion .moon-expandable-list-item-header {
	padding-right: rI(0);
	padding-left: rI(@moon-spotlight-outset + 32);
}
.moon-accordion .moon-accordion-header-wrapper {
	height: 1.2em;
}

