/* Header Accordion*/
.moon-accordion .moon-expandable-list-item-header {
	display: inline-block;
	padding-right: @moon-spotlight-outset + 33;
}
.enyo-locale-right-to-left .moon-accordion .moon-expandable-list-item-header {
	padding-right: 0;
	padding-left: @moon-spotlight-outset + 33;
}
.moon-accordion .moon-accordion-header-wrapper {
	height: 1.2em;
}

