/* AudioPlayback.css */
.moon-audio-playback {
	background-color: @moon-audio-playback-bg-color;
	font-size: rI(30px);
}
.moon-audio-playback-track-icon {
	position: relative;
	top: rI(6px);
	left: rI(4px);
	width: rI(128px);
	height: rI(128px);
	background: transparent url() no-repeat rI(0px) rI(0px);
	display: inline-block;
}
.moon-audio-playback-playtime {
	font-size: rI(20px);
}
.moon-audio-track-info,
.moon-audio-control-buttons > * {
	display: inline-block;
	top: rI(6px);
}
.moon-audio-play-time {
	width: rI(80px);
	font-size: rI(20px);
	padding-top: rI(72px);
}
.moon-audio-play-time.left {
	text-align: left;
}
.moon-audio-play-time.right {
	text-align: right;
}
.moon-audio-track-count.right {
	float: right;
}
.moon-audio-track-info {
	width: 40%;
	padding: rI(0) rI(10px);
}
.enyo-locale-right-to-left .moon-audio-track-info {
	text-align: right;
	direction: rtl;
}
.moon-audio-top {
	height: rI(65px);
	padding-top: rI(15px);
}
/* AudioPlayback styles for IconButton */
.moon-audio-icon-button {
	background-color: @moon-audio-icon-button-bg-color;
	margin: rI(8px) rI(4px);
}
.moon-audio-icon-button.left {
	float: left;
}
.moon-audio-icon-button.right {
	float: right;
}
/* AudioPlayback styles for Slider */
.moon-audio-slider-container {
	padding-top: rI(10px);
}
.moon-audio-slider.spotlight > .moon-slider-knob {
	background-color: @moon-audio-slider-knob-spotlight-bg-color;
}
.moon-audio-slider > .moon-slider-knob,
.moon-audio-slider > .moon-slider-knob.disabled:active:hover {
	height: rI(30px);
	width: rI(30px);
	border-radius: rI(15px);
	margin: rI(-13px) rI(-16px);
	background-color: @moon-audio-slider-knob-bg-color;
}
.moon-audio-slider > .moon-slider-knob.active,
.moon-audio-slider > .moon-slider-knob.spotselect,
.moon-audio-slider > .moon-slider-knob:active:hover {
	height: rI(34px);
	width: rI(34px);
	border-radius: rI(17px);
	margin: rI(-15px) rI(-18px);
	background-color: @moon-audio-slider-knob-bg-color;
}
.moon-audio-slider.moon-progress-bar {
	background-color: @moon-audio-progress-bar-bg-color;
	margin: rI(0px);
	top: rI(10px);
}
.moon-audio-slider > .moon-progress-bar-bar {
	background-color: @moon-audio-progress-bar-bar-bg-color;
}
/* AudioPlayback styles for queue */
.moon-audio-playback-queue {
	margin: rI(0px) rI(40px);
}
/* AudioPlayback styles for queue list items */
.moon-audio-queue-list {
	height: rI(100px);
	padding: rI(12px) rI(16px);
	border-top: rI(1px) solid transparent;
	border-bottom: rI(1px) solid transparent;
}
.moon-audio-queue-list-selected {
	background-color: @moon-audio-queue-selected-bg-color;
	border-color: @moon-audio-queue-selected-border-color;
}
.moon-audio-queue-list > * {
	display: inline-block;
	vertical-align: middle;
}
.moon-audio-queue-album-art {
	width: rI(80px);
	height: rI(80px);
	background: transparent none no-repeat rI(0px) rI(0px);
	padding-right: rI(10px);
}
.enyo-locale-right-to-left .moon-audio-queue-album-art {
	padding-right: rI(0);
	padding-left: rI(10px);
}