.moon-badge-overlay-support {
	.moon-image-client {
		color: #fff;
		padding: 0;
		background-color: rgba(0, 0, 0, 0.5);

		.moon-icon {
			width: @moon-icon-small-size;
			height: @moon-icon-small-size;
			line-height: @moon-icon-small-size;
		}
	}
	&.top .moon-image-client {
		bottom: initial;
		top: 0;
	}
	.moon-image {
		display: block;
		margin: 0;
	}
}