.moon-badge-overlay-support .moon-image-client {
	color: white;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.5);
	.moon-icon {
		width: 36px;
		height: 36px;
	}
}
.moon-badge-overlay-support .moon-image {
	display: block;
	margin: 0;
}
.moon-badge-overlay-support.top .moon-image-client {
	bottom: initial;
	top: 0;
}