.moon-box-icon-button {
	width: 80px;
	height: 80px;
	border-radius: 0px;
	border: 0px;
	background-color: transparent;
}
.moon-box-icon-button.active,
.moon-box-icon-button.spotlight,
.moon-box-icon-button.spotlight.pressed,
.moon-box-icon-button.spotlight:active {
	background-position: 0 -80px;
	border: 0px;
	background-color: transparent;
}