.moon-breadcrumb-decorator.breadcrumb .moon-breadcrumb-wrapper {
	width: 198px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
	margin-left: 50px;
	margin-right: 31px;
}
.moon-breadcrumb-decorator.breadcrumb .moon-breadcrumb-decorator-client {
	width: 100%;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.moon-breadcrumb-decorator.instantOn .moon-breadcrumb-wrapper {
	height: 50px;
	width: 50%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 2;
	text-align: right;
	margin-top: -10px;
	.moon-breadcrumb {
		font-size: 24px;
		line-height: 24px;
		color: #fff;
		display: inline-block;
		margin-right: 20px;
		background:rgba(0,0,0,0.7);
		padding: 5px;
	}
}