.moon-breadcrumb {
	color: @moon-font-color-light;
	height: 400px;
	border-bottom: none;
	overflow:hidden;
	max-width: 198px;
}
.moon-breadcrumb-title-above.no-border {
	min-height: @moon-breadcrumb-text-size;
}
.moon-breadcrumb-title-above {
	font-size: @moon-breadcrumb-text-size !important;
}
.moon-breadcrumb-title {
	font-size: @moon-breadcrumb-text-size !important;
}
.moon-breadcrumb-title-below {
	font-size: @moon-breadcrumb-text-size !important;
}