.moon-breadcrumb-decorator.leanForward .moon-breadcrumb-wrapper {
	width: 10%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
	margin-left: 50px;
}
.moon-breadcrumb-decorator.leanForward .moon-breadcrumb-decorator-client {
	width: 100%;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.moon-breadcrumb {
	font-size: 42px;
	margin-top: 52px;
	height:auto;
	padding: 10px 0px 50px 0px;
	line-height: 42px;
	height: 130px;
	margin-bottom: 40px;
	border-top: 2px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	margin-right: 40px;
	color: #4b4b4b;
}