.moon-breadcrumb {
	color: @moon-breadcrumb-text-color;
	height: 400px;
	border-bottom: none;
	overflow:hidden;
	max-width: 198px;
}
.moon-breadcrumb-title-above.no-border {
	min-height: @moon-breadcrumb-text-size;
}
.moon-breadcrumb-title-above {
	font-size: @moon-breadcrumb-text-size !important;
	border-bottom: 1px solid @moon-breadcrumb-above-bg-color !important;
}
.moon-breadcrumb-title {
	font-size: @moon-breadcrumb-text-size !important;
	padding: 8px 0px 0px 0px !important;
}
.moon-breadcrumb-title-below {
	font-size: @moon-breadcrumb-text-size !important;
}