/* Button */
.moon-button {
	max-height: 106px;
	border-radius: @moon-button-border-radius;
	background-color: @moon-button-background-color;
	border: @moon-button-border-width solid transparent;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: auto;
	min-width: @moon-button-height;
	max-width: 302px;
	padding: 19px 22px;
	margin: 0px @moon-spotlight-outset;
	color: @moon-button-text-color;
}
.enyo-locale-non-latin .moon-button {
	padding: 15px 22px 16px;
}
.moon-neutral .moon-button * {
	color: @moon-sub-header-text-color;
}
.moon-neutral .moon-button.spotlight * {
	color: @moon-spotlight-text-color;
}
.moon-button.small {
  max-height: @moon-button-small-height;
  min-height: @moon-button-small-height;
  min-width: @moon-button-small-height;
  padding: 10px 20px 10px 20px;
  position: relative;
  overflow: visible;
}
.enyo-locale-non-latin .moon-button.small {
	padding: 10px 15px;
}
.moon-button.small > .small-button-tap-area {
	position: absolute;
	top: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
	bottom: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
	left: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
	right: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
}
/* Need 100% width for marquee in button */
.moon-button .moon-marquee {
	width: 100%;
}

/*
	IE8 can't handle these selectors in tandem:
	.moon-button.active, .moon-button:active:not([disabled]) {

	the effect is as if .moon-button.active doesn't exist
*/
.moon-button.active,
.moon-button.pressed,
.moon-button.spotlight.pressed,
.moon-button.spotlight:active,
.moon-button.small.spotlight.pressed
{
	border: @moon-button-border-width solid @moon-spotlight-border-color;
	background-color: @moon-button-background-color;
	color: @moon-button-text-color;
}

.moon-button:active:hover:not([disabled]) {
	border: @moon-button-border-width solid @moon-spotlight-border-color;
	background-color: @moon-button-background-color;
}

.moon-button.spotlight {
	background: @moon-spotlight-border-color;
	color: @moon-spotlight-text-color;
}

.moon-button[disabled] {
	cursor: default;
	color: @moon-button-disabled-text-color;
	background-color: @moon-button-disabled-bg-color;
}
