/* Calendar.css */
.moon-calendar {
	display: inline-block;
}

.moon-calendar-week {
	display: inline-block;
}

.moon-calendar-date {
	width: @moon-picker-button-width;
	min-width: @moon-picker-button-width;	
	height: @moon-picker-button-width;
	line-height: @moon-picker-button-width;
	border-radius: @moon-picker-button-width/2;
	border: 0px;
	font-weight: normal;
	background: inherit;
	color: @moon-dark-gray;
	padding: 0px;
	margin: 0px;
	text-align: center;
	vertical-align: middle;  
}

.moon-calendar-date-shadow {
	background-color: #666666;
	color: #f1f1f1;
}