/* Calendar.css */
.moon-calendar-day-item {
	text-align: center;
	font-weight: bold;
	font-size:14px;
}

.moon-calendar-date-item {
	white-space:nowrap; 
	text-align:center; 
	padding:5px 10px;
}

.moon-calendar {
	display: inline-block;
}

.moon-calendar-week {
	display: inline-block;
}

.moon-calendar-date {
	width: 80px;
	vertical-align: middle;
	margin: 1px;
	text-align: center;    
}