/* Caption Decorator */
.moon-button-caption-decorator {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.moon-button-caption-decorator .moon-caption {
	display: inline-block;
}
.moon-caption-client {
	display: inline-block;
}
.moon-caption-client > * {
	display: block;
	margin: auto;
}

/* Caption Decorator - Left/Right Captions */
.moon-button-caption-decorator .moon-caption.left,
.moon-button-caption-decorator .moon-caption.right {
	height: rI(@moon-button-height);
	line-height:  rI(@moon-button-height);
}
.moon-button-caption-decorator .moon-caption.left {
	float: left;
	padding-right:  rI(10px);
	text-align: left;
}
.moon-button-caption-decorator .moon-caption.right {
	float: right;
	padding-left:  rI(10px);
	text-align: right;
}

/* Caption Decorator - Top/Bottom Captions */
.moon-button-caption-decorator .moon-caption.top,
.moon-button-caption-decorator .moon-caption.bottom {
	display: block;
	text-align: center;
}
.moon-button-caption-decorator .moon-caption.top {
	padding-bottom:  rI(4px);
}
.moon-button-caption-decorator .moon-caption.bottom {
	padding-top:  rI(4px);
}

/* Caption Decorator - Show On Focus Captions */
.moon-button-caption-decorator.showOnFocus .moon-caption {
	position: absolute;
  	z-index: 2;
  	white-space: nowrap;
	float: none;
	padding:  rI(0px);
	margin: rI(0px);
	display: none;
}
.moon-button-caption-decorator.showOnFocus.spotlight .moon-caption {
	display: block;
}
.moon-button-caption-decorator.showOnFocus .moon-caption.top {
	margin-bottom: rI(4px);
}
.moon-button-caption-decorator.showOnFocus .moon-caption.right {
	margin-left: rI(10px);
}
.moon-button-caption-decorator.showOnFocus .moon-caption.bottom {
	margin-top: rI(4px);
}
.moon-button-caption-decorator.showOnFocus .moon-caption.left {
	margin-right: rI(10px);
}