.moon-channelinfo {
	display:inline-block; 
	vertical-align:top;
	text-align: right;
	white-space: normal;
  max-width: 800px;
}
.moon-video-player-channel-info-badges > * {
  margin: 3px 0px 3px 10px;
}

.moon-video-player-channel-info-badges  > :first-child{
  margin:3px 10px;
}
.moon-video-player-channel-info-no {
.moon-header-text;
	white-space: nowrap;
	font-size: 72px;
	color: @moon-white;
	// text-transform: none;
	margin-top: 20px;
}
.moon-video-player-channel-info-name {
.moon-sub-header-text;
color:@moon-player-channel-info-name-text-color;
font-family: "MuseoSans 500";
	// margin-bottom: 22px;
	white-space: nowrap;
}
.enyo-locale-non-latin .moon-video-player-channel-info-name {
	font-family: @moon-non-latin-font-family;
}
.moon-video-player-info-icon {
.moon-sub-header-text;
  font-size: @moon-video-player-info-icon-text-size;
  // background-color: @moon-video-player-info-icon-bg-color;
  // color: @moon-video-player-info-icon-text-color;
  font-size: 15px;
  background-color: #292929;
  color: #878787;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
  padding: 3px 9px;
  display: inline-block;
}
.enyo-locale-non-latin .moon-video-player-info-icon {
	font-family: @moon-non-latin-font-family;
}
.moon-video-player-info-redicon {
  background-color: @moon-video-player-info-redicon-bg-color;
  color: @moon-video-player-info-redicon-text-color;
  margin-top:13px;
}
