.moon-channelinfo {
	display:inline-block; 
	vertical-align:top;
	text-align: right;
}
.moon-video-player-channel-info-badges > * {
	/*float: right;*/
	margin: 3px 5px;
}
.moon-video-player-channel-info-no {
	font-size: 100px;
	font-kerning: 25;
	-webkit-font-kerning: 25;
	-o-font-kerning: 25;
	-moz-font-kerning: 25;
	margin-bottom: 0;
	white-space: nowrap;
}
.moon-video-player-channel-info-name {
	font-family: "MuseoSans Medium";
	font-size: @moon-sub-header-font-size;
	font-kerning: 10;
	-webkit-font-kerning: 10;
	-o-font-kerning: 10;
	-moz-font-kerning: 10;
	margin-bottom: 22px;
	white-space: nowrap;
}
.moon-video-player-info-icon {
	font-family: "MuseoSans Medium";
	font-size: 10px;
	line-height: 10px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	display: inline-block;
}
.moon-video-player-info-redicon {
	background-color: red;
	color: #ffffff;
}