.moon-checkbox-item {
	display: block;
	position: relative;
	margin-bottom: 33px;
}
.moon-checkbox-item .moon-checkbox-item-label-wrapper {
	height: @moon-item-line-height;
	min-height: (@moon-item-font-size * .78);
	margin-right: @moon-checkbox-width;
}
.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label-wrapper {
	margin-left: @moon-checkbox-width;
	margin-right: 0;
}
.moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
	margin-right: @moon-checkbox-width + 16px;
}
.enyo-locale-right-to-left .moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
	margin-left: @moon-checkbox-width;
	margin-right: 0;
}
.moon-checkbox-item .moon-checkbox-item-label {
	float: left;
	white-space: nowrap;
	height: @moon-item-line-height;
}
.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label {
	float: right;
	white-space: nowrap;
}
.moon-checkbox-item .moon-checkbox {
	position:absolute;
	top:0px;
	right:0px;
	margin-top: -1px;
}
.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox {
	left:0px;
	right:auto;	
}
.moon-checkbox-item .moon-checkbox[checked] {
	background-color:transparent;
}
.moon-checkbox-item.disabled, .moon-checkbox-item .moon-checkbox[disabled] {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
