/* Checkbox.css */
.moon-checkbox {
	cursor: pointer;
	height: @moon-checkbox-icon-height;
	.moon-icon {
		visibility: hidden;
		margin: 0;
		padding: 0;
		> .small-icon-tap-area {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			line-height: @moon-checkbox-icon-height;
		}
	}
	&[checked]  .moon-icon {
		visibility: visible;
	}
}

.spotlight .moon-checkbox[checked]:after {
	color: @moon-white;
}