/* Checkbox.css */
.moon-checkbox {
	cursor: pointer;
	width: @moon-checkbox-icon-width;
	height: @moon-checkbox-icon-height;
	text-align: center;
	font-family: @moon-icon-font-family;
	font-size: (2*@moon-icon-small-size);
	color: @moon-body-text-color;
	visibility: hidden;
	background-position: center 2px;
	&[checked] {
		visibility: visible;
	}
}

.spotlight .moon-checkbox[checked] {
	color: @moon-white;
	background-position: center -@moon-icon-small-size + 2;
}
