// temporarily set the margin as follow so it looks ok with the old design, will adjust after the new  video player is rebuild
.moon-clock {
	margin: rI(30px) rI(20px) rI(30px) rI(40px);

	.moon-bold-text {
		font-size: rI(@moon-clock-text-font-size);
		text-transform: uppercase;
		line-height: normal;
		color: @moon-white;
	}
}