.moon-clock {
	display: block;
	vertical-align: top;
	width: auto;
	height:360px;
	color:#ffffff
}
.moon-clock-hour {
  font-size: 126px;
  white-space: nowrap;
  vertical-align: center;
  display: inline-block;
  margin-right:10px;
  letter-spacing:-0.05em;
}
.moon-clock-right {
	display: inline-block;
	position:relative;
top:5px;
}
.moon-clock-minute {
	    font-family: "Miso";
    font-weight:bold;
  font-size: 68px;
  white-space: nowrap;
  vertical-align: bottom;
  display: inline-block;
  height:68px;
  margin-right:10px;
}

.moon-clock-meridiem {
	font-family: "MuseoSans Medium";
	font-size: 24px;
	white-space: nowrap;
	vertical-align: bottom;
	display: inline-block;
	text-transform: none;

}
.moon-clock-month {
  font-family: "MuseoSans 300";
  font-size: 28px;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  height:28px;
}
.moon-clock-day {
  font-family: "MuseoSans 300";
  font-size: 28px;
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  height:28px;
}
.moon-clock-divider {
  height: 2px;
  width: 100%;
  margin:5px 0;
  background-color: #fff;
}