// temporarily set the margin as follow so it looks ok with the old design, will adjust after the new  video player is rebuild
.moon-clock {
	margin: 30px 21px 30px 39px;

	.moon-bold-text {
		font-size: @moon-clock-text-font-size;
		text-transform: uppercase;
		line-height: normal;
		color: @moon-white;
	}
}