/* ContextualPopupButton.css */
.moon-button.contextual-popup-button {
	padding-right: @moon-contextual-arrow-padding;
	position: relative;

	&:after {
		position: absolute;
		right: @moon-spotlight-outset;
		font-family: @moon-icon-font-family;
		content: @moon-icon-arrowsmallright;
		font-size: @moon-contextual-arrow-font-size;
		line-height: @moon-button-height - 2 * @moon-button-border-width;
		color: @moon-accent;
	}
	&.small:after {
		line-height: @moon-button-small-height - 2 * @moon-button-border-width;
	}
	&.spotlight {
		color: @moon-contextual-popup-text-color;

		&:after {
			color: @moon-contextual-popup-text-color;
		}
	}
	&.pressed,
	&:active {
		color: @moon-body-text-color;

		&:after {
			color: @moon-accent;
		}
	}
	&[disabled] {
		color: @moon-button-disabled-text-color;

		&:after {
			color: @moon-button-disabled-text-color;
		}
	}
}

.enyo-locale-right-to-left {
	.moon-button.contextual-popup-button {
		padding-left: @moon-contextual-arrow-padding;
		padding-right: @moon-button-h-padding;

		&:after {
			left: @moon-spotlight-outset;
			right: auto;
			content: @moon-icon-arrowsmallleft;
		}
		&.small {
			padding-right: @moon-button-small-h-padding;
		}
	}
}