/*mixin classes used for creating nubs*/
/*nub position*/
.moon-popup-nub-position (@nub-top, @nub-left, @nub-right, @nub-width, @nub-height, @nub-margintop, @nub-marginleft, @nub-marginright){
	top: @nub-top;
	left: @nub-left;
	right: @nub-right;
	width: @nub-width;
	height: @nub-height;
	margin-top: @nub-margintop;
	margin-left: @nub-marginleft;
	margin-right: @nub-marginright;
}
/*left nub*/
.moon-popup-nub-left (@nub-bgcolor){
	border-top: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-bottom: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-right: @moon-contextual-popup-nub-height solid @nub-bgcolor;
}
/*right nub*/
.moon-popup-nub-right (@nub-bgcolor){
	border-top: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-bottom: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-left: @moon-contextual-popup-nub-height solid @nub-bgcolor;
}
/*below nub*/
.moon-popup-nub-below (@nub-bgcolor){
	border-right: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-left: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-bottom: @moon-contextual-popup-nub-height solid @nub-bgcolor;
}
/*above nub*/
.moon-popup-nub-above(@nub-bgcolor){
	border-right: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-left: (@moon-contextual-popup-nub-height)-3 solid transparent;
	border-top: @moon-contextual-popup-nub-height solid @nub-bgcolor;
}

/* ContextualPopup */
.moon-contextual-popup {
	min-height: 100px;
	min-width: 100px;
	border-radius: @moon-contextual-popup-border-radius;
	border: @moon-button-border-width solid @moon-contextual-popup-border-color;
	color: @moon-contextual-popup-text-color;
	padding: @moon-contextual-popup-padding;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: @moon-contextual-popup-bg-color;
	&.reserve-close {
		padding-right: @moon-icon-button-small-size + 10px;
	}
	&::before, &::after {
		position: absolute;
		content: '';
	}
	&.left {
		margin: 0 0 0 @moon-contextual-popup-gutter;
		&::before {
			.moon-popup-nub-position(@moon-button-height / 2, 0, auto, 0, 6px, (-@moon-contextual-popup-nub-height - 6), (-@moon-contextual-popup-nub-height - 5), auto);
			.moon-popup-nub-left(@moon-contextual-popup-border-color);
		}
		&::after{
			.moon-popup-nub-position (@moon-button-height / 2, 0, auto, 0, 0, (-@moon-contextual-popup-nub-height - 3), -@moon-contextual-popup-nub-height, auto);
			.moon-popup-nub-left(@moon-contextual-popup-bg-color);
		}
	}
	&.right {
		margin: 0 0 0 -@moon-contextual-popup-gutter;
		&::before {
			.moon-popup-nub-position (50%, 100%, auto, 0, 6px, -@moon-contextual-popup-nub-height, @moon-button-border-width, auto);
			.moon-popup-nub-right(@moon-contextual-popup-border-color);
		}
		&::after{
			.moon-popup-nub-position (50%, 100%, auto, 0, 0, (-@moon-contextual-popup-nub-height + 3), 0, auto);
			.moon-popup-nub-right(@moon-contextual-popup-bg-color);
		}
	}
	&.below {
		margin: @moon-contextual-popup-gutter 0 0 0;
		&::before {
			.moon-popup-nub-position (0, 50%, auto, 6px, 0, (-@moon-contextual-popup-nub-height - 5), -@moon-contextual-popup-nub-height, auto);
			.moon-popup-nub-below(@moon-contextual-popup-border-color);
		}
		&::after{
			.moon-popup-nub-position (0, 50%, auto, 0, 0, -@moon-contextual-popup-nub-height, (-@moon-contextual-popup-nub-height + 3), auto);	
			.moon-popup-nub-below(@moon-contextual-popup-bg-color);
		}
		&.right::before {
			.moon-popup-nub-position (0, 20%, auto, 6px, 0, (-@moon-contextual-popup-padding - @moon-button-border-width - @moon-contextual-popup-nub-height + 4), -@moon-contextual-popup-nub-height, auto);  	
		}
		&.right::after{
			.moon-popup-nub-position (0, 20%, auto, 0, 0, (-@moon-contextual-popup-padding - @moon-contextual-popup-nub-height + 4), (-@moon-contextual-popup-nub-height + 3), auto);
		}
		&.left::before {
			.moon-popup-nub-position (0, auto, 10%, 6px, 0, (-@moon-contextual-popup-padding - @moon-button-border-width - @moon-contextual-popup-nub-height + 4), auto, -@moon-contextual-popup-nub-height);
		}
		&.left::after{
			.moon-popup-nub-position (0, auto, 10%, 0, 0, (-@moon-contextual-popup-padding - @moon-contextual-popup-nub-height + 4), auto, (-(@moon-contextual-popup-nub-height) + 3));
		}
	}
	&.above {
		margin: -@moon-contextual-popup-gutter 0 0 0;
		&::before {
			.moon-popup-nub-position (100%, 50%, auto, 6px, 0, @moon-button-border-width, -@moon-contextual-popup-nub-height, auto);
			.moon-popup-nub-above(@moon-contextual-popup-border-color);
		}
		&::after{
			.moon-popup-nub-position (100%, 50%, auto, 0, 0, 0, -(@moon-contextual-popup-nub-height) + 3, auto);
			.moon-popup-nub-above(@moon-contextual-popup-bg-color);
		}
		&.right::before {
			.moon-popup-nub-position (100%, 20%, auto, 6px, 0, @moon-button-border-width, -@moon-contextual-popup-nub-height, auto);	
		}
		&.right::after{
			.moon-popup-nub-position (100%, 20%, auto, 0, 0, 0, (-(@moon-contextual-popup-nub-height) + 3), auto);
		}
		&.left::before {
			.moon-popup-nub-position (100%, auto, 20%, 6px, 0, @moon-button-border-width, auto, -@moon-contextual-popup-nub-height);
		}
		&.left::after{
			.moon-popup-nub-position (100%, auto, 20%, 0, 0, 0, auto, -(@moon-contextual-popup-nub-height) + 3);
		}
	}
}
.enyo-locale-right-to-left .moon-contextual-popup {
	direction: rtl;
	&.reserve-close {
		padding-right: 20px;
		padding-left: @moon-icon-button-small-size + 10px;
	}
}
.moon-contextual-popup-client {
	height: 100%;
	overflow: hidden;
}


