/*ContextualPopup.css*/
.moon-contextual-popup,
.enyo.moon-contextual-popup {
	min-height: 100px;
	min-width: 100px;
	font-size: 16px;
	border-radius: 16px;
	border: 12px solid rgba(140,140,140,0.1);
	color: gray;
	padding:6px;
	background-clip:padding-box;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;	
	box-sizing: border-box;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color:white;	
}
/*adjusting base contextual popup positioning*/
/*for popups above activator*/
.vertical.above {
  margin-top:-20px;
}
/*for popups below activator*/
.vertical.below {
  margin-top:20px;
}
/*for popups on the left of the activator*/
.right.horizontal {
  margin-left: -21px;
}
/*for popups on the right of the activator*/
.left.horizontal {
  margin-left: 20px;
}
/*setup the nub*/
.moon-contextual-popup::after{
  content: '';
  position: absolute;
  top: -10px;	
  width:46px;
  height:36px;
}
/*nub positioning*/
/*horizontally centered nub*/
.moon-contextual-popup.vertical::after {
	position:absolute;
 	left:45%;
	margin-top:-4px;
	width:46px;
  height:36px;
	background: transparent url('../images/contextual-popup-nubs/down.png') no-repeat;
}
/*nub near horizontal left*/
.moon-contextual-popup.vertical.right::after {
	left:0%;
	margin-left:20px;
}
/*nub near horizontal right*/
.moon-contextual-popup.vertical.left::after {
	left:100%;
	margin-left: -55px;
}
/*downward facing nub*/
.moon-contextual-popup.vertical.above::after {
	top:100%;
	margin-top:-4px;
	width:46px;
  	height:36px;
	background: transparent url('../images/contextual-popup-nubs/down.png') no-repeat;
}
.moon-contextual-popup.vertical.below::after {
	margin-top:-22px;

	background: transparent url('../images/contextual-popup-nubs/up.png') no-repeat;
}
.moon-contextual-popup.vertical.below.right::after {
	top:0%;
	left:0%;
	margin-top:-32px;
	width:46px;
  	height:36px;
	background: transparent url('../images/contextual-popup-nubs/up.png') no-repeat;
}
.moon-contextual-popup.vertical.below.left::after {
	top:0%;
	left:100%;
	margin-top:-32px;
	width:46px;
  	height:36px;
	background: transparent url('../images/contextual-popup-nubs/up.png') no-repeat;
}
/*nub positioning for left/right popups*/
/*vertically centered nub for popups on left of activator*/
.moon-contextual-popup.right::after {
	left: 100%;
	top:47%;
	width:36px;
  	height:46px;
	margin-left:-4px;
	background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*nub near vertical top for popups on left of activator*/
.moon-contextual-popup.right.high::after {
	top: 35px;
	background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*nub near vertical bottom for popups on left of activator*/
.moon-contextual-popup.right.low::after {
	top:100%;
	margin-top: -55px;
	background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*vertically centered nub for popups on right of activator*/
.moon-contextual-popup.left::after {
	left: 0%;
	margin-left: -20px;
	top: 45%;
	width:36px;
  	height:46px;
	background: transparent url('../images/contextual-popup-nubs/left.png') no-repeat;
}
/*nub near vertical top for popups on right of activator*/
.moon-contextual-popup.left.high::after {
	top: 35px;
	background: transparent url('../images/contextual-popup-nubs/up.png') no-repeat;
}
/*nub near vertical bottom for popups on right of activator*/
.moon-contextual-popup.left.low::after {
	top:100%;
	margin-top: -55px;
	background: transparent url('../images/contextual-popup-nubs/down.png') no-repeat;
}
/*flush corners are not implemented currently per HI*/

/*Guru RTL changes begin*/
.enyo-locale-right-to-left .moon-contextual-popup,
.enyo.moon-contextual-popup
{
  direction:rtl;
}
/*Guru RTL changes end */
