/*ContextualPopupButton.css*/
.contextual-popup-button,
.contextual-popup-button.small {
	background-image: url(../images/contextual-arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 50px;
}
.enyo-locale-non-latin .moon-button.contextual-popup-button {
	padding-right: 50px;
}
.contextual-popup-button.spotlight {
	background-image: url(../images/contextual-arrow-spotlight.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 50px;
}
.contextual-popup-button.pressed,
.contextual-popup-button:active {
	background-image: url(../images/contextual-arrow.png);
}
