/* DatePicker.css */
.moon-date-picker {
	cursor:pointer;
}

.moon-date-picker.open .moon-expandable-list-item-header-wrapper {
	.moon-divider-text;
	.moon-divider-border;
	padding: 0px;
}
.moon-date-picker.open .moon-expandable-list-item-header-wrapper .moon-item {
	.moon-divider-text;
}

/* Day */
.moon-date-picker-day {
	padding-right:40px;
	width:60px;
}

/* Month */
.moon-date-picker-month {
	padding-right:40px;
	width:60px;
}

/* Year */
.moon-date-picker-year {
	width:80px;
}
