/* DatePicker.css */
.moon-date-picker-wrap {
	min-width: 100px;
	text-align: center;
	margin: 10px 0;
	vertical-align: top;
}

.moon-date-picker-wrap.year {
	min-width: 120px;
}

.moon-date-picker-label {
  text-align: center;
  padding: 20px @moon-spotlight-outset;
  white-space: nowrap;
}

/* Time/date pickers should always be arranged according to the order of the formatter */
.enyo-locale-right-to-left .moon-date-picker-client {
	direction: rtl;
}

.moon-date-picker-client {
	direction: ltr;
}