/* Dialog.css */
.moon-dialog-title {
	font-size: 82px;
	margin-bottom: 40px;
}
.moon-dialog-message {
	font-size: @moon-item-font-size;
}
.moon-dialog-client > * {
	margin-left: @moon-grid-gutter-width;
}