.moon-divider {
	font-size: @moon-italics-font-size;
	line-height: @moon-italics-font-size;
	color: @moon-font-color-light;
	border-bottom: 1px solid #b5b5b5;
	margin: 0px 0px 37px 0px;
	padding: 0px 0px 6px 0px;
	text-transform: capitalize;
	font-weight: @moon-italics-font-weight;
	font-style: @moon-italics-font-style;
	letter-spacing: @moon-italics-letter-spacing;
}