.moon-divider {
	font-family: @moon-font-family;
	font-size: @moon-sub-text-size;
	line-height: @moon-sub-text-size;
	color: @moon-font-color-light;
	border-bottom: 1px solid #A2A2A2;
	margin: 0px 0px 37px 0px;
	padding: 0px 0px 6px 0px;
	text-transform: uppercase;
	font-weight: bold;
}
.enyo-non-latin .moon-divider {
	font-family: @moon-non-latin-font-family;
}