/* Drawers.css */
.moon-drawers {
	position:relative;
	height:100%;
	width:100%;
}

.moon-drawers-handles {
	background-color: @moon-dark-gray;
	text-align:center;
	padding:10px 0;
}
	
.moon-drawers-activator {
	position:relative;
	width:100%;
	height:20px;	
	background-color:@moon-dark-gray;
	z-index: 100;
}

.moon-drawers-activator-nub {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:-5px;	
	border-bottom-left-radius:26px;
	border-bottom-right-radius: 26px;	
	height:18px;
	width:36px;
	background-color:@moon-dark-gray;
	top:10px;
}


.moon-drawers-activator-nub .nub-arrow {
	position:absolute;
	width: 18px;
	height: 11px;
	left: 9px;
	top: -3px;
}


.moon-drawers-activator-nub .down {
	background: @moon-caret-white-small-down-image 0 0 no-repeat;	
}

.moon-drawers-activator-nub .up {
	background: @moon-caret-black-small-up-image 0 0 no-repeat;	
}


/* The activator & nub are white when a drawer is open */
.moon-drawers-activator.drawer-open {
	background-color:white;
}

.drawer-open .moon-drawers-activator-nub {
	background-color:white;
}

.drawer-open .moon-drawers-activator-nub .up {
	border-color: transparent transparent @moon-dark-gray transparent;
}

.drawer-open .moon-drawers-activator-nub .up::after {
	border-color: transparent transparent white transparent;	
}

/* Activator is spotlight focused */
.moon-drawers-activator.spotlight {
	background-color:@moon-spotlight-border-color;
}

.spotlight .moon-drawers-activator-nub {
	background-color:@moon-spotlight-border-color;
}

.spotlight .moon-drawers-activator-nub .down {
	border-color: white transparent transparent transparent;
}

.spotlight .moon-drawers-activator-nub .down::after {
	border-color: @moon-spotlight-border-color transparent transparent transparent;	
}

.spotlight .moon-drawers-activator-nub .up {
	border-color: transparent transparent white transparent;
}

.spotlight .moon-drawers-activator-nub .up::after {
	border-color: transparent transparent @moon-spotlight-border-color transparent;	
}

.moon-drawers-handle {
	display:inline-block;
	vertical-align:top;
}

.moon-drawers-drawer-container {
	position:relative;
	padding:10px 0;
}

.moon-drawers-client {
	position:relative;
	height:100%;
	width:100%;
}