.moon-drawer-handle {
    height: auto;
    margin-left: auto;
    clear: none;
    padding: 0px 0px 3px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:transparent;
    margin-right: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 250px;
}

.moon-drawer-handle.spotlight {
    border-bottom-color:@moon-spotlight-border-color;
}

.moon-drawer-handle-text {
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0em;
    padding: 0px;
    max-width: 100%;
    font-size:@moon-header-sub-text-size;
    height: 16px;
    color: white;
    text-align: center;
    line-height: 0.9em;
    word-wrap: break-word;
}
