/* Drawers.css */
.moon-drawers-activator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: @moon-drawers-activator-bar-height;
	background-color: @moon-drawer-bg-color;
	z-index: 100;
	font-family: @moon-icon-font-family;
	font-size: 50px;
	// adjust the caret to line-up with the bottom edge of the activator bar
	line-height: @moon-icon-font-size / 2 - 4;

	&:after {
		margin: 10px auto 0;
		width: @moon-drawer-nub-width;
		height: @moon-drawer-nub-height;
		border-radius: 0 0 @moon-drawer-nub-height @moon-drawer-nub-height;
		display: block;
		background-color: @moon-drawer-bg-color;
		content: @moon-icon-arrowsmalldown;
		color: @moon-drawer-activator-font-color;
		text-align: center;
	}

	/* Activator is spotlight focused */
	&.spotlight {
	background-color: @moon-spotlight-color;

		&:after,
		&.open:after {
			color: @moon-spotlight-text-color;
			background-color: @moon-spotlight-color;
		}
	}

	/* The activator & nub are white when a drawer is open */
	&.open {
		background-color: @moon-drawer-open-bg-color;

		&.spotlight {
			background-color: @moon-spotlight-color;
		}

		&:after {
			color: @moon-drawer-activator-open-font-color;
			content: @moon-icon-arrowsmallup;
			background-color: @moon-drawer-open-bg-color;
		}
	}
}

/* Drawer Handles */
.moon-drawers-handle-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	.moon-drawers-handles {
		text-align: center;
		padding: 50px 0 10px;
	}

	.moon-drawers-handle {
		display: inline-block;
		text-align: start;
		width: 250px;
	}
}

.moon-drawers-container {
	position: relative;
}

.moon-drawers-client {
	position: relative;
	height: 100%;
	width: 100%;
}

/* If a video player or other controls are behind the drawers, let events pass straight through to them. */
.moon-drawers > * {
	pointer-events: all;
}
.moon-drawers,
.moon-drawers-client {
	pointer-events: none;
}
.moon-drawers-client > * {
	pointer-events: all;
}