/* Header */
.moon-expandable-picker-header {
	line-height: 1em;
	padding: 0px;
	margin: 0px 0px 4px 0px;
}
.moon-expandable-picker-header .moon-item {
	margin: 0px;
}
/* Header - Open */
.moon-expandable-picker.open .moon-expandable-list-item-header-wrapper {
	padding-bottom: 0px;
}
.moon-expandable-picker.open .moon-expandable-picker-header {
	.moon-divider-text;
	.moon-divider-border;
	margin: 0px;
}

/* Current Value */
.moon-expandable-picker-current-value {
	.moon-body-text;
	color: #4B4B4B;
	margin: 0px;
	padding: 0px;
}

/* Help Text */
.moon-expandable-picker-help-text {
  color: gray;
}
