.moon-expandable-input {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	cursor:pointer;
}
.moon-expandable-input.spotlight {
	padding:0px 0px 0px 4px;
	border-left:16px solid @moon-spotlight-border-color;
}

.moon-item.moon-expandable-input-header {
	line-height: 28px;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.moon-expandable-input.open .moon-expandable-input-header {
	.moon-divider-text;
	padding: 0px;
	border-bottom: 1px solid #aaa;
}

.moon-expandable-input-current-value {
	.moon-divider-text;
	margin: 0px;
	padding: 0px;
	line-height: 14px;
	font-weight: normal;
	margin-bottom: 8px;
}