/* ExpandableText */

.moon-expandable-text {
	overflow: hidden;

	.moon-expandable-text-content {
		margin: 0 @moon-spotlight-outset;
		display: -webkit-inline-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
	}
	.moon-expandable-text-button {
		float: right;
		display: inline-block;
		padding-right: @moon-expandable-text-button-padding;
		position: relative;

		&:after {
			position: absolute;
			top: @moon-spotlight-outset;
			right: @moon-spotlight-outset + 1px;
			font-family: @moon-icon-font-family;
			content: @moon-icon-arrowlargeup;
			font-size: @moon-expandable-caret-icon-font-size;
		}
		&.spotlight {
			color: @moon-white;
		}
		&.collapsed:after {
			content: @moon-icon-arrowlargedown;
		}
		&.hidden {
			display: none;
		}
	}
}

.enyo-locale-non-latin .moon-expandable-text .moon-expandable-text-button {
	&:after {
		top: @moon-spotlight-outset + 1px;
	}
}

.enyo-locale-right-to-left .moon-expandable-text .moon-expandable-text-button {
	float: left;
	padding-left: @moon-expandable-text-button-padding;
	padding-right: @moon-spotlight-outset;

	&:after {
		left: @moon-spotlight-outset + 1px;
		right: auto;
	}
}