/* ExpandableListItem.css */
.moon-expandable-list-item {
	padding: 0px 16px 0px 0px;
	margin: 0px;
	border-color: orange;
	overflow: hidden;
}

.moon-expandable-list-item.spotlight {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	border-left-width: 16px;
	border-left-color: orange;
	border-left-style: solid;
	padding-right: 0px;
}
.moon-expandable-list-item.open.spotlight {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	border-left-width: 0px;
	padding-right: 16px;
}

.moon-expandable-list-item.open.spotlight .moon-expandable-list-item-header {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	border-left-width: 16px;
	border-left-color: orange;
	border-left-style: solid;
	padding-right:0px;
}