/* ExpandableListItem Header*/
.moon-expandable-list-item-header {
  margin-bottom: 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.moon-expandable-list-header.moon-expandable-picker-header:after {
  top: 3px;
}

/* Client Items */
.moon-expandable-list-item.open .moon-expandable-list-item-client {
  margin-bottom: 12px;
}
.moon-expandable-list-item-client {
	.moon-item {
		.moon-body-text;
		line-height: @moon-item-line-height;

		&.spotlight {
			color: @moon-white;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&.indented {
		padding-left: @moon-item-indent + @moon-spotlight-outset;
	}
}

.enyo-locale-non-latin .moon-expandable-list-item-client .moon-item {
	.enyo-locale-non-latin .moon-body-text;
}
.enyo-locale-right-to-left .moon-expandable-list-item-client.indented {
	padding-left: 0;
	padding-right: @moon-item-indent + @moon-spotlight-outset;
}
