.moon-expandable-input {
	.moon-input-decorator {
		width: 100%;
		box-sizing: border-box;
		margin-top: @moon-spotlight-outset;
		margin-bottom: @moon-spotlight-outset;
	}
	.moon-input {
		width: 100%;
	}
}
.moon-expandable-input.open .moon-expandable-input-header {
	.moon-divider-text;
	.moon-divider-border;
	padding: 0px;
	background-image:none;
}
.enyo-locale-non-latin .moon-expandable-input.open .moon-expandable-input-header {
	.enyo-locale-non-latin .moon-divider-text;
}
