.moon-expandable-input {
	.moon-input-decorator {
		width: 100%;
		box-sizing: border-box;
		margin-top: @moon-spotlight-outset;
		margin-bottom: @moon-spotlight-outset;
	}
	.moon-input {
		width: 100%;
	}
}
.enyo-locale-non-latin.enyo-locale-th .moon-expandable-input .moon-expandable-picker-current-value {
	line-height: @moon-input-height;
}