.moon-expandable-integer-picker {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	cursor:pointer;
}
.moon-expandable-integer-picker.spotlight {
	padding:0px 0px 0px 4px;
	border-left:16px solid @moon-spotlight-border-color;
}

/* Header - Open */
.moon-expandable-integer-picker.open .moon-expandable-list-item-header {
	.moon-expandable-picker.open .moon-expandable-picker-header;
}
.moon-expandable-integer-picker.open .spotlight .moon-expandable-list-item-header {
	.moon-expandable-picker.open .spotlight .moon-expandable-picker-header;
}
