
.moon-item.moon-expandable-picker-header {
	font-size:18px;
	line-height:54px;
	height:54px;
	padding:0px 16px;
}

.moon-expandable-picker-header.open {
	line-height:22px;
	font-size:12px;
	border-bottom:1px solid #aaa;
}