.moon.enyo-hflex-layout > *,
.moon .enyo-hflex-layout > *,
.moon.enyo-vflex-layout > *,
.moon .enyo-vflex-layout > * {
	margin-top: @moon-vspacing/2;
	margin-bottom: @moon-vspacing/2;
	margin-left: @moon-hspacing/2;
	margin-right: @moon-hspacing/2;
}