/* FormCheckbox.css */

.moon-formcheckbox-item {
	position: relative;
	margin-bottom: 10px;
}

.moon-formcheckbox-item .moon-checkbox {
	position: absolute;
	left: @moon-spotlight-outset;
	width: @moon-formcheckbox-image-width;
	height: @moon-formcheckbox-image-height;
	margin-top: 2px;
	border-radius: 9999px;
	border: 0px;
	background-color: @moon-form-checkbox-bg-color;
	background-position: 10px 15px;
}
.enyo-locale-right-to-left .moon-formcheckbox-item .moon-checkbox {
	left: auto;
	right: @moon-spotlight-outset;
}
.moon-formcheckbox-item .moon-checkbox .moon-overlay {
	background: transparent @moon-checkbox-image no-repeat 3px -29px;
}
.moon-formcheckbox-item .moon-formcheckbox-item-label-wrapper > .moon-formcheckbox-item-label {
	margin: 0px 0px 0px (@moon-formcheckbox-image-width + @moon-spotlight-outset * 2);
}
.enyo-locale-right-to-left .moon-formcheckbox-item .moon-formcheckbox-item-label-wrapper > .moon-formcheckbox-item-label {
	margin: 0px (@moon-formcheckbox-image-width + @moon-spotlight-outset * 2) 0px 0px;
}
