/* FormCheckbox.css */

.moon-item.moon-formcheckbox-item {
	background: none;
	padding: 0;
	padding-right: @moon-spotlight-outset;

	.moon-checkbox {
		position: absolute;
		top: 2px;
		right: 0;
		width: @moon-checkbox-width;
		height: @moon-checkbox-width;
		border-radius: 9999px;
		background-color: @moon-form-checkbox-bg-color;
		background-position: 10px 10px;

		.moon-overlay {
			margin-top: 9px;
		}
	}

	.moon-checkbox[checked] {
		background-color: @moon-form-checkbox-bg-color;
	}

	.moon-checkbox-item-label-wrapper {
		padding: @moon-spotlight-outset;
	}

} 

.moon-item.moon-formcheckbox-item.left-handed {
	padding-left: @moon-spotlight-outset;
	padding-right: 0;
}

.enyo-locale-right-to-left {
	
	.moon-item.moon-formcheckbox-item {
		padding-left: @moon-spotlight-outset;
		padding-right: 0;
	}

	.moon-item.moon-formcheckbox-item.left-handed {
		padding-left: 0;
		padding-right: @moon-spotlight-outset;
	}

}

.moon-formcheckbox-item.spotlight {

	.moon-checkbox, 
	.moon-checkbox[checked],
	.moon-checkbox-item-label-wrapper {
		background-color: @moon-spotlight-color;
	}

}