/* FormCheckbox.css */

.moon-item.moon-formcheckbox-item {
	background: none;

	.moon-checkbox {
		background-color: @moon-form-checkbox-bg-color;
	}
}

.moon-formcheckbox-item.spotlight {
	.moon-checkbox {
		background-color: @moon-spotlight-color;
	}
	.moon-checkbox-item-label-wrapper {
		color: @moon-sub-header-text-color;
	}
}

.moon-neutral .moon-formcheckbox-item.spotlight .moon-checkbox-item-label-wrapper {
	color: @moon-white;
}