/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.moon-gridlist-imageitem {
	display: inline-block;
	overflow: hidden;
	border: 5px solid transparent;

	// need to define font-size for .caption and .sub-caption as there is a very specific rule 
	// .enyo-gridlist-imageitem.centered > .caption, .enyo-gridlist-imageitem.centered > .sub-caption
	// defined the font-size to be 10pt
	//the same rule also defined the color for .caption, need to overrided

	.caption {
		font-size: @moon-sub-header-font-size;
		color: @moon-sub-header-text-color;
	}

	.sub-caption {
		font-size: @moon-body-font-size;
		color: @moon-sub-header-text-color;
	}

	&.selected {
		border: 5px solid @moon-gridlist-item-selection-color;
		background-color: @moon-gridlist-item-selection-color;
	}

	&.spotlight {
		border: 5px solid @moon-spotlight-border-color;
		background-color: @moon-spotlight-border-color;
	}

	&.selected .caption,
	&.selected .sub-caption,
	&.spotlight .caption,
	&.spotlight .sub-caption {
		color: @moon-spotlight-text-color;
	}

	&.sized-image {

		&.use-caption,
		&.use-subcaption {
			padding-bottom: 40px;
		}

		>.caption,
		>.sub-caption {
			position: absolute;
			bottom: 0;
		}

		&.use-caption.use-subcaption {
			padding-bottom: 80px;

			> .caption {
				position: absolute;
				bottom: 35px;
			}
		}
	}
}

.enyo-locale-non-latin .moon-gridlist-imageitem {
	.caption {
		font-size: @moon-non-latin-sub-header-font-size;
	}

	.sub-caption {
		font-size: @moon-non-latin-body-font-size;
		line-height: @moon-non-latin-body-line-height;
	}
}