/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.enyo-gridlist-row {
	overflow: visible;
	background: none;
}
.moon-gridlist-imageitem {
	width: 100%;
	height: 100%;
	overflow: visible;
	background-clip: padding-box;
	border: 5px solid transparent;
	.caption, 
	.sub-caption {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.caption {
		.moon-sub-header-text;
	}
	&.no-center {
		.caption, 
		.sub-caption {
			text-align: left;
			text-align: start;
		}
	}
	.sub-caption {
		.moon-body-text;
		color: @moon-gridlist-sub-caption-color;
		line-height: 1.25em;
		height: 1.25em;
		vertical-align: bottom;
	}
	&.selected {
		border: 5px solid @moon-gridlist-item-selection-color;
		background-color: @moon-gridlist-item-selection-color;
		.caption, 
		.sub-caption {
			color: @moon-spotlight-text-color;
		}
	}
	&.spotlight {
		border: 5px solid @moon-spotlight-border-color;
		background-color: @moon-spotlight-border-color;
		.caption, 
		.sub-caption {
			color: @moon-spotlight-text-color;
		}
	}
	&.sized-image {
		&.use-caption,
		&.use-subcaption {
			padding-bottom: 40px;
		}
		>.caption,
		>.sub-caption {
			position: absolute;
			bottom: 0;
		}
		&.use-caption.use-subcaption {
			padding-bottom: 80px;
			> .caption {
				position: absolute;
				bottom: 35px;
			}
		}
	}
}

.moon-gridlist .enyo-gridlist-row:last-child {
	margin-bottom: 5*@moon-grid-gutter-width;
}
.enyo-locale-non-latin .moon-gridlist-imageitem {
	.caption {
		.enyo-locale-non-latin .moon-sub-header-text;
	}
	.sub-caption {
		.enyo-locale-non-latin .moon-body-text;
	}
}
