/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.moon-gridlist-imageitem {
	display: inline-block;
	overflow: hidden;
	border: 5px solid transparent;

	.caption {
		.moon-sub-header-text;
	}

	.sub-caption {
		.moon-body-text;
	}

	&.selected {
		border: 5px solid @moon-gridlist-item-selection-color;
		background-color: @moon-gridlist-item-selection-color;
	}

	&.spotlight {
		border: 5px solid @moon-spotlight-border-color;
		background-color: @moon-spotlight-border-color;
	}

	&.selected .caption,
	&.selected .sub-caption,
	&.spotlight .caption,
	&.spotlight .sub-caption {
		color: @moon-spotlight-text-color;
	}

	&.sized-image {

		&.use-caption,
		&.use-subcaption {
			padding-bottom: 40px;
		}

		>.caption,
		>.sub-caption {
			position: absolute;
			bottom: 0;
		}

		&.use-caption.use-subcaption {
			padding-bottom: 80px;

			> .caption {
				position: absolute;
				bottom: 35px;
			}
		}
	}
}

.enyo-locale-non-latin .moon-gridlist-imageitem {
	.caption {
		.enyo-locale-non-latin .moon-sub-header-text;
	}
	.sub-caption {
		.enyo-locale-non-latin .moon-body-text;
	}
}
