.moon-header {
	color: @moon-font-color-light;
	height: 400px;
	border-bottom: 6px solid @moon-font-color-light;
	overflow:hidden;
	min-width: 532px;
	max-width: 928px;
}
.moon-header-title-above.no-border {
	border: none;
}
.moon-header-title-above {
	font-size: @moon-header-super-text-size;
	font-weight: bold;
	line-height: @moon-header-super-text-size;
	padding: 58px 0px 5px 0px;
	margin: 0px;
	width: 30px;
	border-bottom: 1px solid @moon-font-color-light;
}
.moon-header-title {
	font-size: @moon-header-text-size;
	font-weight: bold;
	line-height: 68px;
	padding: 19px 0px 0px 0px;
	margin: 0px 0px 0px -5px;
}
.moon-header-title-below {
	font-size: @moon-header-sub-text-size;
	font-weight: normal;
	line-height: @moon-header-sub-text-size;
	padding: 6px 0px 6px 0px;
	margin: 0px;
}
.moon-header-item {
	float: right;
}