.moon-header {
	font-size: @moon-header-text-size;
	color: @moon-font-color-light;
	font-weight: bold;
	height: 394px;
	border-bottom: 6px solid @moon-font-color-light;
	overflow:hidden;
}

.moon-header-title {
	margin-top: 98px;
}

.moon-header-item {
	float: right;
}