.moon-header {
	color: @moon-header-text-color;
	border-top-color: @moon-header-border-color;
	border-bottom-color: @moon-header-bottom-border-color;
}

// neutral
.moon-neutral .moon-header {
	border-top-color: @moon-neutral-border-color;
	border-bottom-color: @moon-neutral-border-color;
}
