.moon-header {
	color: @moon-font-color-light;
	height: 400px;
	border-bottom: 6px solid @moon-font-color-light;
	overflow: hidden;
	min-width: 532px;
	position: relative;
}
.moon-header-title-above.no-border {
	border: none;
	min-height: @moon-header-super-text-size;
}
.moon-header-title-above {
	font-size: @moon-header-super-text-size;
	font-weight: normal;
	line-height: @moon-header-super-text-size;
	padding: 58px 0px 5px 0px;
	margin: 0px;
	width: 30px;
}
.moon-header-title {
	font-size: @moon-header-text-size;
	font-weight: normal;
	letter-spacing: -7px;
	line-height: 90px;
	padding: 19px 0px 0px 0px;
	margin: 0px 0px 40px -8px;
	white-space: nowrap;
}
.moon-header-title-below {
	font-family: @moon-font-family;
	font-size: @moon-text-size;
	font-weight: normal;
	line-height: @moon-text-size;
	min-height:  @moon-text-size;
	padding: 6px 0px 6px 0px;
	margin: 0px;
}
.enyo-locale-non-latin .moon-header-title-below {
	font-family: @moon-non-latin-font-family;
}
.moon-header-item {
	float: right;
}
.moon-header-client {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin-bottom: @moon-grid-gutter-height;
}
.moon-header-client > * {
	margin-left: @moon-grid-gutter-width;
}