/* IconButton.css */
.moon-icon-button {
	color: @moon-icon-button-font-color;
	box-sizing: border-box;
	width: @moon-icon-button-size;
	height: @moon-icon-button-size;
	border-radius: @moon-icon-button-size/2;
	background-color: @moon-icon-button-bg-color;
	background-size: @moon-icon-sprite-size (@moon-icon-sprite-size * 2);
	border: @moon-button-border-width solid transparent;
	background-position: center 0;
	margin: 0 @moon-spotlight-outset;
	line-height: @moon-icon-sprite-size;
	&.small {
		width: @moon-icon-button-small-size;
		height: @moon-icon-button-small-size;
		border-radius: @moon-icon-button-small-size/2;
		background-size: @moon-icon-sprite-small-size (@moon-icon-sprite-small-size * 2);
		background-position: center 0;
		line-height: @moon-icon-sprite-small-size;
	}
	&.hover:hover:not(.disabled),
	&.spotlight {
		color: @moon-spotlight-text-color;
		background-color: @moon-icon-button-spotlight-bg-color;
		background-position: center -@moon-icon-sprite-size;
		&.small {
			background-position: center -@moon-icon-sprite-small-size;
		}
	}
	&.active:not(.spotlight),
	&:active,
	&.pressed,
	&.pressed.spotlight,
	&.hover:hover:not(.disabled).active,
	&.hover:hover:not(.disabled):active {
		color: @moon-icon-button-font-color;
		background-color: @moon-icon-button-active-bg-color;
		background-position: center 0;
		border-color: @moon-icon-button-active-border-color;
	}

	&.disabled,
	&.disabled:active {
		border-color: transparent;
	}
	
	// No-background + no-background and all states
	&.no-background {
		&:not(.spotlight),
		&.active:not(.spotlight),
		&:active,
		&.pressed,
		&.pressed.spotlight,
		&.active.hover:hover,
		&:active.hover:hover {
			background-color: transparent;
		}
	}
}