/* Icon.css */
.moon-icon, .moon-icon-toggle {
	width: @moon-icon-size;
	height: @moon-icon-size;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 9px 14px;
	font-family: Moonstone, "Moonstone Icons";
	font-size: (@moon-icon-size * 2);
	line-height: @moon-icon-size;
	text-align: center;

	&.small {
  		position: relative;
		width: @moon-icon-small-size;
		height: @moon-icon-small-size;
		font-size: (@moon-icon-small-size * 2);
		line-height: @moon-icon-small-size;
		> .small-icon-tap-area {
			position: absolute;
			top: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
			bottom: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
			left: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
			right: -(@moon-button-border-width + (@moon-button-small-tap-area-height - @moon-button-small-height) / 2);
		}
	}
}

.moon-icon.moon-icon-button.active,
.moon-icon.moon-icon-button:active:hover,
.moon-icon-toggle.active {
	background-position: 0 -(@moon-icon-button-size - (@moon-button-border-width * 2));
	color: @moon-spotlight-text-color;
}

.moon-icon.disabled {
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}

.moon-icon.disabled:active:hover {
	background-position: 0 0px;
}

.moon-icon-drawer:after				{	content: "\0F0000"; }
.moon-icon-drawer.small:after		{	content: "\0F0000"; }
.moon-icon-arrowdown:after			{	content: "\0F0001"; }
.moon-icon-arrowdown.small:after	{	content: "\0F0006"; }
.moon-icon-arrowup:after			{	content: "\0F0002"; }
.moon-icon-arrowup.small:after		{	content: "\0F0005"; }
.moon-icon-arrowleft:after			{	content: "\0F0003"; }
.moon-icon-arrowleft.small:after	{	content: "\0F0007"; }
.moon-icon-arrowright:after			{	content: "\0F0004"; }
.moon-icon-arrowright.small:after	{	content: "\0F0008"; }
.moon-icon-x:after					{	content: "\0F0009"; }
.moon-icon-x.small:after			{	content: "\0F0009"; }
.moon-icon-check:after				{	content: "\0F000A"; }
.moon-icon-check.small:after		{	content: "\0F000A"; }
.moon-icon-zoom:after				{	content: "\0F000B"; }
.moon-icon-zoom.small:after			{	content: "\0F000B"; }

.moon-icon-handi {
	&:after {
		content: "\0F000C";
		content: "H";
	}
	&.small:after {
		content: "\0F000D";
		content: "h";
	}
}

.moon-icon-gear:after				{	content: "\0F000F";	content: "G"; }
.moon-icon-gear.small:after			{	content: "\0F000E";	content: "g"; }
