/* Icon.css */
.moon-icon, .moon-icon-toggle {
	width: @moon-icon-size;
	height: @moon-icon-size;
	background-position: center -((@moon-icon-sprite-size - @moon-icon-size) / 2);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: 9px 14px;
	font-family: "Moonstone", "Moonstone Icons";
	font-size: (@moon-icon-size * 2);
	line-height: @moon-icon-size;
	text-align: center;
	position: relative;
	color: @moon-icon-font-color;

	&.small {
		background-position: center -((@moon-icon-sprite-small-size - @moon-icon-small-size) / 2);
		width: @moon-icon-small-size;
		height: @moon-icon-small-size;
		font-size: (@moon-icon-small-size * 2);
		line-height: @moon-icon-small-size;
		> .small-icon-tap-area {
			position: absolute;
			top: @moon-icon-tap-area-offset;
			bottom: @moon-icon-tap-area-offset;
			left: @moon-icon-tap-area-offset;
			right: @moon-icon-tap-area-offset;
			line-height: (@moon-icon-small-size - (@moon-icon-tap-area-offset * 2));
		}
	}

	&.font-lg-icons {
		font-family: "LG Icons";
		font-size: @moon-icon-size;

		&.small {
			font-size: @moon-icon-small-size;
		}
	}
}

.spotlight .moon-icon {
	color: @moon-spotlight-text-color;
	background-position: center -(@moon-icon-sprite-size + ((@moon-icon-sprite-size - @moon-icon-size) / 2));

	&.small {
		background-position: center -(@moon-icon-sprite-small-size + ((@moon-icon-sprite-small-size - @moon-icon-small-size) / 2));
	}
}

.disabled .moon-icon,
.moon-icon.disabled {
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}

