.moon-imageitem {
	display: block;
	clear: both;
	min-width: 537px;
	margin-top: 0px;
	padding-top: 0px;
	height: 204px;
	overflow: hidden;
}
.moon-imageitem img {
	width: 135px;
	height: 195px;
	padding: 0px;
	margin: 9px 63px 9px 0px;
	display: inline-block;
	float: left;
}
.moon-imageitem.align-right img {
	float: right;
	margin-right: 0px;
	margin-left: 63px;
}