.moon-image {
	display: inline-block;
	margin: rI(0) rI(@moon-spotlight-outset);
}
.moon-image.has-children {
	position: relative;
	overflow: hidden;
}

.moon-image > .enyo-image {
	display: block;

	&.sized {
		width: 100%;
		height: 100%;
	}
}

.moon-image-client {
	position: absolute;
	bottom: rI(0);
	left: rI(0);
	right: rI(0);
	background: rgba(109, 109, 109, 1);
	padding: rI(8px);
	overflow: hidden;
	display: block;
}

.moon-image.show-on-spotlight .moon-image-client {
	display: none;
}

.spotlight .moon-image.show-on-spotlight .moon-image-client {
	display: block;
}