.moon-imageitem {
	display: block;
	clear: both;
	min-width: 536px;
}

.moon-imageitem img {
	width: 136px;
	height: 194px;
	padding: 0px;
	margin: 11px 64px 28px 0px;
	display: inline-block;
	float: left;
}

.moon-imageitem.align-right img {
	float: right;
	margin: 11px 0px 28px 64px;
}