.moon-imageitem {
	display: block;
	clear: both;
	min-width: 536px;
	margin-top: 0px;
	padding-top: 0px;
	height: 204px;
	overflow: hidden;
}
.moon-imageitem img {
	width: 136px;
	height: 194px;
	padding: 0px;
	margin: 10px 64px 10px 0px;
	display: inline-block;
	float: left;
}
.moon-imageitem.align-right img {
	float: right;
	margin-right: 0px;
	margin-left: 64px;
}