/* Input.css */
.moon-input {
	padding: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
	color: @moon-input-font-color;

	&::selection {
		color: @moon-spotlight-text-color;
		background-color: @moon-spotlight-background-color;
	}
}

.moon-input-decorator {
	.moon-focused .moon-input {
		cursor: text;
	}
	.moon-disabled .moon-input {
		cursor: default;
	}
	> input::-webkit-input-placeholder {
		color: @moon-input-placeholder-color;
	}
	> input:-moz-placeholder {
		color: @moon-input-placeholder-color;
	}
}

// moon-neutral: to override the color set by .moon-neutral *
.moon-neutral .moon-input {
   color: @moon-input-font-color;
}

.enyo-locale-right-to-left .moon-input {
	text-align: right;
}

.enyo-locale-non-latin {
	// Languages with combining accent characters
	&.enyo-locale-th, // Thai - Test Chars: ฟิ้ไััุุ
	&.enyo-locale-ar, // Arabic
	&.enyo-locale-fa, // Farsi
	&.enyo-locale-ur, // Urdu
	&.enyo-locale-ku, // Kurdish
	&.enyo-locale-he, // Hebrew
	&.enyo-locale-hi, // Hindi
	&.enyo-locale-ta, // Tamil
	&.enyo-locale-te, // Telugu
	&.enyo-locale-kn, // Kannada
	&.enyo-locale-ml, // Malayalam
	&.enyo-locale-mr, // Marathi
	&.enyo-locale-bn, // Bengali
	&.enyo-locale-pa {// Panjabi
		.moon-input-decorator .moon-input {
			font-size: 24px;
			line-height: 48px
		}
	}
}