/* Input.css */
.moon-input {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	font-size: @moon-input-font-size;
	line-height: @moon-input-font-size;
	height: @moon-input-font-size;
	font-family: @moon-input-font-family;
	color: @moon-input-font-color;
	text-transform: uppercase;
}
.moon-input-decorator.moon-focused .moon-input {
	cursor: text;
}
.moon-input-decorator.moon-disabled .moon-input {
	cursor: default;
}
.moon-input-decorator > input::-webkit-input-placeholder {
	color: #7d7d7d;
}
.moon-input-decorator > input:-moz-placeholder {
	color: #7d7d7d;
}
/* IE10 */
.moon-input-decorator > input:-ms-input-placeholder {
	color: #7d7d7d;
}