/* InputDecorator.css */
.moon-input-decorator {
	margin: 0px;
	padding: 8px 35px 12px 35px;
	border-radius: 29px;
	-moz-border-radius: 29px;
	border: @moon-input-border-width solid transparent;
	background-color: white;
	font-size: @moon-sub-text-size;
	
	/* Clip the background to allow for transparent border */
	border: @moon-input-border-width solid @moon-input-border-color;
	-webkit-background-clip: padding;  /* Safari */
	background-clip: padding-box;      /* Firefox 4+, Chrome, IE 9+ */
}
.moon-input-decorator.spotlight {
	border: @moon-input-border-width solid @moon-spotlight-border-color;
}
.moon-input-decorator.moon-disabled {
	opacity: 0.4;
}
.moon-input-decorator.moon-focused {
	border: @moon-input-border-width solid @moon-spotlight-border-color;
}