.moon-input-header-input-decorator {
	margin: 2px 0px 0px;
	padding: 0px;
	background-color: transparent;

	border-left-width: 0px;
	border-left-style: solid;
	border-color: transparent;
}
.moon-input-header > .moon-input-header-input-decorator > .moon-input {
	padding: 0px 0px 0px 4px;
	width: 95%;
	font-family: @moon-alt-font-family;
	font-size: @moon-header-text-size;
	font-weight: bold;
	line-height: @moon-header-text-size;
	height: @moon-header-text-size;
	color: @moon-dark-gray;
	display: block;
}
.moon-input-header > .moon-input-header-input-decorator.spotlight{
	border-left-width: 4px;
	border-color: @moon-orange;
}
.moon-input-header > .moon-input-header-input-decorator.moon-focused {
	background-color: transparent;
	border-left-width: 0px;
}
