.moon-input-header-input-decorator {
	margin: -1px 0px 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
    box-sizing: border-box;
	background-color: transparent;
}
.moon-input-header > .moon-input-header-input-decorator > .moon-input {
	.moon-header-text;
	margin: 0px;
	padding-left: 1px;
	height: @moon-header-font-size;
	display: inline-block;
	box-sizing: border-box;
	line-height: @moon-header-font-size;
	color: @moon-dark-gray;
}
.moon-input-header > .moon-input-header-input-decorator > img {
	width: 66px;
	box-sizing: border-box;
	display: none;
}
.moon-input-header > .moon-input-header-input-decorator.spotlight > img {
	display: inline-block;
}
