/* IntegerScrollPicker.css */
.moon-scroll-picker-container {
	display: inline-block;
}
.moon-scroll-picker {
	height:102px;
	min-width: @moon-picker-min-width;
	border-top-width:30px;
	border-top-style: solid;
	border-top-color:transparent;	
	border-bottom-width:25px;
	border-bottom-style: solid;
	border-bottom-color:transparent;
	border-radius:@moon-button-border-radius;	
}

.moon-scroll-picker.spotlight {
	border-top-color: @moon-spotlight-border-color;
	border-bottom-color: @moon-spotlight-border-color;
	background: @moon-spotlight-border-color;
}

.moon-scroll-picker-item {
	white-space:nowrap;
	padding-right: @moon-picker-min-padding;
	padding-left: @moon-picker-min-padding;
	padding-bottom: 2px;
	height:102px;
	line-height:102px;
	vertical-align:middle;
	text-align:center;
	background:transparent;
}

.moon-scroll-picker-overlay-container-top {
	position:relative;	
	z-index:1;
}

.moon-scroll-picker-overlay-top {
	position:absolute;
	height:40px;
	width:100%;
	border-width: 10px;
	border-radius:@moon-button-border-radius;	
	border-top-width:40px;
	border-top-style: solid;
	border-top-color: @moon-shadow-color;	
}

.moon-scroll-picker-overlay-top-border {
	position:absolute;
	height:40px;
	width:100%;
	border-width: 10px;
	border-radius:@moon-button-border-radius;	
	border-top-width:40px;
	border-top-style: solid;
	border-top-color: @moon-spotlight-border-color;
  	bottom:-86px;
	overflow: hidden;
}

.moon-scroll-picker-overlay-container-bottom {
	position:relative;	
	z-index:1;
	top:107px;
}

.moon-scroll-picker-overlay-bottom {
	position:absolute;
	height:40px;
	width:100%;
	border-width: 10px;
	border-radius:@moon-button-border-radius;	
	border-bottom-width:40px;
	border-bottom-style: solid;
	border-bottom-color: @moon-shadow-color;	
	bottom: -50px;
}

.moon-scroll-picker-overlay-bottom-border {
	position:absolute;
	height:40px;
	width:100%;
	border-width: 10px;
	border-radius:@moon-button-border-radius;	
	border-bottom-width:40px;
	border-bottom-style: solid;
	border-bottom-color: @moon-spotlight-border-color;
  	bottom:-44px;
}

.up-arrow-container {
	position:relative;
	z-index:10;
	top:3px;
	left:50%;
	margin-left: -15px;
}

.up-arrow {
	height:29px;
	width:29px;
	background: @moon-carat-black-large-up-icon 0 0 no-repeat;
	position:absolute;
}

.up-arrow > .taparea,
.down-arrow > .taparea {
	position: absolute;
	height: 78px;
	width: 78px;
	top: -40px;
	left: -40px;
	background-color: transparent;
}

.up-arrow-container.spotlight .up-arrow {
}

.up-arrow-container.selected .up-arrow {	
	background-image: @moon-carat-black-small-up-icon;
}

.up-arrow-border {
}

.up-arrow-container.selected .up-arrow-border {
}

.down-arrow-container {
	position:relative;
	z-index:10;
	top:128px;
	left:50%;
	margin-left: -15px;
}

.enyo-locale-right-to-left .down-arrow-container {
}

.down-arrow {
	height:29px;
	width:29px;
	background: @moon-carat-black-large-down-icon 0 0 no-repeat;
	position:absolute;
}

.down-arrow-container.selected .down-arrow {
	background-image: @moon-carat-black-small-down-icon;
}

.enyo-locale-right-to-left .down-arrow-container.selected .down-arrow {
}

.down-arrow-container.spotlight .down-arrow {
}

.down-arrow-border {
}

.down-arrow-container.selected .down-arrow-border {
}

 .enyo-locale-right-to-left .down-arrow-container.selected .down-arrow-border {
}
