/* Item.css */
.moon-item {
	.moon-sub-header-text;
	border-width: 0 0;
	border-left-color: transparent;
	border-left-style: solid;
	line-height: @moon-item-line-height;
	padding: @moon-spotlight-outset;
	vertical-align: top;
	position: relative;
}
.moon-item.allow-wrap {
	white-space: normal !important;
}

.enyo-locale-non-latin .moon-item {
	.enyo-locale-non-latin .moon-sub-header-text;
}

.moon-item.disabled {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-item.spotlight {
	background-color: @moon-accent;
	color: @moon-white;
}

/* ItemOverlay.css */
.moon-item .moon-item-overlay {
	float: left;
}
.moon-item:not(.spotlight) .moon-item-overlay.auto-hide {
	display: none;
}
.moon-item.spotlight .moon-item-overlay.auto-hide {
	display: block;
}
.moon-item .moon-item-overlay.right {
	float: right;
}
.moon-item .moon-item-overlay .moon-icon {
	margin-top: -1px;
	margin-bottom: -1px;
}
.enyo-locale-right-to-left .moon-item .moon-item-overlay {
	float: right;
}
.enyo-locale-right-to-left .moon-item .moon-item-overlay.right {
	float: left;
}
