/* Item.css */
.moon-item {
	.moon-sub-header-text;
	transition: border-width 0.1s linear, padding 0.1s linear, margin 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear, margin 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear, margin 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear, margin 0.1s linear;
	border-width: 0 0;
	border-left-color: transparent;
	border-left-style: solid;
	line-height: @moon-item-line-height;
	margin: 0px 0px 26px 0px;
	padding: 2px 0px 0px 0px;
	vertical-align: top;
	position: relative;
}
.moon-item.disabled {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-item.spotlight {
	border-style: @moon-spotlight-border-style;
	border-color: @moon-spotlight-border-color;
	line-height: @moon-item-line-height;
	color: @moon-spotlight-text-color;
}
.moon-item-overlay {
	transition: @moon-spotlight-overlay-transition;
	-webkit-transition: @moon-spotlight-overlay-transition;
	-moz-transition: @moon-spotlight-overlay-transition;
	-o-transition: @moon-spotlight-overlay-transition;
	position: absolute;
	width: 0px;
	height: 0px;
	background-color: @moon-spotlight-border-color;
}
.moon-item.locale-default.overlay.spotlight, .moon-item.top.overlay.spotlight, .moon-item.bottom.overlay.spotlight, .moon-item.left.overlay.spotlight, .moon-item.right.overlay.spotlight {
	border-width: 0px;
}

.moon-item.top.spotlight:not(.overlay) {
	border-top-width: 16px;
	margin-bottom: -16px;
}
.moon-item.bottom.spotlight:not(.overlay) {
	border-bottom-width: 16px;
	margin-top: -16px;
}
.moon-item-left-spotlight-not-overlay {
	border-left-width: 16px;
	border-right-width: 0px;
	padding-left: 4px;
}
.moon-item.left.spotlight:not(.overlay) {
	.moon-item-left-spotlight-not-overlay;
}
.moon-item-right-spotlight-not-overlay {
	border-right-width: 16px;
	border-left-width: 0px;
	padding-right: 4px;
}
.moon-item.right.spotlight:not(.overlay) {
	.moon-item-right-spotlight-not-overlay;
}
.moon-item.locale-default.spotlight:not(.overlay) {
	.moon-item-left-spotlight-not-overlay;
}
.enyo-locale-right-to-left {
	.moon-item.locale-default.spotlight:not(.overlay) {
		.moon-item-right-spotlight-not-overlay;
	}
}
.moon-item.top.spotlight > .moon-item-overlay, .moon-item.bottom.spotlight > .moon-item-overlay {
	height: 16px;
}
.moon-item.left.spotlight > .moon-item-overlay, .moon-item.right.spotlight > .moon-item-overlay {
	width: 16px;
}
