/* Item.css */
.moon-item {
	.moon-no-border();
	font-family: @moon-font-family;
	font-size: @moon-item-font-size;
	font-weight: bold;
	line-height: @moon-item-line-height;
	color: @moon-font-color-light;
	margin: 0px 0px 32px 0px;
	padding: 2px 0px 0px 0px;
	text-transform: uppercase;
}
.moon-item.disabled {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-item.spotlight {
	padding-left: 4px;
	border-left: 16px solid @moon-spotlight-border-color;
	line-height: @moon-item-line-height;
	vertical-align: bottom;
}