.moon-labeled-checkbox {
	display: block;
	position:relative;
}
.moon-labeled-checkbox .moon-labeled-checkbox-label-wrapper {
	height: 24px;
	-webkit-mask-image: -webkit-linear-gradient(right, transparent 20px, white 50px);
	padding: 2px 0px 0px 0px;
}
.moon-labeled-checkbox.spotlight .moon-labeled-checkbox-label-wrapper {
	-webkit-mask-image: -webkit-linear-gradient(right, transparent (@moon-no-spotlight-padding-right + 20), white (@moon-no-spotlight-padding-right + 40));
}
.moon-labeled-checkbox .moon-labeled-checkbox-label {
	float: left;
	white-space: nowrap;
}
.moon-labeled-checkbox .moon-checkbox {
	position:absolute;
	top:0px;
	right:0px;
	margin-top: -1px;
}
.moon-labeled-checkbox .moon-checkbox[checked] {
	background-color:transparent;
}
.moon-labeled-checkbox.disabled, .moon-labeled-checkbox .moon-checkbox[disabled] {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}