.moon-labeledtextitem {
	min-width: 336px;
	height: 222px;
	overflow: hidden;
}

.moon-labeledtextitem .label {
	font-family: @moon-font-family;
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	color: @moon-font-color-light;
	border-top: 1px solid #A2A2A2;
	margin: 9px 0px 3px 0px;
	padding: 6px 0px 0px 0px;
	text-transform: uppercase;
}

.moon-labeledtextitem .text {
	font-family: @moon-sub-font-family;
	font-size: @moon-sub-text-size;
	color: @moon-font-color-light;
	line-height: 24px;
	text-transform: none;
	margin: 0px;
	padding: 0px;
}