
.moon-labeled-checkbox {
	height: @moon-checkbox-image-height;
	display: block;
}
.moon-labeled-checkbox .moon-labeled-checkbox-label {
	line-height: 40px;
	float: left;
	width: 158px;
	height: @moon-checkbox-image-height;
	overflow: hidden;
	-webkit-mask-image: -webkit-gradient(
		linear, 100% center, 80% center,
		from(rgba(0,0,0,0)), to(rgba(0,0,0,1))
	);
	white-space: nowrap;
}
.moon-labeled-checkbox .moon-checkbox {
	float:right;
}

.moon-labeled-checkbox.spotlight .moon-labeled-checkbox-label {
	.moonrakerSpotlight(width 0.1s linear, padding 0.1s linear);
	width:138px;
	padding-left:4px;
}