
.moon-labeled-checkbox {
	height: @moon-checkbox-image-height;
	display: block;
	position:relative;
}
.moon-labeled-checkbox .moon-labeled-checkbox-label {
	line-height: 40px;
	float: left;
	height: @moon-checkbox-image-height;
	overflow: hidden;
	white-space: nowrap;
}
.moon-labeled-checkbox .moon-checkbox {
	position:absolute;
	top:0px;
	right:0px;
	background-color:#fff;
	-webkit-mask-image: -webkit-gradient(
		linear, 0% center, 20% center,
		from(rgba(0,0,0,0)), to(rgba(0,0,0,1))
	);
}

.moon-labeled-checkbox .moon-checkbox[checked] {
	background-color:#fff;
}
