.moon-labeledtextitem {
	min-width: 336px;
	height: 194px;
	overflow: hidden;
}
.moon-labeledtextitem .label {
	font-size: 28px;
	// font-weight: bold;
	line-height: 28px;
	color: @moon-font-color-light;
	border-top: 1px solid #A2A2A2;
	margin: 0px 0px 3px 0px;
	padding: 6px 0px 0px 0px;
}
.moon-labeledtextitem .text {
	font-family: @moon-font-family-light;
	font-size: @moon-thin-text-size;
	color: @moon-font-color-light;
	line-height: 35px;
	text-transform: none;
	margin: 0px;
	padding: 0px;
}
.enyo-locale-non-latin .moon-labeledtextitem .text {
	font-family: @moon-non-latin-font-family;
}
.moon-labeledtextitem.spotlight {
	padding-left: 15px;
	border-left-width: 25px;
}
.moon-labeledtextitem.selected {
	background: #CCCCCC;
}