/* List Actions */
.moon-list-actions {
	position:relative;
	display:inline-block;
	overflow:visible;
	.moon-icon-button {
		margin:0;
	}
}
.moon-list-actions-drawer-popup {
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}
.moon-list-actions-client-container {
	background-color: white;
	margin-top: 60px;
}

/* Close button */
.moon-list-actions-close {
	position: absolute;
	right: 0;
	z-index: 2;
	margin: 10px;
	border-radius: @moon-button-border-radius;
	line-height: @moon-button-line-height;
	background-color: @moon-list-actions-close-bg-color;
	border: @moon-button-border-width solid transparent;
	width:40px;
	height:40px;
}
.moon-list-actions-close::after {
	.moon-body-text;
	content:"\2716";
	position: relative;
	top: 3px;
	left:10px;
}

/* Scroller */
.moon-list-actions-scroller {
	margin: 0px;
	padding: 0px;
}

/* Action menu */
.moon-list-actions-menu-single {
	display: inline-block;
	vertical-align: top;	
	width: 100%;
}
.moon-list-actions-menu-multiple {
	display: inline-block;
	vertical-align: top;
	margin: 0px 2px;	
	width: 300px;
	float: right;
}

/* Drawer */
.moon-list-actions-drawer {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.moon-list-actions-drawer-client {
	position: absolute;
	width: 100%;
	height: 100%;
}
