/* List Options */
.moon-list-options-current-value {
	font-family: @moon-sub-font-family;
	font-size: @moon-sub-text-size;
	margin:0px;
	padding-bottom:5px;
	height:26px;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.moon-list-options-client {
	display:inline-block;
	float:right;
	padding: 0px;
	margin: 142px 0px 0px 0px;
}
.moon-list-options-client div {
	display:inline-block;
	vertical-align: middle;
	font-size: @moon-sub-text-size;
	line-height: @moon-sub-text-size;
	padding: 10px;
}
.moon-list-options-activator {
	border-radius: @moon-button-border-radius;
	line-height: @moon-button-line-height;
	background-color: @moon-light-gray;
	border: @moon-button-border-width solid transparent;
	float:right;
	width:40px;
	height:40px;
	min-width:40px;
	padding: 0px 0px 0px 0px;
	margin: 142px 0px 0px 0px;
}
.moon-list-options-activator.spotlight {
	background: @moon-spotlight-border-color;
}
.moon-list-options-activator::after {
	content:"\2630";
	font-size:25px;
	position: relative;
	top: -13px;
}
.moon-list-options-scroller {
	height:440px;
	margin: 0px;
	padding: 0px;
}
.moon-list-options-container {
	float:right;
	height:440px;
	margin: 0px;
	padding: 0px;
}
.moon-list-options-menu {
	display:inline-block;
	vertical-align:top;
	width: 440px;
	height: 440px;
	margin: 31px;
	padding: 0px;
}