/* List Actions */
.moon-list-actions {
	position:relative;
	display:inline-block;
	overflow:visible;
	.moon-icon-button {
		margin:0;
	}
}
.list-actions-drawer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.moon-header .list-actions-drawer {
	top: -@moon-header-border-top-width;
	bottom: -@moon-header-border-bottom-width;
}

/* Close button */
.moon-icon-button.moon-list-actions-close {
	position: absolute;
	right: 9px;
	top: 9px;
	z-index: 2;
}
.enyo-locale-right-to-left .moon-icon-button.moon-list-actions-close {
	right: auto;
	left: 9px;
}

/* Scroller */
.moon-list-actions-scroller {
	margin: 18px;
	margin-right: @moon-icon-button-small-size + 18px;
	padding: 0px;
	z-index: 1;
}
.enyo-locale-right-to-left .moon-list-actions-scroller {
	margin-right: 9px;
	margin-left: @moon-icon-button-small-size + 18px;
}

/* Action menu */
.moon-list-actions-menu {
	display: inline-block;
	vertical-align: top;
	width: 300px;		/* Do not change - used in JS */
	min-width: 300px;	/* Do not change - used in JS */
	float: right;
	box-sizing: border-box;
}
.enyo-locale-right-to-left .moon-list-actions-menu {
	float: left;
}

.moon-list-actions-drawer.proportional-width.stacked .moon-list-actions-menu {
	width: 100% !important;
}
.moon-list-actions-drawer.stacked .moon-list-actions-menu {
	margin-bottom: 18px;
	clear: both;
}
.moon-list-actions-menu .enyo-scroller {
	max-width: 100%;
}

/* Drawer */
.moon-list-actions-drawer {
	overflow: hidden;
	z-index: 50;
	pointer-events: none;
	* {
		pointer-events: auto;		
	}

	&.stacked .moon-list-actions-menu {
		display: block;
	}
}
.moon-list-actions-drawer-client {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(0) translateY(100%);

	&.open {
		-webkit-transform: translateZ(0) translateY(0);
	}
	&.animated {
		-webkit-transition: -webkit-transform .225s cubic-bezier(0.25, 0.1, 0.25, 1);
	}
}
.moon-medium-header .moon-list-actions-drawer-client,
.moon-small-header .moon-list-actions-drawer-client {
	-webkit-transform: translateZ(0) translateY(-100%);

	&.open {
		-webkit-transform: translateZ(0) translateY(0);
	}
}
.moon-list-actions.stacked .enyo-fittable-rows-layout > * {
	height: auto !important;	
}
.moon-panels .moon-header .moon-list-actions-drawer {
	pointer-events: none;
}