.font-kerning {
	-webkit-font-kerning: normal;
	font-kerning: normal;
}

// mixin classes for create the moontone text classes
.moon-sub-header-text-base (@font-size, @font-color) {
	font-family: @moon-sub-header-font-family;
	font-size: rI(@font-size);
	color: @font-color;
}
/* Text definitions */

.moon-header-font {
	font-family: @moon-alt-font-family;
}
.moon-superscript {
	font-size: rI(@moon-superscript-text-size);
	vertical-align: top;
	margin: rI(0) rI(0) rI(0) rI(2px);
	padding: rI(0);
}
.moon-pre-text {
	font-size: rI(@moon-pre-text-size);
	vertical-align: top;
	height:  rI(@moon-large-text-size);
	line-height: rI(@moon-pre-text-size);
	margin: rI(12px) rI(2px) rI(8px) rI(0);
	padding: rI(0px);
}
.moon-large-text {
	font-size: rI(@moon-large-text-size);
	vertical-align: top;
	height: rI(@moon-large-text-size);
	margin: rI(0);
	padding: rI(0);
}
.moon-header-text {
	font-family: @moon-header-font-family;
	font-size: rI(@moon-header-font-size);
	.font-kerning
}
.moon-sub-header-text {
	.moon-sub-header-text-base (rI(@moon-sub-header-font-size), @moon-sub-header-text-color);
}
.moon-super-header-text {
	font-family: @moon-super-header-font-family;
	font-size: rI(@moon-super-header-font-size);
	-webkit-font-kerning: normal;
}
.moon-popup-header-text {
	font-family: @moon-popup-header-font-family;
	font-size: rI(@moon-popup-header-font-size);
	-webkit-font-kerning: normal;
}
.moon-divider-text {
	font-family: @moon-divider-font-family;
	font-size: rI(@moon-divider-font-size);
	color: @moon-divider-text-color;
}
.moon-body-text {
	font-family: @moon-body-font-family;
	font-size: rI(@moon-body-font-size);
	color: @moon-body-text-color;
	line-height: rI(@moon-body-line-height);
	a:link {color: @moon-spotlight-color; text-decoration: none;}
	a:visited {color: @moon-spotlight-color; text-decoration: none;}
	a:hover {color: @moon-spotlight-color; text-decoration: none;}
	a:active {color: @moon-spotlight-color; text-decoration: none;}
}
.moon-body-large-text {
	font-size: rI(@moon-body-font-size + 2);
	line-height: rI(@moon-body-line-height + 8);
}
.moon-bold-text {
	font-family: @moon-font-family-bold;
	font-size: rI(@moon-body-font-size);
	color: @moon-body-text-color;
	line-height: rI(@moon-body-line-height);
	a:link {color: @moon-spotlight-color; text-decoration: none;}
	a:visited {color: @moon-spotlight-color; text-decoration: none;}
	a:hover {color: @moon-spotlight-color; text-decoration: none;}
	a:active {color: @moon-spotlight-color; text-decoration: none;}
}
.moon-body-text-spacing {
	margin: rI(0) rI(@moon-spotlight-outset) rI(@moon-grid-row-height) rI(@moon-spotlight-outset);
}
.moon-large-button-text {
	font-family: @moon-button-font-family;
	font-size: rI(@moon-button-large-font-size);
	-webkit-font-kerning: normal;
}
.moon-small-button-text {
	font-family: @moon-button-font-family;
	font-size: rI(@moon-button-small-font-size);
	-webkit-font-kerning: normal;
}
.moon-icon-text {
	font-family: @moon-icon-font-family;
	font-size: rI(@moon-icon-font-size);
	color: @moon-icon-color;
}

.enyo-locale-non-latin {
	// Medium weighted classes
	.moon,
	.moon input,
	.moon textarea,
	.moon button,
	.moon-large-text,
	.moon-header-text,
	.moon-header-font,
	.moon-popup-header-text,
	.moon-super-header-text {
		font-family: @moon-non-latin-font-family;
	}

	// Light weighted classes
	.moon-body-text,
	.moon-superscript,
	.moon-pre-text {
		font-family: @moon-non-latin-font-family-light;
	}
	// Bold weighted classes
	.moon-sub-header-text,
	.moon-divider-text,
	.moon-bold-text,
	.moon-large-button-text,
	.moon-small-button-text {
		font-family: @moon-non-latin-font-family-bold;
	}

	.moon {
		font-size: rI(@moon-non-latin-sub-header-font-size);
	}
	.moon-superscript {
		font-size: rI(@moon-non-latin-superscript-text-size);
	}
	.moon-pre-text {
		font-size: rI(@moon-non-latin-pre-text-size);
	}
	.moon-large-text {
		font-size: rI(@moon-non-latin-large-text-size);
	}
	.moon-header-text {
		font-size: rI(@moon-non-latin-header-font-size);
		line-height: rI(@moon-non-latin-header-text-line-height);
	}
	.moon-popup-header-text {
		font-size: rI(@moon-non-latin-popup-header-font-size);
	}
	.moon-sub-header-text {
		font-size: rI(@moon-non-latin-sub-header-font-size);
	}
	.moon-super-header-text {
		font-size: rI(@moon-non-latin-super-header-font-size);
	}
	.moon-divider-text {
		font-size: rI(@moon-non-latin-divider-font-size);
		font-style: normal;
	}
	.moon-body-text {
		font-size: rI(@moon-non-latin-body-font-size);
		line-height: rI(@moon-non-latin-body-line-height);
	}
	.moon-body-large-text {
		font-size: rI(@moon-non-latin-body-font-size + 2);
		line-height: rI(@moon-non-latin-body-line-height + 8);
	}
	.moon-bold-text {
		font-size: rI(@moon-non-latin-body-font-size);
		line-height: rI(@moon-non-latin-body-line-height);
	}
	.moon-large-button-text {
		font-size: rI(@moon-non-latin-button-large-font-size);
		font-weight: normal;
	}
	.moon-small-button-text {
		font-size: rI(@moon-non-latin-button-small-font-size);
		font-weight: normal;
	}
}