/* Import font styles */
@import "moonraker-fonts.less";

.moon {
	font-family: @moon-font-family;
	font-size: @moon-text-size;
	text-transform: uppercase;
}

.moon-no-border {
	-webkit-transition: @moon-spotlight-transition;
	border-left-width: @moon-no-spotlight-border-width;
	border-left-color: @moon-no-spotlight-border-color;
	border-left-style: @moon-no-spotlight-border-style;
	padding-left: @moon-no-spotlight-padding-left;
	padding-right: @moon-no-spotlight-padding-right;
}

.moon-border {
	border-left-width: @moon-spotlight-border-width;
	border-left-color: @moon-spotlight-border-color;
	border-left-style: @moon-spotlight-border-style;
	padding-left: @moon-spotlight-padding-left;
	padding-right: @moon-spotlight-padding-right;
}

/* Individual widget CSS */
@import "SimplePicker.less";
@import "Checkbox.less";
@import "Toggle.less";
@import "LabeledCheckbox.less";
@import "Item.less";
@import "Button.less";
@import "RadioButton.less";
@import "ExpandableListItem.less";
@import "ExpandablePicker.less";
@import "Header.less";
@import "GridList.less";