/* ----- MISO ------ */

@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("Miso"),
    url("../fonts/miso/miso-regular.woff") format("woff"),
    url("../fonts/miso/miso-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("Miso"),
    url("../fonts/miso/miso-bold.woff") format("woff"),
    url("../fonts/miso/miso-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("Miso"),
    url("../fonts/miso/miso-light.woff") format("woff"),
    url("../fonts/miso/miso-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+00-FF;
}

/* ----- Museo Sans ------ */

@font-face {
  font-family: "MuseoSans Light";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Light";
  src: local("☺"),
    url("../fonts/MuseoSans/MuseoSans-100.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSans-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans 300";
  src: local("LG Display-Regular");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 300";
  src: local("Museo Sans"),
  url("../fonts/MuseoSans/MuseoSans-300.woff") format("woff"),
  url("../fonts/MuseoSans/MuseoSans-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans Medium";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Medium";
  src: local("Museo Sans"),
    url("../fonts/MuseoSans/MuseoSans-500.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSans-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("LG Display-Regular");
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("Museo Sans"),
    url("../fonts/MuseoSans/MuseoSans-500Italic.woff") format("woff"),
    url("../fonts/MuseoSans/MuseoSans-500Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("Museo Sans"),
  url("../fonts/MuseoSans/MuseoSans-700.woff") format("woff"),
  url("../fonts/MuseoSans/MuseoSans-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("Museo Sans"),
  url("../fonts/MuseoSans/MuseoSans-700Italic.woff") format("woff"),
  url("../fonts/MuseoSans/MuseoSans-700Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}

@font-face {
  font-family: "MuseoSans Bold";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: "MuseoSans Bold";
    src: local("Museo Sans"),
         url("../fonts/MuseoSans/MuseoSans-900.woff") format("woff"),
         url("../fonts/MuseoSans/MuseoSans-900.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+00-FF;
}

@font-face {
    font-family: "MuseoSans Bold Italic";
    src: local("LG Display-Regular");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "MuseoSans Bold Italic";
    src: local("Museo Sans"),
         url("../fonts/MuseoSans/MuseoSans-900Italic.woff") format("woff"),
         url("../fonts/MuseoSans/MuseoSans-900Italic.ttf") format("truetype");
    font-style: italic;
    unicode-range: U+00-FF;
}

/* ----- Moonstone ------ */

@font-face {
  font-family: "Moonstone Icons";
  src: local("☺"),
    url("../fonts/moonstone.woff") format("woff"),
    url("../fonts/moonstone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* ----- LG Display ------ */

@font-face {
  font-family: "LG Display";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}