.resolution-independence(@property, @sizeValues, @otherValues) {
	@convertedProperty: @property;
	.convertLoop();
	.convertLoop(@amount : length(@sizeValues), @i : 1) when (@i =< @amount) {
		@sizeValue: extract(@sizeValues, @i);
		& when (iskeyword(@sizeValue)) {
			@remValue : unit(@sizeValue);
			@{convertedProperty}+_ : ~"@{remValue}";
		}
		& when not (iskeyword(@sizeValue)) {
			@remValue : unit(@sizeValue) / @moonstone-root-size;
			& when not (@remValue = 0) {
				@{convertedProperty}+_ : ~"@{remValue}rem";
			}
			& when (@remValue = 0) {
				@{convertedProperty}+_ : @remValue;
			}
		}
		.convertLoop(@amount, (@i + 1));
	}
	& when not (@otherValues = false) {
		@{convertedProperty}+_ : @otherValues;
	}
}

.rI(@property, @sizeValues, @otherValues : false) {
	.resolution-independence(@property, @sizeValues, @otherValues);
}