/* Import font styles */
@import "moonraker-fonts.less";

/* Individual widget CSS */
@import "SimplePicker.less";
@import "Checkbox.less";
@import "LabeledCheckbox.less";

.moonrakerSpotlight(@trans, @trans2:X, ...) {
	@props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
	-webkit-transition: @moon-spotlight-transition, @props;
	border-left-width: @moon-spotlight-border-width;
	border-left-color: @moon-spotlight-border-color;
	border-left-style: @moon-spotlight-border-style;
}