/* Moonstone Dark Theme */
@moon-dark-gray: #4B4B4B;
@moon-light-gray: #EDEDED;
@moon-orange: #FFB80D;
@moon-black: #000000;
@moon-pink: #ff2f7d;
@moon-white: #ffffff;

@moon-background-color: @moon-black;
@moon-sub-header-text-color: #999999;
@moon-divider-text-color: #999999;
@moon-sup-header-text-color: #cccccc;
@moon-header-text-color: #dddddd;
@moon-body-text-color: #b2b2b2;
@moon-spotlight-text-color: @moon-white;
@moon-spotlight-background-color: @moon-pink;
@moon-spotlight-border-color: @moon-pink;
@moon-spotlight-color: @moon-pink;
@moon-button-background-color: #404040;
@moon-divider-border-color: #404040;
@moon-active-border-color: #A2A2A2;
@moon-button-disabled-bg-color: #262626;
@moon-button-disabled-text-color: #4d4d4d;

@moon-font-color-light: #4B4B4B;
@moon-light-text-color: @moon-dark-gray;
@moon-shadow-color: rgba(0, 0, 0, 0.13);
@moon-input-font-color: #868686;
@moon-input-border-color: rgb(234, 234, 234);
@moon-input-textarea-color: #4b4b4b;
@moon-tooltip-bg-color: #686868;
@moon-tooltip-text-color: @moon-white;
@moon-toggle-text-color: @moon-sub-header-text-color;
@moon-checkbox-toggle-text-color: @moon-spotlight-color;

@moon-slider-nofocus-bg-color: @moon-white;
@moon-slider-focus-bg-color: @moon-spotlight-color;
@moon-slider-popup-text-color: @moon-white;
@moon-slider-spotlight-knob-color: @moon-spotlight-color; 
@moon-slider-spotlight-bar-color: @moon-spotlight-color;
@moon-slider-knob-bg-color: #404040;

@moon-simple-picker-item-text-color: @moon-sub-header-text-color;
@moon-simple-picker-button-text-color: @moon-sub-header-text-color;

@moon-underline-overlay-color: #A2A2A2;
@moon-searchheader-above-border-color: @moon-font-color-light;
@moon-scrim-translucent-bg-color: #000000;
@moon-button-bar-bg-color: #A2A2A2;
@moon-radio-item-text-color: @moon-sub-header-text-color;

@moon-progress-bar-bar-bg-color: @moon-white;
@moon-progress-bar-bg-color: #7d7d7d;
@moon-progress-bg-color: #323232;
@moon-popup-close-text-color: #4b4b4b;
@moon-popup-close-spotlight-color: @moon-spotlight-color;
@moon-popup-close-bg-color: @moon-background-color;

@moon-panels-scrim-bg-color: rgba(100, 100, 100, 0.5);
@moon-list-actions-divider-color: white;
@moon-list-actions-close-bg-color: @moon-light-gray;
@moon-list-actions-border-color: #4b4b4b;

@moon-item-selected-bg-color: @moon-background-color;
@moon-labeled-item-text-color: @moon-font-color-light;
@moon-label-text-color: @moon-font-color-light;
@moon-label-border-color: @moon-active-border-color;
@moon-integer-picker-item-bg-color: @moon-background-color;
@moon-input-header-text-color: @moon-header-text-color;
@moon-input-decorator-bg-color: @moon-background-color;

@moon-icon-button-bg-color: @moon-button-background-color;
@moon-icon-button-active-border-color: @moon-spotlight-color;
@moon-icon-button-active-bg-color: @moon-button-background-color;
@moon-icon-button-spotlight-bg-color: @moon-spotlight-color;
@moon-highlight-text-color: @moon-spotlight-color;
@moon-header-border-color: @moon-divider-border-color;

@moon-gridlist-sub-caption-color: @moon-body-text-color;
@moon-gridlist-caption-color: @moon-sub-header-text-color;
@moon-gridlist-item-border-color: @moon-active-border-color;

@moon-form-checkbox-bg-color: #404040;

@moon-help-text-color: @moon-sub-header-text-color;
@moon-expandable-picker-text-color: @moon-sub-header-text-color;
@moon-expandable-input-border-color: @moon-spotlight-color;
@moon-expandable-input-text-color: @moon-input-font-color;

@moon-drawer-up-border-color: #404040;
@moon-drawer-after-border-color: white;
@moon-drawer-open-bg-color: white;
@moon-drawer-bg-color: #404040;
@moon-drawer-handle-text-color: white;

@moon-contextual-popup-bg-color: #686868;
@moon-contextual-popup-text-color: @moon-white;
@moon-contextual-popup-border-color: transparent;

@moon-calendar-picker-date-color: @moon-white;
@moon-calendar-picker-date-shadow-color: #A2A2A2;

@moon-button-text-color: #a6a6a6;
@moon-breadcrumb-text-color: @moon-sup-header-text-color;

@moon-thumb-bg-color: rgba(50, 50, 50, 0.8);
@moon-button-dark-gray-text-color: @moon-light-text-color;
@moon-input-placeholder-color: #7d7d7d;
@moon-breadcrumb-wrapper-bg-color: rgba(0,0,0,0.7);
@moon-breadcrumb-wrapper-text-color: #fff;
@moon-breadcrumb-above-bg-color: #7D7D7D;

@moon-audio-queue-selected-bg-color: #999;
@moon-audio-queue-selected-border-color: #666;
@moon-audio-progress-bar-bar-bg-color: #666;
@moon-audio-progress-bar-bg-color: #CCC;
@moon-audio-slider-knob-active-bg-color: #ffb80d;
@moon-audio-slider-knob-spotlight-bg-color: #ffb80d;
@moon-audio-slider-knob-bg-color: gray;
@moon-audio-icon-button-bg-color: gray;
@moon-audio-playback-bg-color: #333;
@moon-videoplayer-redicon-bg-color: red;
@moon-videoplayer-redicon-text-color: #ffffff;
@moon-videoplayer-info-icon-text-color: #000000;
@moon-videoplayer-info-icon-bg-color:  #ffffff;
@moon-videoplayer-header-bg-color: rgba(0,0,0,0.5);
@moon-videoplayer-header-text-color: #ffffff;
@moon-videoplayer-progress-bar-bg-color: rgba(0,212,179,1);
@moon-videoplayer-buffered-progress-bar-bg-color: rgba(0,212,179,0.5);
@moon-video-player-bottom-bg-color: rgba(0,0,0,0);
@moon-video-player-fullscreen-bg-color: rgba(0,0,0,0.1);
@moon-indicator-text-color: @moon-white;
@moon-indicator-bar-bg-color: @moon-white;
@moon-video-player-bg-color: @moon-black;
@moon-video-progress-bg-color: #00d4b3;
@moon-video-text-color: @moon-white;
@moon-video-inline-bg-color: rgba(0,0,0,0.5);
@moon-videoplayer-progressbar-bg-color: #7d7d7d;
@moon-videoplayer-spotlight-bg-color: #69cdff;
@moon-videoplayer-slider-bg-color: #4b4b4b;