/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

/* Moonraker default parameters defined here */
/* Disabled Opacity */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* Moonraker rules defined here */
/* Import font styles */
/* Individual widget CSS */
.moon-simple-picker {
  display: inline-block;
}
.moon-simple-picker > * {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.moon-simple-picker-button {
  border-radius: 0;
  background: gray;
  color: white;
  border: 0;
  height: 30px;
  font-weight: normal;
}
.moon-simple-picker-button.spotlight {
  background: orange;
}
.moon-simple-picker-client {
  background: gray;
  height: 30px;
  color: white;
}
.moon-simple-picker-item {
  white-space: nowrap;
  text-align: center;
  padding: 5px 10px;
}
/* Checkbox.css */
.moon-checkbox {
  cursor: pointer;
  height: 32px;
  width: 32px;
  background: url(././../images/checkbox.png) no-repeat;
  /* reset for ? */

  margin: 0px;
  /* these entries cause toggle-button and checkbox to line up properly*/

  display: inline-block;
  vertical-align: middle;
}
.moon-checkbox[checked] {
  background-position: 0px -32px;
}
.moon-checkbox[disabled] {
  opacity: 0.4;
}
/* Toggle.css */
.moon-toggle {
  cursor: pointer;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
  background: inherit;
}
.moon-toggle[disabled] {
  opacity: 0.4;
}
.moon-labeled-checkbox {
  width: 200px;
  height: 40px;
  display: block;
}
.moon-labeled-checkbox .moon-labeled-checkbox-label {
  line-height: 40px;
  border-right: 1px solid red;
  float: left;
  width: 160px;
  height: 40px;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, 100% center, 80% center, from(rgba(0, 0, 0, 0)), to(#000000));
  white-space: nowrap;
}
.moon-labeled-checkbox .moon-checkbox {
  float: right;
}
.moon-labeled-checkbox.spotlight .moon-labeled-checkbox-label {
  -webkit-transition: border-width 0.1s linear, width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: #ffa500;
  border-left-style: solid;
  width: 144px;
  padding-left: 4px;
}
/* Item.css */
.moon-item {
  padding: 16px;
}
.moon-item.spotlight {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: orange;
  border-left-style: solid;
  padding-right: 0px;
}
/* Button */
.moon-button {
  display: inline-block;
  font-size: 14px;
  border-width: 0px;
  background-color: transparent;
  letter-spacing: normal;
  margin: 2px;
  padding: 1px 0px;
  white-space: nowrap;
  overflow: hidden;
  height: 28px;
  cursor: pointer;
  padding: 0px 10px;
}
.moon-button.spotlight {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: orange;
  border-left-style: solid;
  padding: 0px 0px 0px 4px;
}
/* View Select Button */
.moon-view-select-button {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.moon-button-bar {
  position: absolute;
  top: 35px;
  left: 0px;
  height: 1px;
  width: 0px;
  background-color: orange;
}
.moon {
  font-size: 20px;
}
