/* Colors */
/* ---------------------------------------*/
@moon-dark-gray: #4B4B4B;
@moon-light-gray: #CCCCCC;
@moon-orange: #FFB80D;

/* Font */
/* ---------------------------------------*/
@moon-font-family: "Miso";
@moon-sub-font-family: "MuseoSans Medium";
@moon-gridlist-font-family: "MuseoSans Bold";
@moon-text-size: 40px;
@moon-header-text-size: 100px;
@moon-header-super-text-size: 36px;
@moon-header-sub-text-size: 18px;
@moon-searchheader-text-size: 36px;
@moon-sub-text-size: 20px;
@moon-font-color-light: #4B4B4B;
@moon-superscript-text-size: 24px;
@moon-pre-text-size: 24px;
@moon-large-text-size: 48px;

@moon-light-text-color: @moon-dark-gray;

/* Disabled Opacity */
/* ---------------------------------------*/
@moon-disabled-opacity: 0.4;

/* Images */
/* ---------------------------------------*/
@moon-checkbox-image: url(../images/checkbox.png);
@moon-checkbox-image-height: 36px;
@moon-checkbox-image-width: 36px;
@moon-checkbox-width: 50px;

@moon-spinner-light-image: url(../images/spinner-large-light.gif);
@moon-spinner-dark-image: url(../images/spinner-large-dark.gif);
@moon-spinner-image-width: 260px;
@moon-spinner-image-height: 52px;

/* Icon Sizes */
/* ---------------------------------------*/
@moon-icon-size: 42px;

/* Disabled Opacity */
/* ---------------------------------------*/
@moon-disabled-opacity: 0.4;

/* Spotlight */
/* ---------------------------------------*/
@moon-spotlight-transition: border-width 0.1s linear, padding 0.1s linear;
@moon-spotlight-overlay-transition: height 0.1s linear, width 0.1s linear;

@moon-no-spotlight-border-width: 0px;
@moon-no-spotlight-border-color: transparent;
@moon-no-spotlight-border-style: solid;
@moon-no-spotlight-padding-left: 0px;
@moon-no-spotlight-padding-right: 24px;

@moon-spotlight-border-width: 24px;
@moon-spotlight-border-color: @moon-orange;
@moon-spotlight-border-style: solid;
@moon-spotlight-padding-left: 8px;
@moon-spotlight-padding-right: 0px;

/* @moon-spotlight-border-width + @moon-spotlight-padding-left */
@moon-data-table-spotlight-offset: 32px;

/* Button */
/* ---------------------------------------*/
@moon-button-background-color: #ffffff;
@moon-button-height: 95px;
@moon-button-border-width: 5px;
@moon-button-border-radius: 9999px;
@moon-button-text-size: @moon-pre-text-size;
@moon-button-line-height: @moon-pre-text-size;

/* Input */
/* ---------------------------------------*/
@moon-input-border-width: 5px;
@moon-input-border-color: rgb(234, 234, 234);
@moon-input-font-family: "Miso";
@moon-input-font-size: 24px;
@moon-input-font-color: @moon-dark-gray;

/* Pickers */
/* ---------------------------------------*/
@moon-picker-button-width: 40px;

/* Items */
/* ---------------------------------------*/
@moon-item-font-size: @moon-header-super-text-size;
@moon-item-line-height: 24px;

/* Breadcrumb */
/* ---------------------------------------*/
@moon-breadcrumb-text-size: 36px;

/* Spinner */
/* ---------------------------------------*/
@moon-spinner-dark-image: url(../images/spinner-dark.gif);
@moon-spinner-light-image: url(../images/spinner-light.gif);
@moon-spinner-image-width: 52px;
@moon-spinner-image-height: 52px;
@moon-spinner-large-dark-image: url(../images/spinner-large-dark.gif);
@moon-spinner-large-light-image: url(../images/spinner-large-light.gif);

/* IntegerScrollPicker */
/* ---------------------------------------*/
@moon-shadow-color: rgba(0, 0, 0, 0.13);

/* Grid Dimensions */
/* ---------------------------------------*/
@moon-grid-gutter-width: 10px;
@moon-grid-gutter-height: 10px;
@moon-grid-column-width: 70px;
@moon-grid-row-height: 170px;
