/* Font */
/* ---------------------------------------*/
@moon-font-family: "Miso";
@moon-text-size: 20px;
@moon-header-text-size: 2em;

/* Disabled Opacity */
/* ---------------------------------------*/
@moon-disabled-opacity: 0.4;

/* Images */
/* ---------------------------------------*/
@moon-checkbox-image: url(../images/checkbox.png);
@moon-checkbox-image-height: 40px;
@moon-checkbox-image-width: 40px;

/* Spotlight */
/* ---------------------------------------*/
@moon-spotlight-transition: border-width 0.1s linear;
@moon-spotlight-border-width: 16px;
@moon-spotlight-border-color: orange;
@moon-spotlight-border-style: solid;
