/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

/* Moonraker default parameters defined here */
/* Font */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* Button */
/* ---------------------------------------*/
/* Input */
/* ---------------------------------------*/
/* Moonraker rules defined here */
/* Import font styles */
/* ----- MISO ------ */
@font-face {
  font-family: "Miso";
  src: local("☺"), url(./../fonts/miso/miso-regular.woff) format("woff"), url(./../fonts/miso/miso-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url(./../fonts/miso/miso-bold.woff) format("woff"), url(./../fonts/miso/miso-bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url(./../fonts/miso/miso-light.woff) format("woff"), url(./../fonts/miso/miso-light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
/* ----- PRELUDE ------ */
@font-face {
  font-family: "PreludeWGL Light";
  src: local("☺"), url(./../fonts/PreludeWGL/PreludeWGL-Light.woff) format("woff"), url(./../fonts/PreludeWGL/PreludeWGL-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PreludeWGL Medium";
  src: local("☺"), url(./../fonts/PreludeWGL/PreludeWGL-Medium.woff) format("woff"), url(./../fonts/PreludeWGL/PreludeWGL-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PreludeWGL Medium";
  src: local("☺"), url(./../fonts/PreludeWGL/PreludeWGL-MediumItalic.woff) format("woff"), url(./../fonts/PreludeWGL/PreludeWGL-MediumItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "PreludeWGL Bold Italic";
  src: local("☺"), url(./../fonts/PreludeWGL/PreludeWGL-BoldItalic.woff) format("woff"), url(./../fonts/PreludeWGL/PreludeWGL-BoldItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.moon {
  font-family: "Miso";
  font-size: 40px;
  text-transform: uppercase;
}
.moon-no-border {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  padding-left: 0px;
  padding-right: 24px;
}
.moon-border {
  border-left-width: 16px;
  border-left-color: #ffa500;
  border-left-style: solid;
  padding-left: 8px;
  padding-right: 0px;
}
.moon-list-divider,
.moon-list-divider:hover {
  margin: 20px 0px 8px 0px;
  padding: 0px 16px;
  border-bottom: 1px solid #aaa;
  font-size: 16px;
}
/* LESS pre-calculations */
/* Individual widget CSS */
.moon-simple-picker {
  display: inline-block;
}
.moon-simple-picker > * {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.moon-simple-picker-button {
  border-radius: 0;
  color: black;
  border: 0;
  font-weight: normal;
  background: inherit;
}
.moon-simple-picker-button.spotlight {
  background: orange;
  color: white;
}
.moon-simple-picker-client {
  color: black;
}
.moon-simple-picker-item {
  white-space: nowrap;
  text-align: center;
  padding: 5px 10px;
}
/* Checkbox.css */
.moon-checkbox {
  cursor: pointer;
  height: 40px;
  width: 50px;
}
.moon-checkbox[checked] {
  background-image: url(././../images/checkbox.png);
  background-repeat: no-repeat;
  background-position: 10px 0px;
}
.moon-checkbox[disabled] {
  opacity: 0.4;
}
.moon-checkbox .moon-overlay {
  cursor: pointer;
  height: 40px;
  width: 50px;
  background: transparent url(././../images/checkbox.png) no-repeat 10px -40px;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
}
.moon-checkbox .moon-overlay.off {
  opacity: 0;
}
/* Toggle.css */
.moon-checkbox.moon-toggle {
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
  background: inherit;
  opacity: 1;
  background: transparent none no-repeat 0 0;
  position: relative;
}
.moon-checkbox.moon-toggle[disabled] {
  opacity: 0.4;
}
.moon-checkbox.moon-toggle[checked] {
  background: transparent none no-repeat 0px 0px;
}
.moon-checkbox.moon-toggle .moon-overlay {
  background: transparent;
  position: absolute;
  right: 0px;
  text-align: right;
  color: orange;
}
.moon-toggle-text {
  position: absolute;
  right: 0px;
  text-align: right;
}
.moon-labeled-checkbox {
  height: 40px;
  display: block;
  position: relative;
}
.moon-labeled-checkbox .moon-labeled-checkbox-label-wrapper {
  height: 40px;
  -webkit-mask-image: -webkit-linear-gradient(right, transparent 20px, #ffffff 50px);
}
.moon-labeled-checkbox.spotlight .moon-labeled-checkbox-label-wrapper {
  -webkit-mask-image: -webkit-linear-gradient(right, transparent 44px, #ffffff 64px);
}
.moon-labeled-checkbox .moon-labeled-checkbox-label {
  line-height: 40px;
  float: left;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
}
.moon-labeled-checkbox .moon-checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
}
.moon-labeled-checkbox .moon-checkbox[checked] {
  background-color: transparent;
}
/* Item.css */
.moon-item {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  padding-left: 0px;
  padding-right: 24px;
  margin: 16px 0px;
  overflow: hidden;
}
.moon-item.spotlight {
  border-left-width: 16px;
  border-left-color: #ffa500;
  border-left-style: solid;
  padding-left: 8px;
  padding-right: 0px;
}
/* Button */
.moon-button {
  height: 60px;
  border-radius: 9999px;
  line-height: 50px;
  font-size: 40px;
  background-color: #ffffff;
  border: 4px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  min-width: 60px;
  padding: 0px 16px;
  margin: 0px;
}
.moon-button.active,
.moon-button.pressed,
.moon-button:active,
.moon-button.spotlight.pressed,
.moon-button.spotlight:active {
  border: 4px solid #ffa500;
  background-color: #ffffff;
}
.moon-button.spotlight {
  background: #ffa500;
}
.moon-button[disabled] {
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* Radio Button */
.moon-radio-button {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.moon-button-bar {
  position: absolute;
  top: 35px;
  left: 0px;
  height: 1px;
  width: 0px;
  background-color: orange;
}
/* ExpandableListItem.css */
.moon-expandable-list-item {
  padding: 0px 16px 0px 0px;
  margin: 16px 0px;
  border-color: orange;
  overflow: hidden;
}
.moon-expandable-list-item.spotlight {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: orange;
  border-left-style: solid;
  padding-right: 0px;
}
.moon-expandable-list-item.open.spotlight {
  -webkit-transition: none;
  border-left-width: 0px;
  padding-right: 16px;
}
.moon-expandable-list-item .moon-item {
  margin: 0px;
}
.moon-expandable-list-item.open.spotlight .moon-expandable-list-item-header {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: orange;
  border-left-style: solid;
  padding-right: 0px;
}
.moon-expandable-picker {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  cursor: pointer;
}
.moon-expandable-picker.spotlight {
  padding: 0px 0px 0px 4px;
  border-left: 16px solid orange;
}
.moon-item.moon-expandable-picker-header {
  line-height: 0.85em;
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 0.1s linear;
}
.moon-expandable-picker.open .moon-expandable-picker-header {
  font-family: "PreludeWGL Medium";
  font-size: 20px;
  padding: 0px;
  line-height: 1.2em;
  border-bottom: 1px solid #aaa;
}
.moon-expandable-picker-current-value {
  font-family: "PreludeWGL Medium";
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
.moon-header {
  font-size: 2.5em;
  height: 180px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  overflow: hidden;
}
/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.enyo-gridlist-row {
  overflow: visible;
  background: none;
}
.moon-gridlist-imageitem {
  width: 100%;
  height: 100%;
  /* GF-1438 Moon: Grid - Entire item should scroll into view - offset the caption height so that item scrolls fully into view on spotlight focus state change */

  margin-top: -30px;
  overflow: visible;
}
.moon-gridlist-imageitem.selected {
  background: orange;
  padding: 3px;
  /*Offset the right and bottom padding by adding negative top and left margin*/

  margin-left: -3px;
  margin-top: -33px;
}
.moon-gridlist-imageitem img {
  width: 100%;
  height: 100%;
}
.moon-gridlist-imageitem .caption {
  font-weight: bold;
  text-align: center;
  font-size: 10pt;
  text-transform: uppercase;
  z-index: 10;
  padding-top: 10px;
  color: #555;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
  overflow: hidden;
}
.moon-gridlist-imageitem.spotlight {
  background: orange !important;
  padding-left: 24px !important;
  margin-right: -24px !important;
}
.moon-gridlist-imageitem.spotlight.selected {
  background: orange !important;
  padding-left: 27px !important;
  margin-right: -24px !important;
}
/* Scroller Page Controls */
.moon-paging-button {
  position: absolute;
  z-index: 150;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.moon-paging-button.top {
  top: 0px;
  background-image: url(./../images/upArrow.png);
}
.moon-paging-button.top.spotlight {
  background-position: 0px -64px;
}
.right {
  right: 0px;
  background-image: url(./../images/rightArrow.png);
}
.moon-paging-button.right.spotlight {
  background-position: 0px -64px;
}
.moon-paging-button.bottom {
  bottom: 0px;
  background-image: url(./../images/downArrow.png);
  background-position: 0 -64px;
}
.moon-paging-button.bottom.spotlight {
  background-position: 0px 0px;
}
.moon-paging-button.left {
  left: 0px;
  background-image: url(./../images/leftArrow.png);
}
.moon-paging-button.left.spotlight {
  background-position: 0px -64px;
}
/* Icon.css */
.moon-icon,
.moon-icon-toggle {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.moon-icon.moon-icon-button.active,
.moon-icon.onyx-icon-button:active:hover,
.moon-icon-toggle.active {
  background-position: 0 -32px;
}
.moon-icon.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.moon-icon.disabled:active:hover {
  background-position: 0 0px;
}
.moon-integer-picker {
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 20px;
  font-family: "Miso";
}
.moon-integer-picker.spotlight {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 16px;
  border-left-color: orange;
  border-left-style: solid;
  padding: 0px 0px 0px 4px;
}
.moon-integer-picker-item {
  white-space: nowrap;
  background: white;
  font-size: 20px;
  font-family: "Miso";
}
.moon-integer-picker-panels {
  min-height: 40px;
  min-width: 55px;
}
/* IntegerScrollPicker.css */
.moon-scroll-picker {
  height: 40px;
  border-top-width: 30px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 25px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-radius: 24px;
}
.moon-scroll-picker.spotlight {
  border-top-color: orange;
  border-bottom-color: orange;
  background: orange;
}
.moon-scroll-picker-item {
  white-space: nowrap;
  padding-top: 5px;
  height: 49px;
  text-align: center;
  background: transparent;
  font-size: 20px;
  font-family: "Miso";
}
.moon-scroll-picker-overlay-container-top {
  position: relative;
  z-index: 1;
}
.moon-scroll-picker-overlay-top {
  position: absolute;
  height: 20px;
  width: 100%;
  border-width: 10px;
  border-radius: 24px;
  border-top-width: 30px;
  border-top-style: solid;
  border-top-color: darkorange;
}
.moon-scroll-picker-overlay-top-border {
  position: absolute;
  height: 20px;
  width: 100%;
  border-width: 10px;
  border-radius: 24px;
  border-top-width: 30px;
  border-top-style: solid;
  border-top-color: orange;
  bottom: -56px;
}
.moon-scroll-picker-overlay-container-bottom {
  position: relative;
  z-index: 1;
  top: 45px;
}
.moon-scroll-picker-overlay-bottom {
  position: absolute;
  height: 20px;
  width: 100%;
  border-width: 10px;
  border-radius: 24px;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  border-bottom-color: darkorange;
}
.moon-scroll-picker-overlay-bottom-border {
  position: absolute;
  height: 20px;
  width: 100%;
  border-width: 10px;
  border-radius: 24px;
  border-bottom-width: 30px;
  border-bottom-style: solid;
  border-bottom-color: orange;
  bottom: -44px;
}
.up-arrow-container {
  position: relative;
  z-index: 10;
  top: 3px;
  left: 33%;
}
.up-arrow {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
  left: -5px;
}
.up-arrow.spotlight {
  border-color: transparent transparent orange transparent;
}
.up-arrow-border {
  border-color: transparent transparent #666666 transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -16px;
  left: -5px;
}
.down-arrow-container {
  position: relative;
  z-index: 10;
  top: 75px;
  left: 12%;
}
.down-arrow {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
}
.down-arrow.spotlight {
  border-color: orange transparent transparent transparent;
}
.down-arrow-border {
  border-color: #666666 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -22px;
}
/* DatePicker.css */
.moon-date-picker {
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  cursor: pointer;
}
.moon-date-picker.spotlight {
  padding: 0px 0px 0px 4px;
  border-left: 16px solid orange;
}
.moon-item.moon-date-picker-header {
  line-height: 0.85em;
  padding: 0px;
  margin: 0px;
  -webkit-transition: all 0.1s linear;
}
.moon-date-picker.open .moon-date-picker-header {
  font-family: "PreludeWGL Medium";
  font-size: 20px;
  padding: 0px;
  line-height: 1.2em;
  border-bottom: 1px solid #aaa;
}
.moon-date-picker-client {
  padding-top: 10px;
}
.moon-date-picker-current-value {
  font-family: "PreludeWGL Medium";
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
.moon-date-picker-day {
  padding-right: 40px;
  width: 25px;
  font-size: 20px;
}
.moon-date-picker-month {
  padding-right: 40px;
  width: 25px;
  font-size: 20px;
}
.moon-date-picker-year {
  width: 35px;
}
.moon-date-picker-year .up-arrow-container {
  left: 37%;
}
.moon-date-picker-year .down-arrow-container {
  left: 23%;
}
/* Input.css */
.moon-input {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  font-size: 20px;
  font-family: "PreludeWGL Medium";
}
.moon-input-decorator.moon-focused .moon-input {
  cursor: text;
}
.moon-input-decorator.moon-disabled .moon-input {
  cursor: default;
}
.moon-input-decorator > input::-webkit-input-placeholder {
  color: #7d7d7d;
}
.moon-input-decorator > input:-moz-placeholder {
  color: #7d7d7d;
}
/* IE10 */
.moon-input-decorator > input:-ms-input-placeholder {
  color: #7d7d7d;
}
/* InputDecorator.css */
.moon-input-decorator {
  padding: 4px 16px 8px 16px;
  border-radius: 9999px;
  border: 4px solid transparent;
  background-color: white;
  margin: 0px;
  font-size: 20px;
  font-family: "PreludeWGL Medium";
  /* Clip the background to allow for transparent border */

  -webkit-background-clip: padding;
  /* Safari */

  background-clip: padding-box;
  /* Firefox 4+, Chrome, IE 9+ */

}
.moon-input-decorator.spotlight {
  border: 4px solid rgba(0, 0, 0, 0.2);
}
.moon-input-decorator.moon-disabled {
  opacity: 0.4;
}
.moon-input-decorator.moon-focused {
  box-shadow: 0px 14px 0px rgba(0, 0, 0, 0.2);
}
