 /* Import font styles */
@import "moonstone-fonts.less";

/* Import grid classes/mixins */
@import "moonstone-grid.less";

/* Common classes applicable to multiple controls */
.moon {
	font-family: @moon-font-family;
	font-size: @moon-text-size;
	padding: @moon-app-keepout;
	color: @moon-light-text-color;
	background-color: @moon-light-gray;
}

.enyo-locale-non-latin .moon,
.enyo-locale-non-latin input,
.enyo-locale-non-latin textarea,
.enyo-locale-non-latin button {
	font-family: @moon-non-latin-font-family;
}

.moon-header-font {
	font-family: @moon-alt-font-family;
	text-transform: uppercase;
}

.enyo-locale-non-latin .moon-header-font {
	font-family: @moon-non-latin-font-family;
}

.moon-no-border {
	transition: @moon-spotlight-transition;
	-webkit-transition: @moon-spotlight-transition;
	-moz-transition: @moon-spotlight-transition;
	-o-transition: @moon-spotlight-transition;
	border-left-width: @moon-no-spotlight-border-width;
	border-left-color: @moon-no-spotlight-border-color;
	border-left-style: @moon-no-spotlight-border-style;
	padding-left: @moon-no-spotlight-padding-left;
	padding-right: @moon-no-spotlight-padding-right;
}

.moon-border {
	border-left-width: @moon-spotlight-border-width;
	border-left-color: @moon-spotlight-border-color;
	border-left-style: @moon-spotlight-border-style;
	padding-left: @moon-spotlight-padding-left;
	padding-right: @moon-spotlight-padding-right;
}

.moon-superscript {
	font-size: @moon-superscript-text-size;
	vertical-align: top;
	margin: 0px 0px 0px 2px;
	padding: 0px;
}

.moon-pre-text {
	font-size: @moon-pre-text-size;
	vertical-align: top;
	height:  @moon-large-text-size;
	line-height: @moon-pre-text-size;
	margin: 12px 2px 8px 0px;
	padding: 0px;
}

.moon-large-text {
	font-size: @moon-large-text-size;
	vertical-align: top;
	height: @moon-large-text-size;
	margin: 0px;
	padding: 0px;
}

/* LESS pre-calculations */
@moon-disabled-opacity-ie: @moon-disabled-opacity*100;

/* Individual widget CSS */
@import "SimplePicker.less";
@import "SimpleIntegerPicker.less";
@import "Checkbox.less";
@import "Divider.less";
@import "CheckboxItem.less";
@import "ToggleText.less";
@import "ToggleItem.less";
@import "ToggleButton.less";
@import "Item.less";
@import "SelectableItem.less";
@import "Button.less";
@import "Breadcrumb.less";
@import "BreadcrumbDecorator.less";
@import "CaptionDecorator.less";
@import "RadioItem.less";
@import "RadioItemGroup.less";
@import "ExpandableListItem.less";
@import "ExpandablePicker.less";
@import "ExpandableIntegerPicker.less";
@import "Header.less";
@import "GridList.less";
@import "PagingControl.less";
@import "Icon.less";
@import "IconButton.less";
@import "IntegerPicker.less";
@import "IntegerScrollPicker.less";
@import "DatePicker.less";
@import "Input.less";
@import "InputDecorator.less";
@import "ProgressBar.less";
@import "Slider.less";
@import "RichText.less";
@import "ContextualPopupButton.less";
@import "ContextualPopupDecorator.less";
@import "ContextualPopup.less";
@import "TextArea.less";
@import "ListActions.less";
@import "LabeledTextItem.less";
@import "ImageItem.less";
@import "Spinner.less";
@import "Panel.less";
@import "Panels.less";
@import "Accordion.less";
@import "CalendarPicker.less";
@import "Table.less";
@import "FittableLayout.less";
@import "SearchHeader.less";
@import "DrawerHandle.less";
@import "Drawer.less";
@import "Drawers.less";
@import "Popup.less";
@import "Dialog.less";
@import "Tooltip.less";
@import "VideoPlayerInfo.less";
@import "VideoPlayerSlider.less";
@import "VideoPlayback.less";
@import "BoxIconButton.less";
@import "Scroller.less";


/* Put this at the end because we want these to take precedence over others */
.moon-dark-gray {
	background-color: @moon-dark-gray;
	color: @moon-light-gray;
}
.moon-dark-gray * {
	color: @moon-light-gray;	
}
.moon-light-gray {
	background-color: @moon-light-gray;
	color: @moon-dark-gray;
}
.moon-light-gray * {
	color: @moon-dark-gray;
}

.moon-hspacing > * {
	display: inline-block;
	vertical-align: top;
	margin: 0 @moon-grid-gutter-width/2;
}
.moon-hspacing > :first-child {
	margin-left: 0;
}
.moon-hspacing > :last-child {
	margin-right: 0;
}

