/* moonstone-icons.css */

.moon-icon-arrowlargeup:after      { content: @moon-icon-arrowlargeup; }
.moon-icon-arrowlargedown:after    { content: @moon-icon-arrowlargedown }
.moon-icon-arrowlargeleft:after    { content: @moon-icon-arrowlargeleft; }
.moon-icon-arrowlargeright:after   { content: @moon-icon-arrowlargeright; }
.moon-icon-arrowsmallup:after      { content: @moon-icon-arrowsmallup; }
.moon-icon-arrowsmalldown:after    { content: @moon-icon-arrowsmalldown; }
.moon-icon-arrowsmallleft:after    { content: @moon-icon-arrowsmallleft; }
.moon-icon-arrowsmallright:after   { content: @moon-icon-arrowsmallright; }
.moon-icon-closex:after            { content: @moon-icon-closex; }
.moon-icon-check:after             { content: @moon-icon-check; }
.moon-icon-search:after            { content: @moon-icon-search; }
.moon-icon-drawer:after            { content: @moon-icon-drawer; }
.moon-icon-fullscreen:after        { content: @moon-icon-fullscreen; }
.moon-icon-circle:after            { content: @moon-icon-circle; }
.moon-icon-stop:after              { content: @moon-icon-stop; }
.moon-icon-play:after              { content: @moon-icon-play; }
.moon-icon-pause:after             { content: @moon-icon-pause; }
.moon-icon-forward:after           { content: @moon-icon-forward; }
.moon-icon-backward:after          { content: @moon-icon-backward; }
.moon-icon-skipforward:after       { content: @moon-icon-skipforward; }
.moon-icon-skipbackward:after      { content: @moon-icon-skipbackward; }
.moon-icon-pauseforward:after      { content: @moon-icon-pauseforward; }
.moon-icon-pausebackward:after     { content: @moon-icon-pausebackward; }
.moon-icon-pausejumpforward:after  { content: @moon-icon-pausejumpforward; }
.moon-icon-pausejumpbackward:after { content: @moon-icon-pausejumpbackward; }
.moon-icon-jumpforward:after       { content: @moon-icon-jumpforward; }
.moon-icon-jumpbackward:after      { content: @moon-icon-jumpbackward; }
.moon-icon-arrowshrink:after       { content: @moon-icon-arrowshrink; }
.moon-icon-arrowextend:after       { content: @moon-icon-arrowextend; }
.moon-icon-exitfullscreen:after	   { content: @moon-icon-exitfullscreen; }
