/* Font */
/* ---------------------------------------*/
@moon-font-family: "Miso";
@moon-sub-font-family: "PreludeWGL Medium";
@moon-text-size: 40px;
@moon-header-text-size: 2.5em;
@moon-sub-text-size: 20px;

/* Disabled Opacity */
/* ---------------------------------------*/
@moon-disabled-opacity: 0.4;

/* Images */
/* ---------------------------------------*/
@moon-checkbox-image: url(../images/checkbox.png);
@moon-checkbox-image-height: 40px;
@moon-checkbox-image-width: 40px;
@moon-checkbox-width: 50px;

/* Icon Sizes */
/* ---------------------------------------*/
@moon-icon-size: 32px;

/* Disabled Opacity */
/* ---------------------------------------*/
@moon-disabled-opacity: 0.4;

/* Spotlight */
/* ---------------------------------------*/
@moon-spotlight-transition: border-width 0.1s linear, padding 0.1s linear;

@moon-no-spotlight-border-width: 0px;
@moon-no-spotlight-border-color: transparent;
@moon-no-spotlight-border-style: solid;
@moon-no-spotlight-padding-left: 0px;
@moon-no-spotlight-padding-right: 24px;

@moon-spotlight-border-width: 24px;
@moon-spotlight-border-color: #ffd200;
@moon-spotlight-border-style: solid;
@moon-spotlight-padding-left: 8px;
@moon-spotlight-padding-right: 0px;

/* Button */
/* ---------------------------------------*/
@moon-button-color: #fff;
@moon-button-height: @moon-text-size + 20;
@moon-button-line-height: @moon-text-size + 10;
@moon-button-border-width: 4px;
@moon-button-border-radius: 9999px;

/* Input */
/* ---------------------------------------*/
@moon-input-border-width: 6px;