/* Common classes applicable to multiple controls */
.moon {
	color: @moon-sub-header-text-color;
	background-color: @moon-background-color;
}
.moon-divider-border {
	border-bottom-color: @moon-divider-border-color;
}
.moon-neutral-divider-border {
	border-bottom-color: @moon-neutral-border-color;
}
