/* ObjectActionDecorator */
.moon-objaction-client {
	width: 100%; 
	display: @moon-objaction-decorator-display;
}
.moon-objaction-action-vertical {
	opacity: 0; 
	text-align: center;
}
.moon-objectaction-stretch.moon-objaction-action-vertical > * {
	width: 100%;
}
.moon-objaction-action-horizontal {
	opacity: 0; 
	white-space: nowrap;
	display: @moon-objaction-decorator-display;
	vertical-align: middle;
}

.moon-objaction-client .moon-item.spotlight {
	background: inherit;
}