/* Scroller Page Controls */
.moon-icon-button.moon-paging-button {
	position:absolute;
	z-index:150;
	text-align: center;
	line-height: 40px;
	background: transparent;
	opacity: 1;
	font-family: @moon-alt-font-family;
}
.moon-icon-button.moon-paging-button.hidden {
	opacity: 0;
}
.moon-icon-button.moon-paging-button.top {
	top: 0px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.moon-icon-button.moon-paging-button.right {
	right: 0px;
}
.moon-icon-button.moon-paging-button.bottom {
	bottom: 0px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.moon-icon-button.moon-paging-button.left {
	left: 0px;
}