/* Scroller Page Controls */
.moon-icon-button.moon-paging-button {
	position:absolute;
	z-index: 150;
	// background: transparent @moon-scroller-icon no-repeat 6px 6px;
	background-color: transparent;
	opacity: 1;
	transform: translateZ(1px);
	-o-transform: translateZ(1px);
	-ms-transform: translateZ(1px);
	-moz-transform: translateZ(1px);
	-webkit-transform: translateZ(1px);
	margin: 0;
}
.moon-icon-button.moon-paging-button.spotlight {
	.moon-icon-button.spotlight;
	background-image: @moon-scroller-spotlight;
}
.moon-icon-button.moon-paging-button.hidden {
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-icon-button.moon-paging-button.top {
	top: 0px;
}
.moon-icon-button.moon-paging-button.right {
	right: 0px;
	transform: rotate(90deg) translateZ(1px);
	-o-transform: rotate(90deg) translateZ(1px);
	-ms-transform: rotate(90deg) translateZ(1px);
	-moz-transform: rotate(90deg) translateZ(1px);
	-webkit-transform: rotate(90deg) translateZ(1px);
}
.moon-icon-button.moon-paging-button.bottom {
	bottom: 0px;
	transform: rotate(180deg) translateZ(1px);
	-o-transform: rotate(180deg) translateZ(1px);
	-ms-transform: rotate(180deg) translateZ(1px);
	-moz-transform: rotate(180deg) translateZ(1px);
	-webkit-transform: rotate(180deg) translateZ(1px);
}
.moon-icon-button.moon-paging-button.left {
	left: 0px;
	transform: rotate(270deg) translateZ(1px);
	-o-transform: rotate(270deg) translateZ(1px);
	-ms-transform: rotate(270deg) translateZ(1px);
	-moz-transform: rotate(270deg) translateZ(1px);
	-webkit-transform: rotate(270deg) translateZ(1px);
}
.moon-icon-button.moon-paging-button.hover:hover {
	.moon-icon-button.spotlight;
	// background-image: @moon-scroller-spotlight;
	// background-image: none;
}
.moon-icon-button.moon-paging-button.hidden.hover:hover {
	background-color: transparent;	
}
// .moon-paging-button.moon-icon.moon-icon-button.active, 
// .moon-paging-button.moon-icon.moon-icon-button:active:hover,
// .moon-paging-button.moon-icon-toggle.active,
// .moon-icon-button.moon-paging-button.spotlight.pressed
// {
// 	background-position: 6px 6px;
	// background-color: @moon-pink;
// }


