.moon-panel {
	-webkit-transform: scale3d(1,1,1);
	overflow: hidden;
	padding: 0;
	padding: 20px 10px;
	height: 100%;
	&.enyo-fit {
		height: auto;
	}
}
.moon-panel-viewport {
	-webkit-transform: scale3d(1,1,1);
	overflow: hidden;
	position: relative;
}
.moon-panel-content-wrapper {
	-webkit-transform: scale3d(1,1,1);
	z-index: 2;
	box-sizing: border-box;
}
.moon-panel-body {
	overflow: hidden;
	position: relative;
	padding-top: 10px;
}

/* Breadcrumb */
.moon-panel-breadcrumb {
	-webkit-transform: scale3d(1,1,1);
	width: 210px + (@moon-spotlight-outset * 2);
	height: 370px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.moon-panel-breadcrumb-viewport {
	-webkit-transform: scale3d(1,1,1);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
}
.moon-panel-mini-header-wrapper {
	-webkit-transform: scale3d(1,1,1);
	margin: @moon-spotlight-outset 0 0 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	height: 360px;
	width: 100%;
	padding: 0 @moon-spotlight-outset @moon-spotlight-outset @moon-spotlight-outset;
	box-sizing: border-box;
}
.moon-panel-mini-header {
	margin-top: 25px;
	color: @moon-header-text-color;
	display: block;
	overflow: hidden;
	padding: 0px;
}

.spotlight .moon-panel-mini-header{
	color:@moon-spotlight-text-color;
}
.moon-panel-mini-header-title-above {
	color: @moon-header-text-color;
	border-top: 2px solid @moon-spotlight-text-color;
	padding-top: 5px;
}
.spotlight .moon-panel-mini-header-title-above {
	color: @moon-spotlight-text-color;
}

.moon-panel .moon-panel-mini-header-wrapper.spotlight {
	background: @moon-accent;
	color: @moon-white;
	.moon-panel-mini-header-title-above {
		border-top: 2px solid transparent;
	}
}

/* Activity Panels Overrides */
.moon-panels.activity {
	.moon-panel {
		padding: 0;
	}
	.moon-panel-mini-header-title-above {
		border-top: 2px solid @moon-header-border-color;
	}
	.moon-panel-mini-header,
	.moon-panel-mini-header-title-above {
		color: @moon-header-text-color;
	}
	.moon-panel-mini-header-wrapper.spotlight {
		.moon-panel-mini-header,
		.moon-panel-mini-header-title-above {
			color: @moon-white;
		}
	}
}

/* AlwaysViewing Overrides */
.moon-panels.always-viewing {
	.moon-panel {
		padding: 0;
	}
	.moon-panel-mini-header,
	.moon-panel-mini-header-title-above {
		color: @moon-white;
	}
}

/* Panel animations */

@-webkit-keyframes panel-outer {
	0% {-webkit-transform: scaleY(0);}
	3.3333333333333335% {-webkit-transform: scaleY(0.03333333333333333);}
	6.666666666666667% {-webkit-transform: scaleY(0.06666666666666667);}
	10% {-webkit-transform: scaleY(0.1);}
	13.333333333333334% {-webkit-transform: scaleY(0.13333333333333333);}
	16.666666666666664% {-webkit-transform: scaleY(0.16666666666666666);}
	20% {-webkit-transform: scaleY(0.2);}
	23.333333333333332% {-webkit-transform: scaleY(0.23333333333333334);}
	26.666666666666668% {-webkit-transform: scaleY(0.26666666666666666);}
	30% {-webkit-transform: scaleY(0.3);}
	33.33333333333333% {-webkit-transform: scaleY(0.3333333333333333);}
	36.666666666666664% {-webkit-transform: scaleY(0.36666666666666664);}
	40% {-webkit-transform: scaleY(0.4);}
	43.333333333333336% {-webkit-transform: scaleY(0.43333333333333335);}
	46.666666666666664% {-webkit-transform: scaleY(0.4666666666666667);}
	50% {-webkit-transform: scaleY(0.5);}
	53.333333333333336% {-webkit-transform: scaleY(0.5333333333333333);}
	56.666666666666664% {-webkit-transform: scaleY(0.5666666666666667);}
	60% {-webkit-transform: scaleY(0.6);}
	63.33333333333333% {-webkit-transform: scaleY(0.6333333333333333);}
	66.66666666666666% {-webkit-transform: scaleY(0.6666666666666666);}
	70% {-webkit-transform: scaleY(0.7);}
	73.33333333333333% {-webkit-transform: scaleY(0.7333333333333333);}
	76.66666666666667% {-webkit-transform: scaleY(0.7666666666666667);}
	80% {-webkit-transform: scaleY(0.8);}
	83.33333333333334% {-webkit-transform: scaleY(0.8333333333333334);}
	86.66666666666667% {-webkit-transform: scaleY(0.8666666666666667);}
	90% {-webkit-transform: scaleY(0.9);}
	93.33333333333333% {-webkit-transform: scaleY(0.9333333333333333);}
	96.66666666666667% {-webkit-transform: scaleY(0.9666666666666667);}
	100% {-webkit-transform: scaleY(1);}
}

@-webkit-keyframes panel-inner {
	0% {-webkit-transform: scaleY(30);}
	3.3333333333333335% {-webkit-transform: scaleY(30);}
	6.666666666666667% {-webkit-transform: scaleY(15);}
	10% {-webkit-transform: scaleY(10);}
	13.333333333333334% {-webkit-transform: scaleY(7.5);}
	16.666666666666664% {-webkit-transform: scaleY(6);}
	20% {-webkit-transform: scaleY(5);}
	23.333333333333332% {-webkit-transform: scaleY(4.285714285714286);}
	26.666666666666668% {-webkit-transform: scaleY(3.75);}
	30% {-webkit-transform: scaleY(3.3333333333333335);}
	33.33333333333333% {-webkit-transform: scaleY(3);}
	36.666666666666664% {-webkit-transform: scaleY(2.7272727272727275);}
	40% {-webkit-transform: scaleY(2.5);}
	43.333333333333336% {-webkit-transform: scaleY(2.3076923076923075);}
	46.666666666666664% {-webkit-transform: scaleY(2.142857142857143);}
	50% {-webkit-transform: scaleY(2);}
	53.333333333333336% {-webkit-transform: scaleY(1.875);}
	56.666666666666664% {-webkit-transform: scaleY(1.7647058823529411);}
	60% {-webkit-transform: scaleY(1.6666666666666667);}
	63.33333333333333% {-webkit-transform: scaleY(1.5789473684210527);}
	66.66666666666666% {-webkit-transform: scaleY(1.5);}
	70% {-webkit-transform: scaleY(1.4285714285714286);}
	73.33333333333333% {-webkit-transform: scaleY(1.3636363636363638);}
	76.66666666666667% {-webkit-transform: scaleY(1.3043478260869565);}
	80% {-webkit-transform: scaleY(1.25);}
	83.33333333333334% {-webkit-transform: scaleY(1.2);}
	86.66666666666667% {-webkit-transform: scaleY(1.1538461538461537);}
	90% {-webkit-transform: scaleY(1.1111111111111112);}
	93.33333333333333% {-webkit-transform: scaleY(1.0714285714285714);}
	96.66666666666667% {-webkit-transform: scaleY(1.0344827586206897);}
	100% {-webkit-transform: scaleY(1);}
}

@-webkit-keyframes breadcrumb-outer {
	0% {-webkit-transform: scaleY(1);}
	3.3333333333333335% {-webkit-transform: scaleY(0.9333333333333333);}
	6.666666666666667% {-webkit-transform: scaleY(0.8666666666666667);}
	10% {-webkit-transform: scaleY(0.8);}
	13.333333333333334% {-webkit-transform: scaleY(0.7333333333333334);}
	16.666666666666664% {-webkit-transform: scaleY(0.6666666666666667);}
	20% {-webkit-transform: scaleY(0.6);}
	23.333333333333332% {-webkit-transform: scaleY(0.5333333333333333);}
	26.666666666666668% {-webkit-transform: scaleY(0.4666666666666667);}
	30% {-webkit-transform: scaleY(0.4);}
	33.33333333333333% {-webkit-transform: scaleY(0.33333333333333337);}
	36.666666666666664% {-webkit-transform: scaleY(0.2666666666666667);}
	40% {-webkit-transform: scaleY(0.19999999999999996);}
	43.333333333333336% {-webkit-transform: scaleY(0.1333333333333333);}
	46.666666666666664% {-webkit-transform: scaleY(0.06666666666666665);}
	50% {-webkit-transform: scaleY(0);}
	53.333333333333336% {-webkit-transform: scaleY(0);}
	56.666666666666664% {-webkit-transform: scaleY(0);}
	60% {-webkit-transform: scaleY(0);}
	63.33333333333333% {-webkit-transform: scaleY(0);}
	66.66666666666666% {-webkit-transform: scaleY(0);}
	70% {-webkit-transform: scaleY(0);}
	73.33333333333333% {-webkit-transform: scaleY(0);}
	76.66666666666667% {-webkit-transform: scaleY(0);}
	80% {-webkit-transform: scaleY(0);}
	83.33333333333334% {-webkit-transform: scaleY(0);}
	86.66666666666667% {-webkit-transform: scaleY(0);}
	90% {-webkit-transform: scaleY(0);}
	93.33333333333333% {-webkit-transform: scaleY(0);}
	96.66666666666667% {-webkit-transform: scaleY(0);}
	100% {-webkit-transform: scaleY(0);}
}

@-webkit-keyframes breadcrumb-inner {
	0% {-webkit-transform: scaleY(1);}
	3.3333333333333335% {-webkit-transform: scaleY(1.0714285714285714);}
	6.666666666666667% {-webkit-transform: scaleY(1.1538461538461537);}
	10% {-webkit-transform: scaleY(1.25);}
	13.333333333333334% {-webkit-transform: scaleY(1.3636363636363635);}
	16.666666666666664% {-webkit-transform: scaleY(1.4999999999999998);}
	20% {-webkit-transform: scaleY(1.6666666666666667);}
	23.333333333333332% {-webkit-transform: scaleY(1.875);}
	26.666666666666668% {-webkit-transform: scaleY(2.142857142857143);}
	30% {-webkit-transform: scaleY(2.5);}
	33.33333333333333% {-webkit-transform: scaleY(2.9999999999999996);}
	36.666666666666664% {-webkit-transform: scaleY(3.749999999999999);}
	40% {-webkit-transform: scaleY(5.000000000000001);}
	43.333333333333336% {-webkit-transform: scaleY(7.500000000000002);}
	46.666666666666664% {-webkit-transform: scaleY(15.000000000000004);}
	50% {-webkit-transform: scaleY(30);}
	53.333333333333336% {-webkit-transform: scaleY(30);}
	56.666666666666664% {-webkit-transform: scaleY(30);}
	60% {-webkit-transform: scaleY(30);}
	63.33333333333333% {-webkit-transform: scaleY(30);}
	66.66666666666666% {-webkit-transform: scaleY(30);}
	70% {-webkit-transform: scaleY(30);}
	73.33333333333333% {-webkit-transform: scaleY(30);}
	76.66666666666667% {-webkit-transform: scaleY(30);}
	80% {-webkit-transform: scaleY(30);}
	83.33333333333334% {-webkit-transform: scaleY(30);}
	86.66666666666667% {-webkit-transform: scaleY(30);}
	90% {-webkit-transform: scaleY(30);}
	93.33333333333333% {-webkit-transform: scaleY(30);}
	96.66666666666667% {-webkit-transform: scaleY(30);}
	100% {-webkit-transform: scaleY(30);}
} 

.moon-panel {
	.moon-panel-viewport, .moon-panel-content-wrapper {
		-webkit-transform-origin: top center;
		height: 100%;
		/*background: #333;*/
	}
	.moon-panel-breadcrumb-viewport, .moon-panel-mini-header-wrapper {
		-webkit-transform-origin: bottom center;
		/*background: #666;*/
	}
	&.growing, &.shrinking {
		.moon-panel-viewport, .moon-panel-content-wrapper,
		.moon-panel-breadcrumb-viewport, .moon-panel-mini-header-wrapper {
			-webkit-animation-timing-function: linear;
		}
		.moon-panel-viewport {
			-webkit-animation-name: panel-outer;
		}
		.moon-panel-breadcrumb-viewport {
			-webkit-animation-name: breadcrumb-outer;
		}
		.moon-panel-content-wrapper {
			-webkit-animation-name: panel-inner;
		}
		.moon-panel-mini-header-wrapper {
			-webkit-animation-name: breadcrumb-inner;
		}
	}
	&.growing {
		.moon-panel-viewport, .moon-panel-content-wrapper,
		.moon-panel-breadcrumb-viewport, .moon-panel-mini-header-wrapper {
			-webkit-animation-duration: 0.4s;
		}
	}

	&.shrinking {
		.moon-panel-viewport, .moon-panel-content-wrapper,
		.moon-panel-breadcrumb-viewport, .moon-panel-mini-header-wrapper {
			-webkit-animation-duration: 0.5s;
			-webkit-animation-direction: reverse;
		}
	}
	&.shrunken {
		.moon-panel-viewport {
			-webkit-transform: scaleY(0);
		}
		.moon-panel-content-wrapper {
			-webkit-transform: scaleY(100);
		}
	}
	&:not(.shrunken) {
		.moon-panel-breadcrumb-viewport {
			-webkit-transform: scaleY(0);
		}
		.moon-panel-mini-header-wrapper {
			-webkit-transform: scaleY(30);
		}
	}
}

