body .enyo-fit.panels-50-percent-left-scrim,
.panels-50-percent-left-scrim {
	left: 0px;
	width: 50%;
	height: 100%;
	overflow: visible;
	background-color: rgba(100, 100, 100, 0.1);
}
body .enyo-fit.panels-50-percent-right-scrim,
.panels-50-percent-right-scrim {
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: visible;
}