.moon-panel {
	-webkit-transform: scale3d(1,1,1);
	overflow: hidden;
	padding: 0;
	padding: 20px 10px;
	height: 100%;
	&.enyo-fit {
		height: auto;
	}
}

// Base set of styling for scrim to prevent receiving user input while transitioning
.moon-panel:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
// Adding the content property here, instead of above, means that this element will only appear in
// the DOM during ".transitioning". This was altered to improve marquee animation performance.
// Pseudo-elements without a content property cannot receive styling.
.moon-panel.transitioning:after {
	content: '';
}

.moon-panel-viewport {
	-webkit-transform: scale3d(1,1,1);
	overflow: hidden;
	position: relative;
}
.moon-panel-content-wrapper {
	-webkit-transform: scale3d(1,1,1);
	z-index: 2;
	box-sizing: border-box;
}
.moon-panel-body {
	overflow: hidden;
	position: relative;
	padding-top: 10px;
}

/* Breadcrumb */
.moon-panel-breadcrumb {
	-webkit-transform: scale3d(1,1,1);
	width: @moon-panel-breadcrumb-inner-width + (@moon-spotlight-outset * 2);
	height: @moon-panel-breadcrumb-height;
	position: absolute;
	top: 0px;
	left: 0px;
}
.moon-panel-breadcrumb-viewport {
	-webkit-transform: scale3d(1,1,1);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
}
.moon-panel-small-header-wrapper {
	-webkit-transform: scale3d(1,1,1);
	margin: @moon-spotlight-outset 0 0 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	height: 360px;
	width: 100%;
	padding: 0 @moon-spotlight-outset @moon-spotlight-outset @moon-spotlight-outset;
	box-sizing: border-box;
}
.moon-panel-small-header {
	margin-top: 25px;
	color: @moon-header-text-color;
	display: block;
	overflow: hidden;
	padding: 0px;
}

.spotlight .moon-panel-small-header {
	color:@moon-spotlight-text-color;
}
.moon-panel-small-header-title-above {
	color: @moon-header-text-color;
	border-top: 2px solid @moon-spotlight-text-color;
	padding-top: 5px;
}
.spotlight .moon-panel-small-header-title-above {
	color: @moon-spotlight-text-color;
}

.moon-panel .moon-panel-small-header-wrapper.spotlight {
	background: @moon-accent;
	color: @moon-white;
	.moon-panel-small-header-title-above {
		border-top: 2px solid transparent;
	}
}

/* Activity Panels Overrides */
.moon-panels.activity {
	.moon-panel {
		padding: 0;
	}
	.moon-panel-small-header-title-above {
		border-top: 2px solid @moon-header-border-color;
	}
	.moon-panel-small-header,
	.moon-panel-small-header-title-above {
		color: @moon-header-text-color;
	}
	.moon-panel-small-header-wrapper.spotlight {
		.moon-panel-small-header,
		.moon-panel-small-header-title-above {
			color: @moon-white;
		}
	}
}

/* AlwaysViewing Overrides */
.moon-panels.always-viewing {
	.moon-panel {
		padding: 0;
	}
	.moon-panel-small-header,
	.moon-panel-small-header-title-above {
		color: @moon-white;
	}
}

/* Panel animations */

@-webkit-keyframes panel-outer {
	0%   {-webkit-transform: translateZ(0) translateY(-100%);}
	100% {-webkit-transform: translateZ(0) translateY(0);}
}

@-webkit-keyframes panel-inner {
	0%   {-webkit-transform: translateZ(0) translateY(100%);}
	100% {-webkit-transform: translateZ(0) translateY(0);}
}

@-webkit-keyframes breadcrumb-outer {
	0%,       {-webkit-transform: translateZ(0) translateY(0%);}
	36%, 100% {-webkit-transform: translateZ(0) translateY(100%);}
}

@-webkit-keyframes breadcrumb-inner {
	0%        {-webkit-transform: translateZ(0) translateY(0%);}
	36%, 100% {-webkit-transform: translateZ(0) translateY(-100%);}
}

.moon-panel {
	.moon-panel-viewport,
	.moon-panel-content-wrapper,
	.moon-panel-breadcrumb-viewport,
	.moon-panel-small-header-wrapper {
		-webkit-transform: translateZ(0);
		-webkit-animation-fill-mode: both;
		-webkit-animation-timing-function: ease-in-out;
	}
	&.growing,
	&.shrinking {
		.moon-panel-viewport {
			-webkit-animation-name: panel-outer;
		}
		.moon-panel-breadcrumb-viewport {
			-webkit-animation-name: breadcrumb-outer;
		}
		.moon-panel-content-wrapper {
			-webkit-animation-name: panel-inner;
		}
		.moon-panel-small-header-wrapper {
			-webkit-animation-name: breadcrumb-inner;
		}
	}
	&.growing {
		.moon-panel-viewport,
		.moon-panel-content-wrapper,
		.moon-panel-breadcrumb-viewport,
		.moon-panel-small-header-wrapper {
			-webkit-animation-duration: 0.4s;
		}
	}
	&.shrinking {
		.moon-panel-viewport,
		.moon-panel-content-wrapper,
		.moon-panel-breadcrumb-viewport,
		.moon-panel-small-header-wrapper {
			-webkit-animation-duration: 0.5s;
			-webkit-animation-direction: reverse;
		}
	}
	&.shrunken {
		.moon-panel-viewport {
			-webkit-transform: translateZ(0) translateY(-101%);
		}
		.moon-panel-content-wrapper {
			-webkit-transform: translateZ(0) translateY(101%);
		}
	}
	&:not(.shrunken) {
		.moon-panel-breadcrumb-viewport {
			-webkit-transform: translateZ(0) translateY(101%);
		}
		.moon-panel-small-header-wrapper {
			-webkit-transform: translateZ(0) translateY(-101%);
		}
	}
}