/* Popup.css */
.moon-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.moon-popup-close {
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
}
.moon-popup-close.spotlight {
	background: #ffb80d;
}
.moon-popup-close::after {
	content: "\2716";
	font-size: 25px;
	position: relative;
	top: 5px;
	left: 10px;
	color: #4b4b4b;
}