/* Popup.css */
.moon-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background:none !important;
}
.moon-popup-childwrapper {
	position: relative;
	padding: 40px;
}
.moon-popup .moon-popup-childwrapper.animate {
	-webkit-transition: -webkit-transform 0.4s ease
}
.moon-popup-close {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	float: right;
	position: absolute;
	right: 10px;
	width: @moon-close-image-width;
	height: @moon-close-image-height;
	top: 10px;
	margin: 0;
}
.moon-popup-close.spotlight {
	background-color: @moon-popup-close-spotlight-color;
}
.moon-icon.moon-popup-close.active,
.moon-icon.moon-popup-close.pressed,
.moon-icon.moon-popup-close.spotlight.pressed,
.moon-icon.moon-popup-close.spotlight:active {
	background-color: @moon-popup-close-bg-color;
}