.moon-preview-slider-popup {
	position: absolute;
	display: block;
	z-index: 20;
	left: 100px;
	top: 0px;
	width: 340px;
	height: 270px;
	padding-left: 0px;
}
/*.moon-slider-popup-label {
	position: absolute;
	top: 2px;
	width: 60px;
	height: 45px;
	white-space: nowrap;
	font-family: "PreludeWGL Medium";
	color: #fff;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	font-size: 14px;
}*/
.moon-preview-slider-popup.above {
	top: -310px;
	padding-left: 10px;
}
.moon-slider-popup-flip-h {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
