.moon-preview-slider {
	height: 50px;
}


.moon-videoplayer-slider-popup {
	position: absolute;
	display: block;
	z-index: 20;
	left: 100px;
	top: 0px;
	width: 340px;
	height: 270px;
	padding-left: 0px;
	background-color: rgba(0,0,0,0.5);
}

.moon-slider-popup {
	background-color: rgba(0,0,0,0.5);
}

.moon-slider-popup-label {
	background-color: rgba(0,0,0,0.5);
}

.moon-videoplayer-slider-popup.above {
	top: -310px;
	padding-left: 10px;
}

/*.moon-slider-popup-flip-h {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}*/

.moon-videoplayer-screen {
	position: absolute;
/*	margin-top: 0px;
	margin-left: 0px;*/
	/*z-index: -1;*/
}