/* ProgressBar.css */
.moon-progress-bar {
	position: relative;
	margin: 50px 20px;
	height: @moon-progress-bar-height;
	background-color: @moon-progress-bg-color;
	min-width: 128px;
}
.moon-progress-bg-bar {
	height: 100%;
	background-color: @moon-progress-bar-bg-color;
	position: absolute;
	top: 0;
}
.moon-progress-bar-bar {
	height: 100%;
	background-color: @moon-progress-bar-bar-bg-color;
	position: absolute;
	top: 0;
}

/* RTL classes */
.moon-progress-bar-rtl .moon-progress-bar-bar {
	float: right;
}
