/* ProgressBar.css */
.moon-progress-bar {
	position: relative;
	margin: rI(50px) rI(20px);
	height: rI(10px);
	background-color: @moon-progress-bg-color;
	min-width: rI(128px);
	direction: ltr;
}

.moon-progress-bg-bar,
.moon-progress-bar-bar {
	height: 100%;
	position: absolute;
	top: rI(0);
}

.moon-progress-bg-bar {
	background-color: @moon-progress-bar-bg-color;
}

.moon-progress-bar-bar {
	background-color: @moon-progress-bar-bar-bg-color;
}
