/* Radio Button */
.moon-radio-button-group {
	position: relative;
	margin: 0px;
	padding: 0px;
}

.moon-radio-button-group .moon-button {
	display: inline-block;
	font-size: 16px;
	border-width: 0px;
	background-color: transparent;
	letter-spacing: normal;
	margin: 2px;
	white-space: nowrap;
	overflow: hidden;
	height: 28px;
	cursor: pointer;
	padding:0px 10px;
}

.moon-radio-button-group .moon-button.spotlight {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	padding-left: 20px;
	border-left: 24px solid #ffd200;
}

.moon-button-bar {
	position: absolute;
	top: 35px;
	left: 0px;
	height: 1px;
	width: 0px;
	background-color: #ffd200;
}