/* Radio Button */
.moon-radio-button {
	border-radius: 0px;
	line-height: 25px;
	text-align: left;
}

.moon-radio-button.active,
.moon-radio-button.pressed,
.moon-radio-button:active,
.moon-radio-button.spotlight,
.moon-radio-button.spotlight.pressed,
.moon-radio-button.spotlight:active,
.moon-radio-button.active.spotlight
{
	border:none;
}