/* Radio Item */
.moon-radio-item {
	display: inline-block;
}
.enyo-locale-right-to-left .moon-radio-item {
	text-align: right;
}

/* Indicator */
.moon-selectable-item-indicator.moon-radio-item-indicator {
	display: inline-block;
	background-color: #fff;
	position: relative;
}
.moon-selectable-item-indicator.moon-radio-item-indicator .moon-radio-item-indicator-center-dot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	top: 5px;
	left: 5px;
	background-color: #888;
}
.moon-selectable-item.selected .moon-selectable-item-indicator.moon-radio-item-indicator .moon-radio-item-indicator-center-dot {
	background-color: @moon-pink;
}