/* Radio Item */
.moon-radio-item-group {
	position: relative;
	margin: 0px;
	padding: 0px;
}

.moon-radio-item-group .moon-button {
	.moon-sub-header-text;
	display: inline-block;
	border-width: 0px;
	background-color: transparent;
	letter-spacing: normal;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	line-height: normal;
	color: @moon-radio-item-text-color;
	margin: 0px 37px 33px 0px;
	padding: 3px 0px 2px 0px;
	text-transform: capitalize;
	min-width: 0px;
}

.moon-radio-item-group .moon-button[disabled] {
	cursor: default;
	color: @moon-button-disabled-color;
}

.moon-radio-item-group .moon-button.spotlight,
.moon-radio-item-group  .moon-button.spotlight:active {
	transition: border-width 0.1s linear, padding 0.1s linear;
	-webkit-transition: border-width 0.1s linear, padding 0.1s linear;
	-moz-transition: border-width 0.1s linear, padding 0.1s linear;
	-o-transition: border-width 0.1s linear, padding 0.1s linear;
	padding-left: 4px;
	border: none;
	border-left: 21px solid @moon-spotlight-border-color;
	background-color: transparent;
}

.enyo-locale-right-to-left .moon-radio-item-group .moon-button.spotlight {
	border-right: 21px solid @moon-spotlight-border-color;
	border-left:0px;
}
.moon-button-bar {
	position: absolute;
	top: 44px;
	left: 0px;
	height: 4px;
	width: 0px;
	background-color: @moon-button-bar-bg-color;
}
/* TODO: Change the bar color and position on spotlight - unfortunately, the way we have implemented the bar today, it's not easy to change this via css - rethink design! */
.spotlight.moon-button-bar {
	background-color: @moon-spotlight-border-color;
	transition: left 0.1s linear;
	-webkit-transition: left 0.1s linear;
	-moz-transition: left 0.1s linear;
	-o-transition: left 0.1s linear;
	left: 23px;
}
.moon-radio-item-group .moon-button.spotlight {
}
