/* Radio Item */
.moon-radio-item {
	border-radius: 0px;
	line-height: 25px;
	text-align: left;
}
.enyo-locale-right-to-left .moon-radio-item{
	text-align:right;
}
.moon-radio-item.active,
.moon-radio-item.pressed,
.moon-radio-item:active,
.moon-radio-item.spotlight,
.moon-radio-item.spotlight.pressed,
.moon-radio-item.spotlight:active,
.moon-radio-item.active.spotlight
{
	border:none;
}
