/* Radio Button */
.moon-radio-button {
	position: relative;
	margin: 0px;
	padding: 0px;
}
.moon-button-bar {
	position: absolute;
	top: 35px;
	left: 0px;
	height: 1px;
	width: 0px;
	background-color: orange;
}