/* RichText.css */
.moon-richtext {
	.moon-body-text;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	min-height: 50px;
	height: 96px;
	min-width: 100px;
}
.enyo-locale-non-latin .moon-richtext {
	.enyo-locale-non-latin .moon-body-text;
}

.moon-input-decorator > .moon-richtext {
	resize: none;
    overflow: auto;
	background-image: none;
	box-shadow: none;
	text-transform: none;
	/* FIXME: hack for styling reset on Android */
	/* -webkit-appearance: caret;*/
}
.moon-input-decorator.moon-focused .moon-richtext {
	cursor: text;
}
.moon-input-decorator.moon-disabled .moon-richtext {
	cursor: default;
}
