.moon-searchheader {
	height: 96px;
    margin-bottom: 49px;
}
.moon-searchheader-title-above {
    font-size: @moon-header-super-text-size;
    font-weight: bold;
    line-height: 1em;
    padding: 0px;
    margin: 54px 0px 7px 1px;
    width: 30px;
    border-bottom: 0px solid @moon-searchheader-above-border-color;
}
.moon-searchheader-title {
    font-size: @moon-searchheader-text-size;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
.moon-searchheader-title-below {
    font-size: @moon-header-sub-text-size;
    font-weight: normal;	
    line-height: 1em;
    min-height: @moon-header-sub-text-size; 
    padding: 0px 0px 0px 0px;
    margin: 18px;
}
.moon-searchheader-container {
    position: absolute;
    top: 0px;
}
.moon-searchheader-search-left {
    width: 210px;
}
.moon-searchheader-search-right {
    width: 219px;
}
