/* Item.css */
.moon-selectableItem {
	.moon-no-border();
	font-family: @moon-font-family;
	font-size: 36px;
	font-weight: bold;
	line-height: 24px;
	color: @moon-font-color-light;
	margin: 0px 0px 33px 0px;
	padding: 2px 0px 0px 0px;
	text-transform: uppercase;
}
.moon-selectableItem.disabled {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-selectableItem.spotlight {
	padding-left: 4px;
	border-left: 16px solid #ffd200;
}