.selection-enabled {
	.moon-selection-overlay-support {
		&.selected {
			.moon-selection-overlay-support-scrim {
				display: block;
				text-align: center;

				.moon-icon {
					position: absolute;
					width: @moon-icon-button-small-size;
					height: @moon-icon-button-small-size;
					line-height: @moon-icon-button-small-size;
					font-size: @moon-icon-small-size * 2 + 8;
					color: @moon-accent;
					margin: -@moon-icon-button-small-size / 2 0 0 -@moon-icon-button-small-size / 2;
					background-color: @moon-selection-overlay-bg-color;
					border-radius: @moon-icon-button-small-size / 2;
					background-position: center @moon-button-border-width;
					// background-size: auto overrides the default set by .moon-icon.small in icon.less,
					// ensures the code supporting either 1 or 2 frames sprite image
					background-size: auto;
				}
			}
		}
	}
}

.moon-selection-overlay-support-scrim {
	display: none;
	z-index: 1000;
}