/* SelectableItem.css */
.moon-selectable-item.selected {
	padding: rI(10px) rI(@moon-spotlight-outset) rI(10px) rI(@moon-item-indent + @moon-spotlight-outset);

	&:before {
		content: '';
		position: absolute;
		left: rI(@moon-spotlight-outset);
		top: rI(17px);
		width: rI(@moon-selectable-item-indicator-width);
		height: rI(@moon-selectable-item-indicator-height);
		border-radius: rI(@moon-selectable-item-indicator-width / 2);
		background-color: @moon-accent;
	}

	&.spotlight:before {
		background-color: @moon-spotlight-text-color;
	}
}

.enyo-locale-right-to-left {
	.moon-selectable-item {

		&.selected {
			padding: rI(10px) rI(@moon-item-indent + @moon-spotlight-outset) rI(10px) rI(@moon-spotlight-outset);

			&:before {
				left: auto;
				right: rI(@moon-spotlight-outset);
			}
		}
	}
}
