
.moon-simple-picker {
	display: inline-block;
}

.moon-simple-picker > * {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.moon-simple-picker-button {
	border-radius: 0;
	background: gray;
	color: white;
	border: 0;
	height: 30px;
	font-weight: normal;
}

.moon-simple-picker-client {
	background: gray;
	height:30px;
	color:white;
}

.moon-simple-picker-item {
	white-space:nowrap; 
	text-align:center; 
	padding:5px 10px;
}