/*mixin class for scroller left and right arrow*/
.moon-simple-interger-arrow-font-style(@color) {
  font-family: @moon-icon-font-family;
  font-size: @moon-icon-small-size * 2;
  line-height: @moon-picker-button-width;
  color: @color;
}

.moon-simple-integer-picker {
  white-space: nowrap;
  .moon-sub-header-text;
  position: relative;
  display: inline-block;
  height: @moon-picker-button-width;
  border-radius: @moon-picker-button-width / 2;
  > * {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: @moon-picker-button-width;
    line-height: @moon-picker-button-width;
  }

  &.spotlight {
    background: @moon-spotlight-border-color;
    .moon-simple-integer-picker-item,
    .moon-simple-integer-picker-button {
      color: @moon-spotlight-text-color;
    }
  }

  .moon-simple-integer-picker-button {
    width: @moon-picker-button-width;
    height: @moon-picker-button-width;
    border-radius: @moon-picker-button-width / 2;
    text-align: center;
    .moon-simple-interger-arrow-font-style(@moon-sub-header-text-color);

    &.left:after {
      content: @moon-icon-arrowsmallleft;
    }
    &.right:after {
      content: @moon-icon-arrowsmallright;
    }
  }

  .spotlight .moon-simple-integer-picker-button {
    &.left:after {
      content: @moon-icon-arrowlargeleft;
    }
    &.right:after {
      content: @moon-icon-arrowlargeright;
    }
  }

  .moon-simple-integer-picker-item {
    .moon-sub-header-text;
    white-space: nowrap;
    padding: 0 10px;
    width: auto;
    text-align: center;
  }
}

/* Overlay */
.moon-scroll-picker-overlay-container-left,
.moon-scroll-picker-overlay-container-right {
  width: @moon-picker-button-width;

  .moon-scroll-picker-overlay-left,
  .moon-scroll-picker-overlay-right {
    position: absolute;
    width: @moon-picker-button-width;
    border-radius: @moon-picker-button-width / 2;
    background: @moon-spotlight-border-color;
    box-sizing: border-box;
    text-align: center;
    .moon-simple-interger-arrow-font-style(@moon-spotlight-text-color);
  }

  .moon-scroll-picker-overlay-left {
    border-left: solid  @moon-integer-picker-shadow-width @moon-shadow-color;
    &:before {
      content: @moon-icon-arrowsmallleft;
      margin-left: -@moon-integer-picker-shadow-width;
    }
  }
 
  .moon-scroll-picker-overlay-right {
    border-right: solid  @moon-integer-picker-shadow-width @moon-shadow-color;
    &:before {
      content: @moon-icon-arrowsmallright;
      margin-right: -@moon-integer-picker-shadow-width;
    }
  }
}

.moon-simple-integer-picker.disabled,
.moon-simple-integer-picker-button[disabled] {
  cursor: default;
  opacity: @moon-disabled-opacity;
}

.enyo-locale-right-to-left {
  .moon-simple-integer-picker {
    float: right;
  }
  .moon-simple-integer-picker-client {
    direction: rtl;
  }
}

.enyo-locale-non-latin {
  .moon-simple-integer-picker-item {
    .enyo-locale-non-latin .moon-sub-header-text;
  }
}