.moon-simple-picker {
	display: inline-block;
}

.moon-simple-picker > * {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
}

.moon-simple-picker-button {
	width: @moon-picker-button-width;
	height: @moon-picker-button-width;
	line-height: @moon-picker-button-width;
	border-radius: @moon-picker-button-width/2;
	border: 0px;
	background: inherit;
	color: @moon-dark-gray;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-family: @moon-button-font-family;
	background: transparent @moon-caret-black-large-up-icon no-repeat center center;
}
.moon-simple-picker-button.hidden {
	opacity: 0;
}

.moon-simple-picker-button.spotlight {
	background-color: @moon-spotlight-border-color;
}

.moon-simple-picker-button-bold {
	margin: 2px 0px;
	font-size: @moon-picker-button-font-size;
}

.moon-simple-picker-client {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.moon-simple-picker-item {
	line-height: @moon-picker-button-width;
	height: @moon-picker-button-width;
	color: @moon-dark-gray;
	white-space:nowrap; 
	text-align: center; 
	padding: 0px;
	width: auto;
	max-width: 250px;
}
.moon-simple-picker.disabled, .moon-simple-picker-button[disabled] {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}

.moon-simple-picker-button.left {
	transform: rotate(270deg) translateZ(1px);
	-o-transform: rotate(270deg) translateZ(1px);
	-ms-transform: rotate(270deg) translateZ(1px);
	-moz-transform: rotate(270deg) translateZ(1px);
	-webkit-transform: rotate(270deg) translateZ(1px);
	margin-right: 10px;
}

.moon-simple-picker-button.right {
	transform: rotate(90deg) translateZ(1px);
	-o-transform: rotate(90deg) translateZ(1px);
	-ms-transform: rotate(90deg) translateZ(1px);
	-moz-transform: rotate(90deg) translateZ(1px);
	-webkit-transform: rotate(90deg) translateZ(1px);
	margin-left: 10px;
}

