/* Slider Bar */
.moon-slider {
	margin: rI(60px) rI(45px);

	&.spotlight {
		> .moon-progress-bar-bar {
			background-color: @moon-slider-spotlight-bar-color;
		}

		> .moon-slider-knob {
			background-color: @moon-slider-spotlight-knob-color;

			&.spotselect {
				background-color: @moon-slider-knob-bg-color;
				border: rI(@moon-button-border-width) solid @moon-spotlight-color;
			}
		}
	}

	&.disabled {
		cursor: default;
		opacity: @moon-disabled-opacity;
	}
}

/* Slider Knob */
.moon-slider-knob {
	position: absolute;
	height: rI(@moon-slider-knob-height);
	width: rI(@moon-slider-knob-width);
	border-radius: rI(@moon-slider-knob-width);
	margin: rI(-@moon-slider-knob-width / 2);
	background-color: @moon-slider-knob-bg-color;
	top: rI(@moon-progress-bar-height / 2);
	border: rI(@moon-button-border-width) solid transparent;
	box-sizing: border-box;

	&:not(.spotselect) {
		&.active,
		&.spotselect,
		&:active:not(.disabled) {
			width: rI(@moon-slider-knob-spotlight-width);
			height: rI(@moon-slider-knob-spotlight-height);
			border-radius: rI(@moon-slider-knob-spotlight-width / 2);
			margin: rI(-@moon-slider-knob-spotlight-width / 2);
			border: rI(@moon-button-border-width) solid transparent;
			box-sizing: border-box;
		}
	}
}

.moon-slider-taparea {
	position: absolute;
	top: rI(-14px);
	height: rI(@moon-progress-bar-height * 3 + 2);
	width: 100%;
}

/* Slider Popup */
.moon-slider-popup {
	white-space: nowrap;
	z-index: 20;
	left: 50%;

	// move the common properties of popup-left, popup-center, popup-right to the following > * block
	> * {
		position: relative;
		display: inline-block;
		vertical-align: top;
	}

	.moon-slider-popup-left {
		margin: rI(0) rI(-1px) rI(0) rI(0);
	}

	.moon-slider-popup-center {
		z-index: 21;
	}

	.moon-slider-popup-right {
		margin: rI(0) rI(0) rI(0) rI(-1px);
	}

	.moon-slider-popup-label {
		color: @moon-slider-popup-text-color;
		text-align: center;
	}

	&.moon-slider-popup-flip-h {
		left: auto;
		right: 50%;
	}
}

.moon-slider-popup-flip-h {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
}

.enyo-locale-non-latin .moon-slider-popup-label {
	font-size: rI(30px);
}