.moon-slider-taparea {
	position: absolute;
	top: -14px;
	height: 32px;
	width: 100%;
}
.moon-slider-knob,
.moon-slider-knob.disabled:active:hover {
	position: relative;
	height: 56px;
	width: 56px;
	border-radius: 28px;
	margin: -30px -29px;
	background-color: #69cdff;
}
.moon-slider-knob.active,
.moon-slider-knob.spotselect,
.moon-slider-knob:active:hover {
	height: 84px;
	width: 84px;
	border-radius: 42px;
	margin: -42px -44px;
}
.moon-slider.spotlight > .moon-progress-bar-bar {
	background-color: #ffb80d;
}
.moon-slider.spotlight > .moon-slider-knob {
	background-color: #ffb80d;
}
.moon-slider.disabled {
	cursor: default;
	opacity: @moon-disabled-opacity;
	filter: alpha(opacity=@moon-disabled-opacity-ie);
}
.moon-slider-popup {
	position: absolute;
	display: block;
	z-index: 20;
	left: 100px;
	top: 0px;
	width: 62px;
	height: 52px;
	padding-left: 0px;
}
.moon-slider-popup-label {
	position: absolute;
	top: 2px;
	width: 60px;
	height: 45px;
	white-space: nowrap;
	font-family: "PreludeWGL Medium";
	color: #fff;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	font-size: 14px;
}
.moon-slider-popup.above {
	top: -90px;
	padding-left: 10px;
}
.moon-slider-popup-flip-h {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.moon-slider-focus {
	background-color: #ffb80d;
}
.moon-slider-nofocus {
	background-color: #69cdff;
}
