/* Spinner.css */
.moon-spinner {
	border-radius: @moon-spinner-size;
	height: @moon-spinner-size;
	min-width: @moon-spinner-size;
	display: inline-block;
	background: @moon-spinner-background-color @moon-spinner-image no-repeat 7px 7px;
	color: @moon-spinner-text-color;
	line-height: @moon-spinner-size;
	margin: 0 @moon-spotlight-outset;
}
.moon-spinner.content {
	padding-left: @moon-spinner-size;
	padding-right: 40px;	
}