/* Spinner.css */

@-webkit-keyframes spinBall {
	0%        { -webkit-transform: rotateZ(@moon-spinner-ball-angle); }
	/* Slow down toward the top */
	15%       { -webkit-transform: rotateZ(160deg); }
	25%       { -webkit-transform: rotateZ(200deg); }
	30%       { -webkit-transform: rotateZ(225deg); }
	/* Speed back up as the ball falls */
	/* Impact at last ball */
	34%       { -webkit-transform: rotateZ(360 - (@moon-spinner-ball-angle * 3)); }
	39%, 67%  { -webkit-transform: rotateZ(360 - @moon-spinner-ball-angle); }
	72%       { -webkit-transform: rotateZ(360 + @moon-spinner-ball-angle + 10); }
	79%, 100% { -webkit-transform: rotateZ(360 + @moon-spinner-ball-angle); }
}

@-webkit-keyframes propellerBall {
	0%   { -webkit-transform: rotateZ(0deg); }
	100% { -webkit-transform: rotateZ(360deg); }
}

.moon-spinner {
	height: @moon-spinner-size;
	min-width: @moon-spinner-size;
	line-height: @moon-spinner-size;
	position: relative;
	display: inline-block;
	color: @moon-spinner-text-color;
	background-color: @moon-spinner-background-color;
	border-radius: @moon-spinner-size;
	margin: 0 @moon-spotlight-outset;

	&.moon-spinner-transparent-background {
		background-color: transparent;
	}
	&.content {
		position: static;

		height: @moon-button-height;
		min-width: @moon-button-height;
		line-height: @moon-button-height;
		.moon-spinner-ball-decorator {
			width: @moon-button-height;
			height: @moon-button-height;
		}
		.moon-spinner-text {
			line-height: @moon-button-height;
		}
	}
	.moon-spinner-ball-decorator {
		position: relative;
		width: @moon-spinner-size;
		height: @moon-spinner-size;
		float: left;
		&.spin-ball-animation > * {
			-webkit-animation-name: spinBall;
		}
		&.propeller-ball-animation > * {
			-webkit-animation-name: propellerBall;
		}
	}
	.moon-spinner-ball {
		position: absolute;
		text-align: center;
		font-size: 90%;
		line-height: 0.4em;
		-webkit-animation: @moon-spinner-time linear infinite;
		height: @moon-spinner-ball-height;
		width: @moon-spinner-ball-width;
		left: (50% - (@moon-spinner-ball-width / 2));
		bottom: (50% - @moon-spinner-ball-height - @moon-spinner-ball-disatance);
		-webkit-transform-origin: center ((@moon-spinner-ball-disatance / @moon-spinner-ball-height) * -100);

		&:after {
			content: "•";
		}
	}
	.moon-spinner-ball1 {
		-webkit-animation-delay: (1/3 * @moon-spinner-time);
		color: @moon-spinner-ball1-color;
	}
	.moon-spinner-ball2 {
		-webkit-animation-delay: (2/3 * @moon-spinner-time);
		color: @moon-spinner-ball2-color;
	}
	.moon-spinner-ball3 {
		-webkit-animation-delay: (3/3 * @moon-spinner-time);
		color: @moon-spinner-ball3-color;
	}
	.moon-spinner-text {
		float: left;
		line-height: @moon-spinner-size;
		margin: 0 2ex 0 0.5ex;
	}
}
.enyo-locale-right-to-left .moon-spinner {
	.moon-spinner-ball-decorator {
		-webkit-transform: scaleX(-1);
	}
	.moon-spinner-ball-decorator {
		float: right;
	}
	.moon-spinner-text {
		float: right;
		margin-left: 2ex;
		margin-right: 0.5ex;
	}
}

/* Gif-based Spinner */
.moon-spinner-gif {
	border-radius: @moon-spinner-size;
	height: @moon-spinner-size;
	min-width: @moon-spinner-size;
	display: inline-block;
	background: @moon-spinner-background-color @moon-spinner-image no-repeat 7px 7px;
	color: @moon-spinner-text-color;
	line-height: @moon-spinner-size;
	margin: 0 @moon-spotlight-outset;
}
.moon-spinner-gif.content {
	padding-left: @moon-button-height;
	padding-right: 40px;	
	height: @moon-button-height;
	line-height: @moon-button-height;
	background-position: 13px 13px;
}
.enyo-locale-right-to-left .moon-spinner-gif.content {
	background-position: top 13px right 13px;
	padding-right: @moon-button-height;
	padding-left: 40px;
}