/* Spinner.css */

.moon-spinner {
	color: @moon-spinner-text-color;
	background-color: @moon-spinner-background-color;

	.moon-spinner-ball1 {
		color: @moon-spinner-ball1-color;
	}
	.moon-spinner-ball2 {
		color: @moon-spinner-ball2-color;
	}
	.moon-spinner-ball3 {
		color: @moon-spinner-ball3-color;
	}
}
