/* Table.css */
.moon-table-row {
	&.spotlight{
		background-color: @moon-spotlight-background-color;
		color: @moon-spotlight-text-color;
	}

	.moon-table-cell {
		padding: rI(@moon-spotlight-outset);
		white-space: nowrap;
	}
}