/* Table.css */

/*.moon-table {
	padding-right: 2em;
	.border-box;
}*/

.moon-table-row.spotlight {
	background-color: @moon-spotlight-background-color;
}

/* TODO: Support for disabled table rows? */

.moon-table-cell {
	padding-right: 2em;
	white-space: nowrap;
}