/* TextArea.css */
.moon-textarea,
.moon-richtext {
	padding: 0;
	border: 0;
	cursor: pointer;
	background: transparent;
	height: (3 * @moon-body-line-height);
	width: 300px;
	color: @moon-input-textarea-color;
	// Remove scrollbars and resize handle
	resize: none;
	overflow: auto;

	&::selection {
		color: @moon-spotlight-text-color;
		background-color: @moon-spotlight-background-color;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track-piece {
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb:vertical {
		background-color: @moon-active-border-color;
		border-radius: 10px;
	}
}

.moon-textarea-decorator {
	&.moon-focused .moon-textarea,
	.moon-focused .moon-richtext {
		cursor: text;
	}

	&.moon-disabled .moon-textarea,
	.moon-disabled .moon-richtext {
		cursor: default;
	}
}

.enyo-locale-right-to-left .moon-textarea {
	text-align: right;
}

