.moon-text-overlay-support-scrim{
  background : rgba(0, 0, 0, 0.5);
}

.moon-text-overlay-support-scrim-center{
  margin: auto;
  width:100%;
  display:table;
  table-layout: fixed;
}

.moon-text-overlay-upperText{
  text-align:center;
  position: relative;
  width: 72%;
  padding-left: 14%;
  padding-right: 14%;
  display: block; 
  display: -webkit-box;
  font-family: "MuseoSans 500";
  font-size: 24px;
  line-height: 26px;
  text-overflow: ellipsis; overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom:2px;
  -webkit-box-orient: vertical;
}

.moon-text-overlay-marquee{
  text-align:center;
  position: relative;
  width: 72%;
  padding-left: 14%;
  padding-right: 14%;
  display: block; 
  font-family: "MuseoSans 500";
  font-size: 24px;
  line-height: 26px;
  text-overflow: ellipsis; overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom:2px;
}

.moon-text-overlay-bottomText{
  text-align:center;
  position: relative;
  width: 72%;
  padding-left: 14%;
  padding-right: 14%;
  display:block;
  font-family: "Moon Miso Bold";
  font-size: 48px;
  line-height: 48px;
  text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
  color: rgba(255, 255, 255, 0.3);
  margin-top:1px;
}

.moon-text-overlay-support-line1{
  -webkit-line-clamp: 1;
} 

.moon-text-overlay-support-line2{
  -webkit-line-clamp: 2;
} 

.moon-text-overlay-support-line3{
  -webkit-line-clamp: 3;
} 