/* TextArea.css */
.moon-textarea {
	.moon-body-text;
	line-height: @moon-body-line-height;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	/* need >=50px for scrollbar to be usable on mac */
	min-height: 50px;
	height: 3 * @moon-body-line-height;
	min-width: 100px;
}
.moon-input-decorator > .moon-textarea {
	/* Remove scrollbars and resize handle */
	resize: none;
	overflow: auto;
	/* FIXME: hack for styling reset on Android */
	/* -webkit-appearance: caret;*/
}
.moon-input-decorator.moon-focused .moon-textarea {
	cursor: text;
}
.moon-input-decorator.moon-disabled .moon-textarea {
	cursor: default;
}