/* TextArea.css */
.moon-textarea {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	font-size: @moon-thin-text-size;
	font-family: @moon-sub-font-family;
	/* need >=50px for scrollbar to be usable on mac */
	min-height: 50px;
	min-width: 100px;
}
.moon-input-decorator > .moon-textarea {
	/* Remove scrollbars and resize handle */
	resize: none;
	overflow: auto;
	/* FIXME: hack for styling reset on Android */
	/* -webkit-appearance: caret;*/
}
.moon-input-decorator.moon-focused .moon-textarea {
	cursor: text;
}
.moon-input-decorator.moon-disabled .moon-textarea {
	cursor: default;
}