.moon-thumb {
	-webkit-transform-origin: 0px 0px;
	border: none;
	background: @moon-thumb-bg-color;
	width: 4px;
	height: 4px;
	border-radius: 0;
}

.moon-scroller-hthumb {
	bottom:  @moon-icon-button-size/2 - 2;
}
.moon-scroller-vthumb {
	right:  @moon-icon-button-size/2 - 2;
}
.moon-scroller-hthumb.hidden,
.moon-scroller-vthumb.hidden {
	opacity: 0;
}