.moon-thumb {
	-webkit-transform-origin: rI(0) rI(0);
	border: none;
	background: @moon-thumb-bg-color;
	width: rI(4px);
	height: rI(4px);
	border-radius: rI(0);
}
.moon-neutral .moon-thumb {
	background: @moon-neutral-thumb-bg-color;
}

.moon-scroller-hthumb,
.moon-scroller-vthumb {
	transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
}
.moon-scroller-hthumb {
	bottom: rI(@moon-icon-button-small-size / 2 - 2);
}
.moon-scroller-vthumb {
	right: rI(@moon-icon-button-small-size / 2 - 2);
}
.moon-scroller-hthumb.hidden,
.moon-scroller-vthumb.hidden {
	opacity: 0;
}