/* Toggle.css */

.moon-checkbox.moon-toggle-text {
	line-height: @moon-checkbox-image-height + 3;
	text-align: left;
	text-transform: uppercase;
	background: inherit;
	opacity: 1;
	background: transparent none no-repeat 0 0;
}
.moon-checkbox.moon-toggle-text[disabled] {
	opacity: 0.4;
}
.moon-checkbox.moon-toggle-text[checked] {
	background: transparent none no-repeat 0px 0px;
}

.moon-checkbox-item.spotlight .moon-checkbox.moon-toggle-text[checked] {
	background: transparent none no-repeat 0px 0px;
}

.moon-checkbox.moon-toggle-text .moon-overlay {
	background: transparent;
	position: absolute;
	right: 0px;
	text-align: right;
	color: @moon-checkbox-toggle-text-color;
	height: auto;
	width: auto;
	// opacity: 0; // temporarily remove overlay as it's causing problems
}

.moon-toggle-text-text {
	position: absolute;
	right: 0px;
	text-align: right;
	color: @moon-toggle-text-color;
}

.moon-checkbox-item.spotlight .moon-toggle-text-text {
	color: @moon-spotlight-text-color;
}