/* ToggleSwitch.css */

.moon-checkbox.moon-toggle-switch,
.moon-checkbox.moon-toggle-switch[checked],
.moon-checkbox-item.moon-toggle-item.spotlight .moon-toggle-switch[checked] {
	background-image: none;
}
.moon-checkbox.moon-toggle-switch {
	border-radius: (@moon-toggleswitch-image-height / 2);
	height: @moon-toggleswitch-image-height;
	width: @moon-toggleswitch-image-width;
	color: @moon-checkbox-toggle-switch-color;
	background-color: @moon-checkbox-toggle-switch-bg-color;
	font-family: @moon-font-family;
	overflow: hidden;
	-webkit-transition: background-color 0.2s, color 0.2s;
	background-image: none;
	text-align: left;

	&:after {
		content: "\025CF";
		-webkit-transition: padding-left 0.2s;
		padding-left: 0.1ex;
	}
	&[checked], &.checked {
		color: @moon-checkbox-toggle-switch-checked-color;
		background-color: @moon-checkbox-toggle-switch-checked-bg-color;
		background-image: none;
		&:after {
			padding-left: 2.2ex;
		}
	}
	&[disabled], &.disabled {
		background-color: @moon-button-disabled-bg-color;
		color: @moon-button-disabled-text-color;
	}
}
