/* Toggle.css */

.moon-checkbox.moon-toggle-indicator {
	top:11px; /* To overwrite top:10px set by .moon-checkbox-item .moon-checkbox so the indicator vertically middle align */
}

.moon-toggle-item-off {
	background:@moon-toggle-item-off no-repeat 0 0;
}
.moon-checkbox-item.spotlight .moon-checkbox.moon-toggle-indicator[checked].moon-toggle-item-on,
.moon-checkbox.moon-toggle-indicator[checked].moon-toggle-item-on {
	background:@moon-toggle-item-on no-repeat 0 0;
}


