/* ToggleSwitch.css */
.moon-checkbox.moon-toggle-switch {
	border-radius: (@moon-toggleswitch-image-height / 2);
	width: @moon-toggleswitch-image-width;
	height: @moon-toggleswitch-image-height;
	line-height: @moon-toggleswitch-image-height;
	background-color: @moon-checkbox-toggle-switch-bg-color;
	font-family: @moon-icon-font-family;
	font-size: @moon-toggleswitch-image-width;
	overflow: hidden;
	text-align: left;

	.moon-icon {
		visibility: visible;
		cursor: default;
		background-color: transparent;
		left: 0px;
		color: @moon-checkbox-toggle-switch-color;
	}
	&[checked] {
		background-color: @moon-checkbox-toggle-switch-checked-bg-color;

		.moon-icon {
			left:  @moon-toggleswitch-image-width / 2;
			color: @moon-checkbox-toggle-switch-checked-color;
		}
	}
	&[disabled] {
		background-color: @moon-checkbox-toggle-switch-bg-color;

		.moon-icon {
			color: @moon-checkbox-toggle-switch-color;
		}
	}
	&.animated .moon-icon {
		-webkit-transition: background-color 0.2s, left 0.2s;

		&:after {
			-webkit-transition: color 0.2s;
		}
	}
}

// Fix a rounding issue for the smaller scale
.moon-res-hd .moon-checkbox.moon-toggle-switch .small > .small-icon-tap-area {
	top: 0;
	bottom: 0;
	line-height: (@moon-toggleswitch-image-height + 3);
}
