.moon-toggle-item {
	display: block;
	position:relative;
}
.moon-toggle-item .moon-checkbox {
	width: 65px;
	height:33px;
}
.moon-toggle-item .moon-toggle-item-label-wrapper {
	margin-right: 75px;
}
.enyo-locale-right-to-left .moon-toggle-item .moon-toggle-item-label-wrapper {
	margin-left: 75px;
	margin-right: 0px;
}
