.moon-toggle-item {
	display: block;
	position:relative;
}
.moon-toggle-item .moon-checkbox {
	width: 53px;
}
.moon-toggle-item .moon-toggle-item-label-wrapper {
	height: @moon-item-line-height;
	padding: 2px 0px 0px 0px;
	margin-right: 65px;
}
.enyo-locale-right-to-left .moon-toggle-item .moon-toggle-item-label-wrapper {
	margin-left: 65px;
	margin-right: 0px;
}
.moon-toggle-item.disabled .moon-toggle-text {
	opacity: 1;
}
