/* Toggle.css */

.moon-checkbox.moon-toggle-button {
	line-height: @moon-checkbox-image-height;
	text-align: left;
	text-transform: uppercase;
	background: inherit;
	opacity: 1;
	background: transparent none no-repeat 0 0;
	position: relative;
}
.moon-checkbox.moon-toggle-button[disabled] {
	opacity: 0.4;
}
.moon-checkbox.moon-toggle-button[checked] {
	background: transparent none no-repeat 0px 0px;
}

.moon-checkbox.moon-toggle-button .moon-overlay {
	background: transparent;
	position: absolute;
	right: 0px;
	text-align: right;
	color: @moon-orange;
}

.moon-toggle-button-text {
	position: absolute;
	right: 0px;
	text-align: right;
	color: #A9A9A9;
}