/* Toggle.css */

.moon-checkbox.moon-toggle-text {
	text-transform: uppercase;
	background: inherit;
	opacity: 1;
	display: table-cell;
	white-space: nowrap;
	color: @moon-toggle-text-color;
	position: static;
	padding-left: @moon-spotlight-outset;
}
.moon-checkbox.moon-toggle-text[disabled] {
	opacity: @moon-disabled-opacity;
}
.moon-checkbox.moon-toggle-text[checked] {
	background: transparent none no-repeat 0px 0px;
}

.moon-checkbox-item.spotlight .moon-checkbox.moon-toggle-text[checked] {
	background: transparent none no-repeat 0px 0px;
}

.enyo-locale-right-to-left .moon-checkbox.moon-toggle-text {
	padding-left: 0;
	padding-right: @moon-spotlight-outset;
}

.moon-checkbox-item.spotlight .moon-toggle-text {
	color: @moon-spotlight-text-color;
}