.moon-toggle-item {
	display: block;
	position:relative;
}
.moon-toggle-item-fit {
	display: table-cell;
	width: 100%;
}
.moon-toggle-item-wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 30px;
}
.moon-toggle-item .moon-toggle-item-label-wrapper {
	height: @moon-item-line-height;
	position: absolute;
	top: 2px;
	width: 100%;
}
.moon-toggle-item.disabled .moon-toggle-text {
	opacity: 1;
}
