.moon-tooltip {
	z-index: 20;
	height: @moon-tooltip-height;
	-webkit-transform: translateZ(0);
}
.moon-tooltip-label {
	.moon-small-button-text;
	height: @moon-tooltip-label-height;
	line-height: @moon-tooltip-label-height;
	white-space: nowrap;
	color: @moon-tooltip-text-color;
	text-align: center;
	padding: 0px (@moon-button-h-padding + 2);
	background-color: @moon-tooltip-bg-color;
}
.enyo-locale-non-latin .moon-tooltip-label {
	.enyo-locale-non-latin .moon-small-button-text;
}
.moon-tooltip.below > .moon-tooltip-label {
	margin: (@moon-tooltip-height - @moon-tooltip-label-height) 0px 0px;
}
.moon-tooltip.above > .moon-tooltip-label {
	margin: 0px 0px (@moon-tooltip-height - @moon-tooltip-label-height);
}

.moon-tooltip-label:before {
	position: absolute;
	content: "";
	width: 84px;
	height: (@moon-tooltip-label-height + 1);
}

/* .above .left-arrow nub shape */
.moon-tooltip.above.left-arrow .moon-tooltip-label {
	border-radius: (@moon-tooltip-height / 2) (@moon-tooltip-height / 2) (@moon-tooltip-height / 2) 0px;
	&:before {
		top: 29px;
		left: -2px;
		border-top: 29px solid @moon-tooltip-bg-color;
		clip: rect(30px, 24px, 38px, 2px);
		border-radius: @moon-button-border-radius;
	}
}

/* .above .right-arrow nub shape */
.moon-tooltip.above.right-arrow .moon-tooltip-label {
	border-radius: (@moon-tooltip-height / 2) (@moon-tooltip-height / 2) 0px (@moon-tooltip-height / 2);
	&:before {
		top: 29px;
		right: -2px;
		border-top: 29px solid @moon-tooltip-bg-color;
		clip: rect(30px, 82px, 38px, 56px);
		border-radius: @moon-button-border-radius;
	}
}

/* .below .left-arrow nub shape */
.moon-tooltip.below.left-arrow .moon-tooltip-label {
	border-radius: 0 (@moon-tooltip-height / 2) (@moon-tooltip-height / 2) (@moon-tooltip-height / 2);
	&:before {
		top: -50px;
		left: -2px;
		border-bottom: 29px solid @moon-tooltip-bg-color;
		clip: rect(2px, 24px, 60px, 2px);
		border-radius: @moon-button-border-radius;
	}
}

/* .below .right-arrow nub shape */
.moon-tooltip.below.right-arrow .moon-tooltip-label {
	border-radius: (@moon-tooltip-height / 2) 0px (@moon-tooltip-height / 2) (@moon-tooltip-height / 2);
	&:before{
		top: -50px;
		right: -2px;
		border-bottom: 29px solid @moon-tooltip-bg-color;
		clip: rect(2px, 82px, 60px, 56px);
		border-radius: @moon-button-border-radius;
	}
}