.moon-tooltip {
	z-index: 20;
	height: 68px;
}
.moon-tooltip-label {
	.moon-small-button-text;
	height: 59px;
	line-height: 59px;
	white-space: nowrap;
	color: @moon-tooltip-text-color;
	text-align: center;
	padding: 0px 24px;
	background-color: @moon-tooltip-bg-color;
	border-radius: 30px;
}
.enyo-locale-non-latin .moon-tooltip-label {
	.enyo-locale-non-latin .moon-small-button-text;
}
.moon-tooltip.below > .moon-tooltip-label {
	margin: 9px 0px 0px;
}
.moon-tooltip.above > .moon-tooltip-label {
	margin: 0px 0px 9px;
}

.moon-tooltip-label:before {
	position: absolute;
	content: "";
	width: 84px;
	height: 60px;
}

/* .above .left-arrow nub shape */
.moon-tooltip.above.left-arrow .moon-tooltip-label{
	border-radius: 30px 30px 30px 0px;
	&:before {
		top: 29px;
		left: -2px;
		border-top: 29px solid @moon-tooltip-bg-color;
		clip: rect(30px, 24px, 38px, 2px);
		border-radius: @moon-button-border-radius;
	}
}

/* .above .right-arrow nub shape */
.moon-tooltip.above.right-arrow .moon-tooltip-label{
	border-radius: 30px 30px 0px 30px;
	&:before {
		top: 29px;
		right: -2px;
		border-top: 29px solid @moon-tooltip-bg-color;
		clip: rect(30px, 82px, 38px, 56px);
		border-radius: @moon-button-border-radius;
	}
}

/* .below .left-arrow nub shape */
.moon-tooltip.below.left-arrow .moon-tooltip-label{
	border-radius: 0 30px 30px 30px;
	&:before {
		top: -50px;
		left: -2px;
		border-bottom: 29px solid @moon-tooltip-bg-color;
		clip: rect(2px, 24px, 60px, 2px);
		border-radius: @moon-button-border-radius;
	}
}

/* .below .right-arrow nub shape */
.moon-tooltip.below.right-arrow .moon-tooltip-label{
	border-radius: 30px 0px 30px 30px;
	&:before{
		top: -50px;
		right: -2px;
		border-bottom: 29px solid @moon-tooltip-bg-color;
		clip: rect(2px, 82px, 60px, 56px);
		border-radius: @moon-button-border-radius;
	}
}