.enyo-transition-thumb.hidden {
	opacity: 0;
}
.transition-strategy-thumb-container .enyo-vthumb {
	width: 8px;
	min-height: 10px;
}
.transition-strategy-thumb-container .enyo-hthumb {
	height: 8px;
	min-width: 10px;
}