.moon-videoplayer-info {
	position: relative;
	height: 100%;
}

.moon-videoplayer-info > * {
	padding: 15px;
}

.moon-videoplayer-info-datetime {
	font-size: @moon-superscript-text-size;
}

.moon-videoplayer-info-showname {
	font-size: @moon-large-text-size;
}

.moon-videoplayer-info-channel {
	font-size: @moon-header-sub-text-size;
}

.moon-videoplayer-info-synopsys {
	font-size: @moon-header-sub-text-size;
}

.moon-videoplayer-info-client {
	position: absolute;
	top: 0px;
	right: 0px;
}

.moon-videoplayer-info-icon {
	background-color: white;
	color: black;
	border-radius: 3px;
	text-align: center;
	float: left;
	padding: 7px;
	margin: 5px;
	font-size: 12px;
}

.moon-videoplayer-info-redicon {
	background-color: red;
	color: white;
}


