.moon-video-info-header {
	display: inline-block; 
	vertical-align: top;
	white-space: nowrap;
	> *:nth-child(2) {
		margin-left: 0px;
	}
}
.moon-video-player-header.angle-background .moon-video-info-header {
	max-width: 1135px;
}
.moon-video-player-header.full-background .moon-video-info-header {
	max-width: 1264px;
}
.moon-video-player-info-datetime {
	font-size: @moon-super-header-font-size;
	margin-bottom: 32px;
	white-space: nowrap;
	background: transparent;
}
.moon-video-player-info-title,
.moon-video-player-info-subtitle,
.moon-video-player-info-subtitle-divider,
.moon-video-player-info-subsubtitle {
	color: @moon-white;
	white-space: nowrap;
}
.moon-video-player-info-subtitle,
.moon-video-player-info-subtitle-divider,
.moon-video-player-info-subsubtitle,
.moon-video-player-info-client {
	.moon-video-sub-header-text;
	margin-bottom: 20px;
	margin-left: 20px;
	display: inline-block;
	:first-child {
		margin-left: 0px;
	}
}
.moon-video-player-info-subsubtitle {
	.moon-body-text;
	color: @moon-white;
	white-space: normal;
}
.moon-video-player-info-title {
	font-size: @moon-video-header-font-size;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	margin-bottom: 3px;
}
.moon-video-player-info-description {
	.moon-video-description-text;
	line-height: 1.4;
	color: @moon-white;
	white-space: normal;
	margin: 0px 0px 20px;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.moon-video-player-info-client {
	display: inline-block;

	position: relative;
	top: -5px;
	margin-left: 20px;
	> * {
		display: inline-block;
		margin-left: 20px;
	}
}
.enyo-locale-right-to-left .moon-video-player-info-client {
	margin: 0 20px 10px 0;
}
.enyo-locale-non-latin {
	.moon-video-player-info-title {
		line-height: @moon-non-latin-header-text-line-height;
		/* Clip the title box by just a bit to help it fit better */
		height: 1.4em;
	}
	.moon-video-player-info-subtitle {
		.enyo-locale-non-latin .moon-video-sub-header-text;
		color: @moon-white;
	}
	.moon-video-player-info-subsubtitle {
		.enyo-locale-non-latin .moon-body-text;
		color: @moon-white;
	}
	.moon-video-player-info-description {
		.enyo-locale-non-latin .moon-video-description-text;
		color: @moon-white;
	}
}
