.moon-video-playback {
	position: relative;
	padding: 0px;
	vertical-align: middle;
}

.moon-video-playback-video {
	text-align: center;	
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.moon-video-playback-caption-display {
	text-align: center;
	position: absolute;
}

.moon-video-playback-caption {
	display: block;
	text-align: center;
}

.moon-video-playback-header {
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0px;
	z-index: 2;
}


.moon-video-playback-header > * {
	background-color: rgba(0,0,0,0.5);
	color: white;
}


.moon-video-playback-feedback {
	position: relative;
	height: 100%;
	width: 200px;
}

.moon-video-playback-feedback-icon {
	font-size: 50px;
	text-align: center;
	margin-top: 70px;
}



.moon-video-playback-bottom {
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
}
.moon-video-playback-controller > * {
	width: 100%;
}

.moon-video-playback-controller-button {
	width: 80px;
	height: 80px;
	border-radius: 0px;
	border: 0px;
	background-color: transparent;
}
.moon-video-playback-controller-button.active,
.moon-video-playback-controller-button.spotlight,
.moon-video-playback-controller-button.spotlight.pressed,
.moon-video-playback-controller-button.spotlight:active {
	background-position: 0 -80px;
	border: 0px;
	background-color: transparent;
}


.moon-video-playback-slider-container {
	height: 50px;
	padding: 0px 20px;
}

.moon-slider-knob,
.moon-slider-knob.disabled:active:hover {
	position: relative;
	background-color: rgba(0,212,179,1);
}

.moon-video-playback > .moon-slider-knob,
.moon-video-playback > .moon-slider-knob.disabled:active:hover {
	background-color: rgba(0,212,179,1);
}
.moon-video-playback > .moon-slider-knob.active,
.moon-video-playback > .moon-slider-knob.spotselect,
.moon-video-playback > .moon-slider-knob:active:hover {
	background-color: rgba(0,212,179,1);
}
.moon-video-playback .moon-slider.spotlight > .moon-progress-bar-bar {
	background-color: rgba(0,212,179,1);
}
.moon-video-playback .moon-slider.spotlight > .moon-slider-knob {
	background-color: rgba(0,212,179,1);
}