@moon-videoplayer-slider-knob-width: 6px;
@moon-videoplayer-slider-knob-height: 6px;
@moon-videoplayer-slider-height: 80px;

.moon-video-fullscreen-control {
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.1);
}


/* BG Canvas */
.moon-video-player-screen {
	width: 100%;
	height: 100%;
}

/* --- Controls --- */
.moon-video-player-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0);
}
.moon-video-player-controls {
	height: 90px;
}
.moon-video-player-controller > * {
	width: 100%;
}
.moon-video-fullscreen-control .moon-icon-button {
	width: 80px;
	height: 80px;
	border-radius: 0px;
	border: 0px;
	background-color: transparent;
	background-position: 0px 0px;
}
.moon-video-fullscreen-control .moon-icon-button.active,
.moon-video-fullscreen-control .moon-icon-button.spotlight,
.moon-video-fullscreen-control .moon-icon-button.spotlight.pressed,
.moon-video-fullscreen-control .moon-icon-button.spotlight:active {
	background-position: 0 -80px;
	border: 0px;
	background-color: transparent;
}

.moon-video-fullscreen-control .premium-placeholder {
	width: 80px;
	height: 80px;
	padding-top: 5px;
}

/* ---- Slider styling ---- */
.moon-video-fullscreen-control .moon-video-player-slider-container {
	padding: 90px 0 0 0;
	height: 80px;
}
.moon-video-fullscreen-control .moon-video-player-slider-container > * {
	margin: 0 0 0;
}

.moon-video-fullscreen-control .moon-slider-popup-label {
	color: #323232;
}

/* -- Knob -- */
.moon-video-fullscreen-control .moon-slider-knob,
.moon-video-fullscreen-control .moon-slider-knob.disabled:active:hover,
.moon-video-fullscreen-control .moon-slider-knob.active,
.moon-video-fullscreen-control .moon-slider-knob.spotselect,
.moon-video-fullscreen-control .moon-slider-knob:active:hover,
.moon-video-fullscreen-control .spotlight .moon-slider-knob,
.moon-video-fullscreen-control .spotlight .moon-slider-knob.disabled:active:hover {
	height: @moon-videoplayer-slider-knob-height;
	width: @moon-videoplayer-slider-knob-width;
	border-radius: @moon-videoplayer-slider-knob-width/2;
	margin: -70px -2px;
	background-color: rgba(255,255,255,1);
}

.moon-video-fullscreen-control .moon-slider-knob {
	transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	opacity: 0;
}
.moon-video-fullscreen-control .spotlight .moon-slider-knob,
.moon-video-fullscreen-control .spotlight .moon-slider-knob.disabled:active:hover {
	opacity: 1;
}


/* -- Buffered progress bar (bg bar) -- */
.moon-video-player .moon-progress-bg-bar {
	background-color: #4b4b4b;
	transition: width 1s linear;
	-webkit-transition: width 1s linear;
	-moz-transition: width 1s linear;
	height: @moon-videoplayer-slider-height;
}
.moon-video-player .moon-progress-bar-bar,
.moon-video-player .spotlight .moon-progress-bar-bar {
	background-color: #ff2f7d;
	margin-top: -80px;
	height: @moon-videoplayer-slider-height;
}


/* ---- Header info styling ---- */
.moon-video-player-header {
	width: 100%;
	z-index: 2;
	font-family: @moon-font-family;
	font-size: @moon-sub-header-font-size;
	letter-spacing: @moon-sub-header-letter-spacing;
	color: #ffffff;
	padding: 15px 0 0 0;
}
.moon-video-player-header.enyo-fittable-columns-layout > * {
	margin: 0;
}
.moon-video-player-header.always {
	display: block;
}



/** Sample CSS for explaining how to override Slider Classes 
    See: moon.VideoControl.Fullscreen
*/

.moon-videoplayer-slider {
  background-color: #323232;
  height: @moon-videoplayer-slider-height;	
}
.moon-video-transport-slider .moon-videoplayer-knob {
  background-color: #69cdff;
}
.moon-slider.spotlight .moon-videoplayer-knob {
  background-color: #69cdff;
}

.moon-video-transport-slider .moon-videoplayer-progressbar {
  background-color: #69cdff;
  height: @moon-videoplayer-slider-height;
  margin-top: -6px;
}
.moon-slider.spotlight .moon-videoplayer-progressbar {
  background-color: #69cdff;
  margin-top: -80px;
}

.moon-slider .moon-videoplayer-bg-bar {
  background-color: #4b4b4b;
  height: @moon-videoplayer-slider-height;
}

.moon-video-player-control-button {
	margin: 0 50px;
}
