/* Feedback area */
.moon-video-player-feedback {
	position: relative;
	width: 280px;
	height: 168px;
	margin-left: 20px;
	margin-right: 20px;
}
.moon-video-feedback-wrapper {
	height: 168px;
	padding-top: 64px;
}
.moon-video-feedback-text {
	font-family: "Miso";
	font-size: 40px;
	text-transform: uppercase;
}

.moon-video-feedback-icon {
	margin: 0px;
	padding: 0px;
	margin-top: -18px;
}