/* Feedback area */
.moon-video-player-feedback{
  margin-right:5px;
}
.moon-video-feedback-text {
	display: inline-block;
	text-transform: uppercase;
	color: #ff2f7d;
	margin:0 5px;
}
.moon-video-feedback-icon-left,
.moon-video-feedback-icon-right {
	display: inline-block;
	width: 33px;
	height: 33px;
	vertical-align: middle;
	margin-bottom: 4px;
}

.enyo-locale-non-latin .moon-video-feedback-icon-left,
.enyo-locale-non-latin .moon-video-feedback-icon-right {
	margin-bottom: 8px;
}
