.moon-background-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.moon-background-wrapper-client-content {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &.bg {
        background-color: @moon-videoplayer-background-wrapper-color;
    }
    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
    }
    &.left {
        padding: 0 30px 0 70px;

        &:after {
            left: 100%;
            bottom: 0;
            border-bottom: solid 1000px transparent;
            border-left: solid 170px @moon-videoplayer-background-wrapper-color;
        }
    }
    &.right {
        padding: 0 30px 0 0;
        float: right;

        &:after {
            right: 100%;
            top: 0;
            border-top: solid 1000px transparent;
            border-right: solid 170px @moon-videoplayer-background-wrapper-color;
        }
    }
    > * {
        display: inline-block;
        margin: 0 30px;
    }
}
.enyo-locale-right-to-left .moon-background-wrapper-client-content > * {
    direction: rtl;
}