.moon-video-inline {
  padding-bottom: rI(80px);
}

.moon-video-inline-control {
	position: relative;
	width: 100%;
	height: rI(80px);
	background-color: @moon-video-inline-bg-color;

	.moon-video-inline-control-play-pause {
		position: absolute;
		bottom: rI(10px);
		left: rI(10px);
	}
	.moon-video-inline-control-fullscreen {
		position: absolute;
		bottom: rI(10px);
		right: rI(10px);
	}
}

.moon-video-inline-control-text {
	font-family: @moon-alt-font-family;
	position: absolute;
	bottom: rI(20px);
	left: rI(100px);
	background-color: transparent;
	color: @moon-video-text-color;
	font-size: rI(32px);

	> * {
		display: inline;
	}
}

.moon-video-inline-control-progress {
	position: absolute;
	bottom: rI(0px);
	left: rI(0px);
	width: 0%;
	height: rI(80px);
	background-color: @moon-video-progress-bg-color;
	transition: width 0.1s linear;
	-webkit-transition: width 0.1s linear;
	-moz-transition: width 0.1s linear;
}

.moon-video-inline-control-bgprogress {
	position: absolute;
	bottom: rI(0px);
	left: rI(0px);
	width: 0%;
	height: rI(80px);
	background-color: @moon-video-progress-bgprogress-bg-color;
	transition: width 0.1s linear;
	-webkit-transition: width 0.1s linear;
	-moz-transition: width 0.1s linear;
}

.moon-video-inline-control {
	.moon-icon-button {
		color:@moon-icon-video-inline-controls-bg-color;
		background-color: transparent;
	}
	.moon-icon-button.active,
	.moon-icon-button.pressed,
	.moon-icon-button.spotlight.pressed,
	.moon-icon-button.spotlight:active {
		color:@moon-icon-video-inline-controls-font-spotlight-color;
		background-color: @moon-icon-video-inline-controls-bg-color;
		background-position: rI(0px) -@moon-icon-sprite-small-size;
	}
	.moon-icon-button.spotlight {
		color:@moon-icon-video-inline-controls-font-spotlight-color;
		background-color: @moon-icon-video-inline-controls-bg-color;
		background-position: rI(0px) -@moon-icon-sprite-small-size;
	}
}
