/* Feedback area */
.moon-video-player-feedback {
	margin-right: 6px;
}
.moon-video-feedback-text {
	display: inline-block;
	text-transform: uppercase;
	padding-right: 5px;
	padding-left: 5px;
	color: #ff2f7d;
}
.moon-video-feedback-icon-left,
.moon-video-feedback-icon-right {
	display: inline-block;
	width: 33px;
	height: 33px;
}
