.moon-video-player {
	position: relative;
	display: inline-block;
}
.moon-video-player-video {
	display: block;
	margin: 0px auto;
	height: 100%;
}

/* Fullscreen CSS */
:-webkit-full-screen.moon-video-player {
	position: static !important;
	display: block !important;
}
:-moz-full-screen.moon-video-player {
	position: static !important;
	display: block !important;
}
:-ms-full-screen.moon-video-player {
	position: static !important;
	display: block !important;
}
:-o-full-screen.moon-video-player {
	position: static !important;
	display: block !important;
}
:full-screen.moon-video-player {
	position: static !important;
	display: block !important;
}
