.moon-background-wrapper {
    overflow: hidden;
    height:300px;   
}
.moon-background-wrapper-client-content {
    position: relative;
    display: inline-block;
}

/* Decorate video header styling */
.moon-background-wrapper-client-content.right {
  position:absolute;
  right:0;
  top:25px;
	width:40%;
	box-sizing:border-box;
	 text-align:right;
}
.moon-background-wrapper-client-content.left {
  position:absolute;
  left:0;
	width:60%;
  box-sizing:border-box;
}

/* Make equal spacing */
.moon-background-wrapper-client-content {
	white-space: nowrap;
}

.moon-background-wrapper-client-content.left > :first-child {
	margin: 0 60px;
}
.moon-background-wrapper-client-content.right > :last-child {
	margin:0 60px 0 30px;
}