@moon-video-transport-slider-knob-size: rI(6px);
@moon-video-transport-slider-knob-offset: rI(-20px);
@moon-video-transport-slider-height: rI(80px);

.moon-video-transport-slider {
	height: rI(@moon-video-transport-slider-height);
	background-color: #323232;
}

.moon-video-transport-slider .moon-slider-popup.above {
	padding-left: rI(0px);
}


/* ----- Knob ---- */
.moon-video-transport-slider-knob,
.moon-video-transport-slider-knob.disabled:active:hover,
.moon-video-transport-slider-knob.active,
.moon-video-transport-slider-knob.spotselect,
.moon-video-transport-slider-knob:active:hover {
	position: absolute;
	height: rI(@moon-video-transport-slider-knob-size);
	width: rI(@moon-video-transport-slider-knob-size);
	border-radius: rI(@moon-video-transport-slider-knob-size/2);
	margin: rI(-@moon-video-transport-slider-knob-size/2);
	top: rI(@moon-video-transport-slider-height/2 + @moon-video-transport-slider-knob-offset);
	pointer-events: none;
}
.moon-video-transport-slider-knob {
	background: transparent;
	color: transparent;
}
.moon-video-transport-slider.visible .moon-video-transport-slider-knob,
.moon-video-transport-slider.visible .moon-video-transport-slider-knob.disabled:active:hover {
	background-color: #fff;
}

/* ---- Bar ---- */
.moon-video-transport-slider-bar-bar {
	height: 100%;
	background-color: @moon-accent;
	position: absolute;
	top: rI(0);
}
.moon-video-transport-slider-bg-bar {
	height: 100%;
	background-color: @moon-dark-gray;
	position: absolute;
	top: rI(0);
}

.moon-video-transport-slider-taparea {
	position: absolute;
	height: 100%;
	width: 100%;
}

.moon-video-transport-slider-popup-label {
	.moon-large-button-text;
	white-space: nowrap;
	color: @moon-dark-gray;
	vertical-align: top;
}
.enyo-locale-non-latin .moon-video-transport-slider-popup-label {
	.enyo-locale-non-latin .moon-large-button-text;
}
.moon-video-transport-slider-popup-label > * {
	display: inline-block;

}
.enyo-locale-non-latin .moon-video-transport-slider-popup-label > * {
}

.moon-video-transport-slider-indicator-wrapper {
	height: rI(82px);
	top: rI(0);
	position: absolute;
}
.moon-video-transport-slider-indicator-wrapper.start {
	left: rI(0px);
}
.moon-video-transport-slider-indicator-wrapper.end {
	right: rI(0px);
}
.moon-video-transport-slider-indicator-bar-left {
	position: absolute;
	left: 49.5%;
	top: rI(25px);
	width: rI(2px);
	height: rI(30px);
	background-color: @moon-indicator-bar-bg-color;
}
.moon-video-transport-slider-indicator-bar-right {
	position: absolute;
	left: 49.5%;
	top: rI(25px);
	width: rI(2px);
	height: rI(30px);
	background-color: #ffffff;
}
.moon-video-transport-slider-indicator-text {
	position: absolute;
	width: 100%;
	height: rI(30px);
	top: rI(23px);
	font-size: rI(30px);
	font-family: @moon-header-font-family;
	font-weight:bold;
	color: @moon-indicator-text-color;
	text-align: left;
	left: 55%;
}
.enyo-locale-non-latin .moon-video-transport-slider-indicator-text {
	font-family: @moon-non-latin-font-family;
}
.enyo-locale-right-to-left .moon-video-transport-slider-indicator-text {
	direction: rtl;
}
