.moon-video-info-header {
	display:inline-block; 
	vertical-align:top;
}
.moon-video-player-info-datetime {
	font-size: @moon-header-super-text-size;
	font-kerning: 25;
	-webkit-font-kerning: 25;
	-o-font-kerning: 25;
	-moz-font-kerning: 25;
	margin-bottom: 32px;
	white-space: nowrap;
}
.moon-video-player-info-showname {
	font-size: 100px;
	font-kerning: 25;
	-webkit-font-kerning: 25;
	-o-font-kerning: 25;
	-moz-font-kerning: 25;
	margin-bottom: 0;
	white-space: nowrap;
}
.moon-video-player-info-channel {
	font-family: "MuseoSans Medium";
	font-size: @moon-sub-header-font-size;
	font-kerning: 10;
	-webkit-font-kerning: 10;
	-o-font-kerning: 10;
	-moz-font-kerning: 10;
	margin-bottom: 22px;
	white-space: nowrap;
}
.moon-video-player-info-synopsys {
	font-family: @moon-font-family-light;
	font-size: @moon-sub-header-font-size;
	line-height: 30px;
	white-space: normal;
	max-width: 1200px;
	margin-bottom: 64px;
}
.moon-video-player-settings-info {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 15px;
}
.moon-video-player-rating-info {
	font-family: @moon-font-family-light;
	font-size: @moon-sub-header-font-size;
	line-height: 30px;
	white-space: normal;
	max-width: 1200px;
	margin-bottom: 10px;
}
