.moon-silly-close-button {
	// visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: top left;
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	// transform: translateY(25%) rotate(180deg);

	&.visible {
		visibility: visible;
		opacity: 1;
		transform: translateX(25%) translateY(25%) rotate(-180deg);
	}
}