/* Checkbox.css */
.moon-checkbox {
	cursor: pointer;

	.moon-icon {
		visibility: hidden;
		margin: 0;
		padding: 0;
	}
	&[checked] .moon-icon {
		visibility: visible;
	}
}

.spotlight {
	.moon-checkbox[checked]:after {
		color: @moon-white;
	}
	.moon-checkbox:not([checked]):not([disabled]) .moon-icon {
		visibility: visible;
		opacity: 0.3;
	}
}