.moon-channelinfo {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	white-space: normal;
	max-width: 810px;

	.moon-marquee {
		text-align: right;
	}
}
.moon-video-player-channel-info-badges > * {
	margin: 3px 0 3px 18px;
}
.moon-video-player-channel-info-no {
	.moon-header-text;
	white-space: nowrap;
}
.enyo-locale-non-latin .moon-video-player-channel-info-no {
	.enyo-locale-non-latin .moon-video-player-info-title
}
.moon-video-player-channel-info-name {
	.moon-text-base (@moon-sub-header-font-size, @moon-player-channel-info-name-text-color);
	margin-bottom: 18px;
	white-space: nowrap;
}
.enyo-locale-non-latin .moon-video-player-channel-info-name {
	font-family: @moon-non-latin-font-family;
}
.moon-video-player-info-icon {
	.moon-text-base (@moon-video-player-info-icon-text-size, @moon-videoplayer-info-icon-text-color);
	background-color: @moon-videoplayer-info-icon-bg-color;
	border-radius: 6px;
	text-align: center;
	white-space: nowrap;
	padding: 3px 9px;
	display: inline-block;
}
.enyo-locale-non-latin .moon-video-player-info-icon {
	font-family: @moon-non-latin-font-family;
}
.moon-video-player-info-redicon {
	background-color: @moon-videoplayer-redicon-bg-color;
	color: @moon-videoplayer-redicon-text-color;
	margin-top: 12px;
}
