.sample-album-list-item {
	width : 200px;
	height : 150px;
	display: block;
	clear: both;
	margin : 40px 0 80px 0;
}

.sample-album-list-item .title-text {
	margin: 0 0 0 10px;
}

.sample-album-list-item img {
	width : 200px;
	height : 150px;
}

.sample-album-list-item.selected {
	background: #df0652;
}