/* Accordion.css */
.sun .moon-accordion-client .moon-item {
	color: @sun-lighter-gray;
	line-height: normal;
}
.sun .moon-accordion-client .moon-item.locale-default.spotlight:not(.overlay) {
  	padding-left: 0px;
  	background-color: transparent;
  	color: @sun-lighter-gray;
  	line-height: normal;
}
.sun .moon-accordion-arrow.up {
	color: @sun-lighter-gray;
	line-height: normal;
	background: @sun-carat-black-small-up-image right center no-repeat;
}
.sun .moon-accordion-arrow.down {
	color: @sun-lighter-gray;
	line-height: normal;
	background: @sun-carat-black-small-down-image right center no-repeat;
}
.sun .moon-item.locale-default.moon-accordion-arrow.up.spotlight {
	padding-left: 0px;
  	background-color: transparent;
  	color: @sun-lighter-gray;
  	line-height: normal;
}
.sun .moon-item.locale-default.moon-accordion-arrow.down.spotlight {
	padding-left: 0px;
  	background-color: transparent;
  	color: @sun-lighter-gray;
  	line-height: normal;
}
.sun .locale-default.moon-item.moon-expandable-list-item.moon-accordion.spotlight {
	padding-left: 0px;
  	background-color: transparent;
  	color: @sun-lighter-gray;
  	line-height: normal;
}
