/* Button */
.sun .moon-button {
  font-family: "Miso";
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  max-height: @sun-button-height;
  padding: 20px 22px 20px 22px;
  min-width: @sun-button-height;
  line-height: 0.84em;
}
.sun .moon-button > .button-client {
  padding: 0px 0px 0px 0px;
}
.sun .moon-button.active,
.sun .moon-button.pressed,
.sun .moon-button.spotlight.pressed,
.sun .moon-button.spotlight:active,
.sun .moon-button.small.spotlight.pressed,
.sun .moon-button:active:hover:not([disabled]) {
  color: @sun-button-background-color;
  background: @sun-spotlight-border-color;
  border: @sun-button-border-width solid @sun-spotlight-border-color;
}
.sun .moon-button.spotlight {
  color: @sun-light-gray;
  background: @sun-button-background-color;
  border: @sun-button-border-width solid @sun-spotlight-border-color; 
}
.sun .moon-button.moon-dark-gray:active:hover:not([disabled]) * {
  color: @sun-button-background-color;
}
.sun .moon-button.moon-dark-gray.spotlight {
  background: @sun-dark-gray; 
}
