/* Button */
.sun .moon-button.active,
.sun .moon-button.pressed,
.sun .moon-button.spotlight.pressed,
.sun .moon-button.spotlight:active,
.sun .moon-button.small.spotlight.pressed
{
	border: @sun-button-border-width solid @sun-spotlight-border-color;
}

.sun .moon-button:active:hover:not([disabled]) {
	border: @sun-button-border-width solid @sun-spotlight-border-color;
}

.sun .moon-button.spotlight {
	background: @sun-spotlight-border-color;
}
