/* CalendarPicker.css */
.sun .moon-calendar-picker {
  width: (@sun-icon-button-size * 7) + ((4 * 2) * 7);
  margin: 0px auto;
  display: block;
}

.sun .moon-calendar-picker-date {
  font-family: "MuseoSans 700";
  width: @sun-icon-button-size;
  min-width: @sun-icon-button-size;
  height: @sun-icon-button-size;
  min-height: @sun-icon-button-size;
  margin: 4px;
}