.sun .moon-checkbox-item .moon-checkbox-item-label-wrapper {
	margin-right: @sun-checkbox-width;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label-wrapper {
	margin-left: @sun-checkbox-width;
}
.sun.moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
	margin-right: @sun-checkbox-width + 16px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
	margin-left: @sun-checkbox-width;
}
