/* Checkbox.css */
.sun .moon-checkbox {
	height: @sun-checkbox-image-height;
	width: @sun-checkbox-width;
}

.sun .moon-checkbox[checked] {
	background-image: @sun-checkbox-image;
}
.sun .moon-checkbox .moon-overlay {
	height: @sun-checkbox-image-height;
	width: @sun-checkbox-width;
	background: transparent @sun-checkbox-image no-repeat 10px -@sun-checkbox-image-height;
}
