/*DropDownButton.css*/
.sun-drop-down-button {
	background: @sun-carat-black-small-down-image right center no-repeat;
	padding-right: 50px;
}
.sun-drop-down-button.down.spotlight {
	background: @sun-carat-black-small-down-image right center no-repeat;
	padding-right: 50px;
	border: @sun-button-border-width solid @sun-spotlight-border-color; 
}
.sun-drop-down-button.pressed,
.sun-drop-down-button.active.up {
	background: @sun-carat-black-small-up-image right center no-repeat;
}
.sun-drop-down-button.down {
	background: @sun-carat-black-small-down-image right center no-repeat;
}
