/*DropDownButton.css*/
.sun-drop-down-button {
	width: 276px;
	height: 107px;
	color: @sun-lighter-gray;
	background-color: @sun-dark-gray;
	background-image: @sun-drop-down-down-image;
	background-repeat: no-repeat;
	background-position: 105% -10px;
}
.sun-drop-down-button.down.spotlight {
	background-color: @sun-focused-gray;
	background-image: @sun-drop-down-down-image;
	background-repeat: no-repeat;
	background-position: 105% -10px;
	padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.pressed,
.sun-drop-down-button.active.up {
	color: @sun-white;
	background-color: @sun-red;
	background-image: @sun-drop-down-down-image;
	background-repeat: no-repeat;
	background-position: 105% -331px;
	padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.down {
	color: @sun-lighter-gray;
	background-color: @sun-dark-gray;
	padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.down:disabled {
	color: @sun-light-gray;
	background-color: @sun-disabled-gray;
}
