.sun .sun-header.enyo-fittable-columns-layout > * {
    margin: 0px;
}
.sun .sun-header {
    color: #dddddd;
    height: @sun-header-height;
    border-color: #404040;
    border-top: 0px;
    border-bottom: @sun-divider-border-width solid @moon-divider-border-color;
    margin: 0px 20px 1px 20px;
    min-width: 466px;
}
.sun .sun-header.sun-loading-header {
    height: @sun-header-height + 6px;
    border: 0px;
}
.sun .sun-header-title {
    .sun-header-text;
    line-height: 141px;
    overflow: hidden;
    margin: 0px 0px 0px 20px;
}
.sun-arrow-header .sun-header-title {
    padding-left: 70px;
    margin-left: 15px;
}
.sun .sun-two-lines-header .sun-header-title {
    .sun-small-header-text;
    line-height: 90px;
    height: 90px;
}
.sun .sun-header-title-below {
    .sun-sub-header-text;
    padding-left: 20px;
    color: #999999;
    height: 68px;
    overflow: hidden;
}
.sun-arrow-header .sun-header-title-below {
    padding-left: 70px;
    margin-left: 15px;
}
.sun-arrow-icon {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20%;
    height: 181px;
    background: url('../../images/1080x1920/header_arrow.png') no-repeat 48px 59px;
}
.sun .sun-header .enyo-fittable-columns-layout > .sun-header-client {
    margin-right: 40px;
    padding: 38px 0px 31px;
}
.sun-header-client > *:not(:first-child) {
    position: relative;
    margin-left: 30px;
}
.sun .sun-header .sun-header-loading {
    position: absolute;
    top: 181px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 6px;
    background-color: @sun-divider-border-color;   
}
.sun .sun-header .moon-progress-bar-bar {
    margin-top: -6px;
}
.sun .sun-header .enyo-fittable-columns-layout > * {
    margin: 0px;
}
.sun .sun-header .enyo-fittable-columns-layout > *:first-child {
    position: relative;
}
.sun-header-title-mask {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 90px;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0, transparent),color-stop(1, black));
    background-image: -webkit-linear-gradient(left, transparent, black);
    background-image: -moz-linear-gradient(left, transparent, black);
    background-image: -ms-linear-gradient(left, transparent, black);
    background-image: -o-linear-gradient(left, transparent, black);
}
.sun .sun-header .sun-header-loading-info {
    .sun-header-loading-info-text;
    position: absolute;
    top: 77px;
    right: 0px;
    margin-right: 20px;
}
