.sun .sun-header {
    height: @sun-header-height;
    border-top: 0px;
    border-bottom: @sun-divider-border-width solid @moon-divider-border-color;
    margin: 0px 20px 1px 20px;
}
.sun .sun-header-title {
    .sun-header-text;
    padding-left: 20px;
}
.sun-left-header .sun-header-title {
    padding-left: 85px;
}
.sun .sun-two-lines-header .sun-header-title {
    .sun-small-header-text;
}
.sun .sun-header-title-below {
    .sun-sub-header-text;
    padding-left: 20px;
}
.sun-left-header .sun-header-title-below {
    padding-left: 85px;
}
.sun-left-icon {
    position: absolute;
    top: 59px;
    left: 15px;
    width: 42px;
    height: 75px;
    background-image: url('../../images/1080x1920/header_arrow.png');
    background-position: left top;
}
.sun-header-client {
    position: absolute;
    top: 38px;
    right: 40px;
}
.sun-header-client > * {
    margin-left: 30px;
}
