.sun .sun-header.enyo-fittable-columns-layout > * {
    margin: 0px;
}
.sun .sun-header {
    color: #dddddd;
    height: @sun-header-height;
    border-color: #404040;
    border-top: 0px;
    border-bottom: @sun-divider-border-width solid @moon-divider-border-color;
    margin: 0px 20px 1px 20px;
    min-width: 466px;
}
.sun .sun-header-title {
    .sun-header-text;
    line-height: 141px;
    overflow: hidden;
    margin: 0px 0px 0px 27px;
}
.sun-arrow-header .sun-header-title {
    padding-left: 65px;
}
.sun .sun-two-lines-header .sun-header-title {
    .sun-small-header-text;
    line-height: 90px;
    height: 90px;
}
.sun .sun-header-title-below {
    .sun-sub-header-text;
    padding-left: 27px;
    color: #999999;
    height: 68px;
    overflow: hidden;
}
.sun-arrow-header .sun-header-title-below {
    padding-left: 92px;
}
.sun-arrow-icon {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20%;
    height: 181px;
    background: url('../../images/1080x1920/header_arrow.png') no-repeat 48px 59px;
}
.sun .sun-header .enyo-fittable-columns-layout > .sun-header-client {
    margin-right: 40px;
    padding: 38px 0px 31px;
}
.sun-header-client > * {
    position: relative;
    margin-left: 30px;
}
