/* IconButton.css */
.sun .moon-icon-button {
  width: @sun-icon-size;
  height: @sun-icon-size;
  border-radius: @sun-icon-button-size/2;
  border: 5px solid transparent;
}
.sun .moon-icon.moon-icon-button:active:hover {
  background-position: 0px 0px;
}
.sun .moon-icon.moon-icon-button.active,
.sun .moon-icon.moon-icon-button.pressed,
.sun .moon-icon.moon-icon-button.spotlight.pressed,
.sun .moon-icon.moon-icon-button.spotlight:active{
  background-position: 0px -@sun-icon-size;
  color: @sun-button-background-color;
  background-color: @sun-spotlight-border-color;
  border: 5px solid @sun-spotlight-border-color;
}
.sun .moon-icon-button.spotlight {  
  color: @sun-light-gray;
  background: @sun-button-background-color;
  border: 5px solid @sun-spotlight-border-color;  
}
.sun .moon-icon-button.moon-small-icon-button {
  width: @sun-small-icon-size;
  height: @sun-small-icon-size;
  border-radius: @sun-small-icon-button-size/2;
}
.sun .moon-icon.moon-icon-button.moon-small-icon-button.active,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.pressed,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.spotlight.pressed,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.spotlight:active{
  background-position: 0px -@sun-small-icon-size;
  color: #ffffff;
  background-color: @sun-red;
  border: 5px solid @sun-red;
}
.sun .moon-icon.moon-icon-button.moon-small-icon-button.active,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.pressed {
  background-position: 0 -@sun-small-icon-size;
}
.sun .moon-icon.disabled:active:hover,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.disabled:active:hover {
  background-position: 0 0px;
}
.sun .moon-icon.moon-icon-button.moon-loading-icon-button {
  background-image: @sun-spinner-light-image;
}
.sun .moon-icon.moon-icon-button.active,
.sun .moon-icon.moon-icon-button.pressed,
.sun .moon-icon.moon-icon-button.spotlight.pressed{
  background-position: 0px;
}
