/* Input.css */
.sun .moon-input {
	.sun-body-text;
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	box-shadow: none;
	color: @moon-input-font-color;
}