/* InputDecorator.css */
.sun .moon-input-decorator:not(.moon-input-header-input-decorator) {
	padding: 14px 30px 14px 30px;
	border-radius: 66px;
	-moz-border-radius: 66px;
}
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).spotlight {
	border: @moon-input-border-width solid @sun-spotlight-border-color;
}
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).moon-focused {
	border: @moon-input-border-width solid @sun-spotlight-border-color;
}
