/* InputHeader.css */
.sun .moon-input-header-input-decorator {
	margin: -39px 0px 0px 0px !important;
}
.sun .moon-input-header-input-decorator > .moon-input {
	.sun-header-text;
	height: @sun-header-font-size;
	line-height: @sun-header-font-size;
	color: #dddddd;
}
.sun .sun-two-lines-header .moon-input-header-input-decorator > .moon-input {
	.sun-small-header-text;
	margin-top: 22px !important;
	height: 92pt;
	line-height: 92pt;
	color: #dddddd;
}
.sun .enyo-tool-decorator > * {
	vertical-align: top;
	width: 100%;
}
.sun .sun-header-title.enyo-fittable-columns-layout .moon-button {
	position: relative;
	top: 15px;
	right: 0px;
}
.sun .sun-two-lines-header .sun-header-title.enyo-fittable-columns-layout .moon-button {
	position: relative;
	top: 0px;
	right: 0px;
}
.sun .sun-input-header-done-hide {
	opacity: 0;
}