@sun-listitem-posleft-basic: 40px;
@sun-listitem-posright-basic: 40px;
@sun-listitem-posleft-with-icon: 178px;
@sun-listitem-posleft-with-thumbnail: 208px;
@sun-listitem-maxwidth-extrainfo: 300px;
@sun-listitem-width-icon: 107px;

.sun-listitem-item {
    position: relative;
    border-bottom: 3px solid silver;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    color: @sun-listitem-font-color-text-normal;
}
.sun-listitem-item.sun-listitem-singlelined {
    height: 180px;
}
.sun-listitem-item.sun-listitem-doublelined {
    height: 224px;
}
.sun-listitem-item.sun-listitem-triplelined {
    height: 300px;
}
.sun-listitem-item:after {
    content: " ";
    visiblity: hidden;
    display: block;
    height: 0;
    clear: both;
}
.sun-listitem-selected {
    background-color: #ff2f7d;
    color: @sun-listitem-font-color-text-selected;
}

.sun-listitem-icon {
    position: absolute;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-singlelined .sun-listitem-icon {
    top: 32px;
}
.sun-listitem-doublelined .sun-listitem-icon {
    top: 55px;
}
.sun-listitem-triplelined .sun-listitem-icon {
    top: 90px;
}

.sun-listitem-thumbnail {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 38px;
}
.sun-listitem-singlelined .sun-listitem-thumbnail {
    top: 17px;
}
.sun-listitem-doublelined .sun-listitem-thumbnail {
    top: 40px;
}
.sun-listitem-triplelined .sun-listitem-thumbnail {
    top: 75px;
}

.sun-listitem-subject {
    font-family: @sun-listitem-font-family-subject;
    font-size: 80px;
    position: absolute;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    right: @sun-listitem-posright-basic;
}
.sun-listitem-singlelined .sun-listitem-subject {
    top: 42px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-singlelined.sun-listitem-icon-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-singlelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-doublelined .sun-listitem-subject {
    top: 20px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-doublelined.sun-listitem-icon-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-doublelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-triplelined .sun-listitem-subject {
    top: 20px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-command-attached .sun-listitem-subject {
    right: @sun-listitem-posright-basic + @sun-listitem-width-icon + 40px;
}
.sun-listitem-extrainfo-attached .sun-listitem-subject {
    right: @sun-listitem-posright-basic + @sun-listitem-maxwidth-extrainfo;
}

.sun-listitem-textitem1, .sun-listitem-textitem2 {
    font-family: "MuseoSans 300";
    font-size: 68px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    right: @sun-listitem-posright-basic;
}
.sun-listitem-doublelined .sun-listitem-textitem1 {
    top: 120px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-doublelined.sun-listitem-icon-attached .sun-listitem-textitem1 {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-doublelined.sun-listitem-thumbnail-attached .sun-listitem-textitem1 {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-triplelined .sun-listitem-textitem1 {
    top: 117px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-textitem1 {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-textitem1 {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-triplelined .sun-listitem-textitem2 {
    top: 202px;
    left: @sun-listitem-posleft-basic;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-textitem2 {
    left: @sun-listitem-posleft-with-icon;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-textitem2 {
    left: @sun-listitem-posleft-with-thumbnail;
}
.sun-listitem-command-attached .sun-listitem-textitem1 {
    right: @sun-listitem-posright-basic + @sun-listitem-width-icon + 40px;
}
.sun-listitem-extrainfo-attached .sun-listitem-textitem1 {
    right: @sun-listitem-posright-basic + @sun-listitem-maxwidth-extrainfo;
}
.sun-listitem-command-attached .sun-listitem-textitem2 {
    right: @sun-listitem-posright-basic + @sun-listitem-width-icon + 40px;
}
.sun-listitem-extrainfo-attached .sun-listitem-textitem2 {
    right: @sun-listitem-posright-basic + @sun-listitem-maxwidth-extrainfo;
}

.sun-listitem-command {
    position: absolute;
    right: @sun-listitem-posright-basic;
}
.sun-listitem-singlelined .sun-listitem-command {
    top: 32px;
}
.sun-listitem-singlelined.sun-listitem-extrainfo-attached .sun-listitem-command {
    top: 8px;
}
.sun-listitem-doublelined .sun-listitem-command {
    top: 55px;
}
.sun-listitem-doublelined.sun-listitem-extrainfo-attached .sun-listitem-command {
    top: 32px;
}
.sun-listitem-triplelined .sun-listitem-command {
    top: 90px;
}
.sun-listitem-triplelined.sun-listitem-extrainfo-attached .sun-listitem-command {
    top: 70px;
}

.sun-listitem-extrainfo {
    font-family: "MuseoSans 300";
    font-size: 50px;
    position: absolute;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    right: @sun-listitem-posright-basic;
    max-width: @sun-listitem-maxwidth-extrainfo;
}
.sun-listitem-singlelined .sun-listitem-extrainfo {
    bottom: 20px;
}
.sun-listitem-singlelined.sun-listitem-command-attached .sun-listitem-extrainfo {
    bottom: 3px;
}
.sun-listitem-doublelined .sun-listitem-extrainfo {
    bottom: 30px;
}
.sun-listitem-doublelined.sun-listitem-command-attached .sun-listitem-extrainfo {
    bottom: 20px;
}
.sun-listitem-triplelined .sun-listitem-extrainfo {
    bottom: 50px;
}
.sun-listitem-triplelined.sun-listitem-command-attached .sun-listitem-extrainfo {
    bottom: 50px;
}
