/* Popup.css */
.sun.moon-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 20px;
    box-sizing: border-box;
}
.sun.moon-popup-close {
	border-radius: 9999px;
	line-height: 24px;
	background-color: #ededed;
	border: 5px solid transparent;
	float: right;
	width: 40px;
	height: 40px;
	min-width: 40px;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 10px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.sun.moon-popup-close.spotlight {
	background: #ffb80d;
}
.sun.moon-popup-close::after {
	content: "\2716";
	font-size: 25px;
	position: relative;
	top: 1px;
	left: 0px;
	color: #4b4b4b;
}
.sun .sun-popupheader {
	height: 169px;
	padding: 0px 35px;
	margin: 0px 0px 20px 0px;
	border-bottom: 6px solid #a2a2a2;
}
.sun .sun-popupheader-title {
	font-size: 127px;
	line-height: 127px;
}
.sun .sun-popupheader-client {
	.moon-icon-button {
		margin-left: 20px;
	}
	position: absolute;
	top: 27px;
	right: 44px;
}
.sun .sun-popupfooter {
	margin: 20px 0px 0px 0px;
	height: 103px;
}
