/* Popup.css */
.mobile.moon-popup {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.mobile.moon-popup-close {
	border-radius: 9999px;
	line-height: 24px;
	background-color: #ededed;
	border: 5px solid transparent;
	float: right;
	width: 40px;
	height: 40px;
	min-width: 40px;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 0px 10px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.mobile.moon-popup-close.spotlight {
	background: #ffb80d;
}
.mobile.moon-popup-close::after {
	content: "\2716";
	font-size: 25px;
	position: relative;
	top: 1px;
	left: 0px;
	color: #4b4b4b;
}