/* ProgressBar.css */
.moon-progress-bar {
  height: 12px;
}
.moon-progress-bg-bar {
  height: 100%;
  background-color: #7d7d7d;
}
.moon-progress-bar-bar {
  background-color: @sun-red;
  margin-top: -12px;
}
