/* ProgressBar.css */
.sun .moon-progress-bar {
	position: relative;
	margin: 50px 20px;
	height: 4px;
	background-color: #323232;
	min-width: 128px;
}
.sun .moon-progress-bg-bar {
	height: 100%;
	background-color: #7d7d7d;
}
.sun .moon-progress-bar-bar {
	height: 100%;
	background-color: #69cdff;
	margin-top: -4px;
}
