/* Slider.css */
.sun .moon-slider-knob,
.sun .moon-slider-knob.disabled:active:hover {
  height: 51px;
  width: 51px;
  background-color: #ffffff;
  border: 5px solid #ffffff;
}
.sun .moon-slider-knob.active,
.sun .moon-slider-knob.spotselect,
.sun .moon-slider-knob:active:hover {
  height: 79px;
  width: 79px;
}
.sun .moon-slider.spotlight > .moon-slider-knob {
  background-color: #ffffff;
  border: 5px solid @sun-spotlight-border-color;
}
.sun .moon-slider.spotlight > .moon-slider-knob:active:hover {    
  background-color: @sun-spotlight-border-color;
  border: 5px solid @sun-spotlight-border-color;
}
