/* Slider.css */
.sun .moon-slider-knob,
.sun .moon-slider-knob.disabled:active:hover {
  height: 71px;
  width: 71px;
  border-radius: 38px;
  background-color: #9e9e9e;
  border: 5px solid #9e9e9e;
  margin: -45px -39px;
}
.sun .moon-slider-knob.active,
.sun .moon-slider-knob.spotselect,
.sun .moon-slider-knob:active:hover {
  height: 83px;
  width: 83px;
  border-radius: 44px;
  margin: -50px -45px;
}
.sun .moon-slider.spotlight > .moon-slider-knob {
  background-color: #9e9e9e;
  border: 5px solid @sun-spotlight-border-color;
}
.sun .moon-slider.spotlight > .moon-slider-knob:active:hover {    
  background-color: @sun-spotlight-border-color;
  border: 5px solid @sun-spotlight-border-color;
}
