/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

/* Moonstone default parameters defined here */
/* App */
/* ---------------------------------------*/
/* Colors */
/* ---------------------------------------*/
/* Font */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* @moon-spotlight-border-width + @moon-spotlight-padding-left */
/* Button */
/* ---------------------------------------*/
/* Input */
/* ---------------------------------------*/
/* Pickers */
/* ---------------------------------------*/
/* Items */
/* ---------------------------------------*/
/* Divider */
/* Breadcrumb */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/* IntegerScrollPicker */
/* ---------------------------------------*/
/* Grid Dimensions */
/* ---------------------------------------*/
/* ObjectActionDecorator */
/* ---------------------------------------*/
/* Carat */
/* ---------------------------------------*/
/* Moonstone rules defined here */
/* Import font styles */
/* ----- LG Display ------ */
/* Import grid classes/mixins */
/* ------- Horizontal Dimensioning (columns) ------- */
/* ------- Vertical Dimensioning (columns) ------- */
/* Common classes applicable to multiple controls */

/* Checkbox.css */
.sun.moon-checkbox {
  cursor: pointer;
  height: 36px;
  width: 50px;
}
.sun.moon-checkbox[checked] {
  background-image: url(../images/checkbox.png);
  background-repeat: no-repeat;
  background-position: 11px 1px;
}
.sun.moon-checkbox[disabled] {
  opacity: 0.4;
}
.sun.moon-checkbox .moon-overlay {
  cursor: pointer;
  height: 36px;
  width: 50px;
  background: transparent url(../images/checkbox.png) no-repeat 10px -36px;
  opacity: 1;
  transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
}
.sun.moon-checkbox .moon-overlay.off {
  opacity: 0;
}
.sun.moon-checkbox-item {
  display: block;
  position: relative;
  margin-bottom: 33px;
}
.sun.moon-checkbox-item .moon-checkbox-item-label-wrapper {
  height: 1.12em;
  min-height: 23.400000000000002px;
  margin-right: 50px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label-wrapper {
  margin-left: 50px;
  margin-right: 0;
}
.sun.moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
  margin-right: 66px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
  margin-left: 50px;
  margin-right: 0;
}
.sun.moon-checkbox-item .moon-checkbox-item-label {
  float: left;
  white-space: nowrap;
  height: 1.12em;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label {
  float: right;
  white-space: nowrap;
}
.sun.moon-checkbox-item .moon-checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -1px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox {
  left: 0px;
  right: auto;
}
.sun.moon-checkbox-item .moon-checkbox[checked] {
  background-color: transparent;
}
.sun.moon-checkbox-item.disabled,
.sun.moon-checkbox-item .moon-checkbox[disabled] {
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* Button */
/*
	IE8 can't handle these selectors in tandem:
	.moon-button.active, .moon-button:active:not([disabled]) {

	the effect is as if .moon-button.active doesn't exist
*/
.sun.moon-button.active,
.sun.moon-button.pressed,
.sun.moon-button.spotlight.pressed,
.sun.moon-button.spotlight:active,
.sun.moon-button.small.spotlight.pressed {
  border: 5px solid #ff0000;
}
.sun.moon-button:active:hover:not([disabled]) {
  border: 5px solid #ff0000;
}
.sun.moon-button.spotlight {
  background: #ff0000;/*ffb80d*/
}

/* IconButton.css */
.sun.moon-icon.moon-icon-button.active,
.sun.moon-icon.moon-icon-button.pressed,
.sun.moon-icon.moon-icon-button.spotlight.pressed,
.sun.moon-icon.moon-icon-button.spotlight:active {
  border: 4px solid #ff0000;
}
.sun.moon-icon-button.spotlight {
  background-color: #ff0000;
}

/* Input.css */
.sun.moon-input {
  font-family: "MuseoSans 300";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  color: #ff0000; /*#4b4b4b*/
}
.sun.moon-input-decorator.moon-focused .moon-input {
  cursor: text;
}
.sun.moon-input-decorator.moon-disabled .moon-input {
  cursor: default;
}
.sun.moon-input-decorator > input::-webkit-input-placeholder {
  color: #ff0000;/*#7d7d7d;*/
}
.sun.moon-input-decorator > input:-moz-placeholder {
  color: #ff0000;/*#7d7d7d;*/
}
/* IE10 */
.sun.moon-input-decorator > input:-ms-input-placeholder {
  color: #ff0000;/*#7d7d7d;*/
}

/* InputDecorator.css */
.sun.moon-input-decorator:not(.moon-input-header-input-decorator) {
  font-family: "MuseoSans 700";
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.05em;
  margin: 0px;
  padding: 14px 30px 14px 30px;
  border-radius: 34px;
  -moz-border-radius: 34px;
  border: 5px solid transparent;
  background-color: white;
  -webkit-background-clip: padding;
  /* Safari */

  background-clip: padding-box;
  /* Firefox 4+, Chrome, IE 9+ */

}
.sun.moon-input-decorator:not(.moon-input-header-input-decorator).spotlight {
  border: 5px solid #ff0000; /*#ffb80d;*/
}
.sun.moon-input-decorator.moon-disabled {
  opacity: 0.4;
}
.sun.moon-input-decorator:not(.moon-input-header-input-decorator).moon-focused {
  border: 5px solid #ff0000; /*#a2a2a2;*/
}

/* ProgressBar.css */
.sun.moon-progress-bar {
  position: relative;
  margin: 50px 20px;
  height: 4px;
  background-color: #ff0000;
  min-width: 128px;
}
.sun.moon-progress-bg-bar {
  height: 100%;
  background-color: #ff0000;
}
.sun.moon-progress-bar-bar {
  height: 100%;
  background-color: #ff0000;
  margin-top: -4px;
}
.sun.moon-slider-taparea {
  position: absolute;
  top: -14px;
  height: 32px;
  width: 100%;
}
.sun.moon-slider-knob,
.sun.moon-slider-knob.disabled:active:hover {
  position: relative;
  height: 56px;
  width: 56px;
  border-radius: 28px;
  margin: -30px -29px;
  background-color: #ff0000;
}
.sun.moon-slider-knob.active,
.sun.moon-slider-knob.spotselect,
.sun.moon-slider-knob:active:hover {
  height: 84px;
  width: 84px;
  border-radius: 42px;
  margin: -42px -44px;
}
.sun.moon-slider.spotlight > .moon-progress-bar-bar {
  background-color: #ff0000;
}
.sun.moon-slider.spotlight > .moon-slider-knob {
  background-color: #ff0000;
}
.sun.moon-slider.disabled {
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.sun.moon-slider-popup {
  position: absolute;
  display: block;
  z-index: 20;
  left: 100px;
  top: 0px;
  width: 62px;
  height: 52px;
  padding-left: 0px;
}
.sun.moon-slider-popup-label {
  font-family: "Miso";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  position: absolute;
  top: 2px;
  width: 60px;
  height: 45px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
}
.sun.enyo-locale-non-latin .moon-slider-popup-label {
  font-family: "LG Display";
}
.sun.moon-slider-popup.above {
  top: -90px;
  padding-left: 10px;
}
.sun.moon-slider-popup-flip-h {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.sun.moon-slider-focus {
  background-color: #ff0000;
}
.sun.moon-slider-nofocus {
  background-color: #ff0000;
}

/* Expandable Input */
/* Popup.css */
.sun.moon-popup {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #ff0000;
}
.sun.moon-popup-close {
  border-radius: 9999px;
  line-height: 24px;
  background-color: #ff0000;
  border: 5px solid transparent;
  float: right;
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 0px 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.sun.moon-popup-close.spotlight {
  background: #ff0000;
}
.sun.moon-popup-close::after {
  content: "\2716";
  font-size: 25px;
  position: relative;
  top: 1px;
  left: 0px;
  color: #ff0000;
}
.sun.moon-expandable-input {
  transition: border-width 0.1s linear, padding 0.1s linear;
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  -moz-transition: border-width 0.1s linear, padding 0.1s linear;
  -o-transition: border-width 0.1s linear, padding 0.1s linear;
  cursor: pointer;
}
.sun.moon-expandable-input .moon-input-decorator {
  width: 100%;
  box-sizing: border-box;
}
.sun.moon-expandable-input .moon-input {
  width: 100%;
}
.sun.moon-expandable-input.spotlight {
  padding: 0px 0px 0px 4px;
  border-left: 16px solid #ff0000;
}
.sun.moon-item.moon-expandable-input-header {
  line-height: 28px;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.sun.moon-expandable-input.open .moon-expandable-input-header {
  font-family: "MuseoSans 700";
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.05em;
  padding: 0px;
  border-bottom: 1px solid #ff0000;
}
.sun.moon-expandable-input-current-value {
  font-family: "MuseoSans 300";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #ff0000;
  margin: 0px;
  padding: 0px;
}

/* ToggleButton.css */
.sun-toggle-button {
  display: inline-block;
  line-height: 100px;
  min-width: 200px;
  /* */
  /* border-radius: @sun-togglebutton-border-radius; */
  border-radius: 60px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  /* background: @sun-togglebutton-background @sun-togglebutton-gradient repeat-x bottom; */
  /* background: #8bba3d url("../images/gradient-invert.png") repeat-x bottom; */
  background: #ff3333;
  background-size: auto 100%;
  /* label */
  /* color: @sun-togglebutton-text-color; */
  color: #ffffff;
  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button.off {
  /* background-color: @sun-togglebutton-off-background !important; */
  background-color: #b1b1b1 !important;
}
.sun-toggle-button-knob {
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 20px;
  /* border-radius: @sun-togglebutton-border-radius; */
  border-radius: 30px;
  /* background: @sun-togglebutton-knob-background @sun-togglebutton-knob-gradient repeat-x; */
  /* background: #f6f6f6 url("../images/gradient.png") repeat-x; */
  /* background: #f6f6f6; */
  background-size: auto 100%;
  /* label */
  /* color: @sun-togglebutton-text-color; */
  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button .sun-toggle-button-knob {
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ffffff;
  color: #b1b1b1;
  float: right;
}
.sun-toggle-button.off .sun-toggle-button-knob {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ff3333;
  color: #ffffff;
  float: left;
}
.sun-toggle-button.disabled,
.sun-icon-button.disabled {
  /* opacity: @sun-disabled-opacity; */
  opacity: 0.4;
  /* filter: alpha(opacity=@sun-disabled-opacity-ie); */
  filter: alpha(opacity=40);
}
.sun-toggle-button-content {
  min-width: 32px;
  padding: 0 6px;
}
.sun-toggle-button-content.empty,
.sun-toggle-button-knob-content.empty {
  padding: 0;
}
.sun-toggle-button-content.off,
.sun-toggle-button-knob-content.off {
  margin-right: 30px;
  margin-left: 0px;
  float: right;
}
.sun-toggle-button-content.on,
.sun-toggle-button-knob-content.on {
  margin-left: 30px;
  margin-right: 0px;
  float: left;
}
