/* App */
/* ---------------------------------------*/

/* Colors */
/* ---------------------------------------*/
@sun-dark-gray: #404040;
@sun-light-gray: #4B4B4B;
@sun-red: #FF2F7D;

/* Font */
/* ---------------------------------------*/
@sun-header-text-size: 150pt;
@sun-header-font-size: 150pt;
@sun-small-header-text-size: 92pt;
@sun-sub-header-font-size: 44pt;
@sun-small-header-font-size: 92pt;
@sun-body-font-size: 80px;
@sun-divider-font-size: 72px;
@sun-sub-header-font-family: "MuseoSans 500";

/* Icon Sizes */
/* ---------------------------------------*/
@sun-icon-size: 122px;
@sun-icon-button-size: 132px;
@sun-small-icon-size: 102px;
@sun-small-icon-button-size: 102px;

/* Spotlight */
/* ---------------------------------------*/
@sun-spotlight-border-color: @sun-red;

/* Header */
/* ---------------------------------------*/
@sun-header-left-padding: 60px;
@sun-header-height: 187px;
@sun-header-icon-bottom-margin: 30px;

/* Button */
/* ---------------------------------------*/
@sun-button-background-color: #FFFFFF;
@sun-button-border-width: 5px;
@sun-button-height: 107px;

/* CheckboxItem */
/* ---------------------------------------*/
@sun-checkbox-image: url(../../images/1080x1920/checkbox.png);
@sun-checkbox-image-height: 36px;
@sun-checkbox-image-width: 36px;
@sun-checkbox-width: 50px;

/* Spinner */
/* ---------------------------------------*/
@sun-spinner-dark-image: url(../../images/1080x1920/spinner-dark.gif);
@sun-spinner-light-image: url(../../images/1080x1920/spinner-light.gif);
@sun-spinner-image-width: 52px;
@sun-spinner-image-height: 52px;

/* Carat */
/* ---------------------------------------*/
@sun-carat-black-small-up-image: url(../../images/1080x1920/carat-black-small-up-image.png);
@sun-carat-black-small-down-image: url(../../images/1080x1920/carat-black-small-down-image.png);

/* ListItem */
/* ---------------------------------------*/
@sun-listitem-font-family-subject: "MuseoSans Medium";
@sun-listitem-font-color-text-normal: #999999;
@sun-listitem-font-color-text-selected: #ffffff;

/* Divider */
@sun-divider-border-width: 6px;

/* Input */
/* ---------------------------------------*/
@sun-input-border-width: 5px;

/* Scroller */
/* ---------------------------------------*/
@sun-scroller-border-color: #999999;
