/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

/* ---------------------------------------*/
/* Moonstone-mobile default parameters defined here */
/* App */
/* ---------------------------------------*/
/* Colors */
/* ---------------------------------------*/
/* Font */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* @moon-spotlight-border-width + @moon-spotlight-padding-left */
/* Button */
/* ---------------------------------------*/
/* Input */
/* ---------------------------------------*/
/* Pickers */
/* ---------------------------------------*/
/* Items */
/* ---------------------------------------*/
/* Divider */
/* Breadcrumb */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/* IntegerScrollPicker */
/* ---------------------------------------*/
/* Grid Dimensions */
/* ---------------------------------------*/
/* ObjectActionDecorator */
/* ---------------------------------------*/
/* Caret */
/* ---------------------------------------*/
/* App */
/* ---------------------------------------*/
/* Colors */
/* ---------------------------------------*/
/* Font */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* Header */
/* ---------------------------------------*/
/* Button */
/* ---------------------------------------*/
/* CheckboxItem */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/* Carat */
/* ---------------------------------------*/
/* ListItem */
/* ---------------------------------------*/
/* Divider */
/* Input */
/* ---------------------------------------*/
/* Pickers */
/* ---------------------------------------*/
/* Scroller */
/* ---------------------------------------*/
/* Tab */
/* ---------------------------------------*/
/* DropDown */
/* ---------------------------------------*/
/* Moonstone rules defined here */
/* Import font styles */
/* ----- MISO ------ */
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-regular.woff") format("woff"), url("../fonts/miso/miso-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-bold.woff") format("woff"), url("../fonts/miso/miso-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-light.woff") format("woff"), url("../fonts/miso/miso-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+00-FF;
}
/* ----- Museo Sans ------ */
@font-face {
  font-family: "MuseoSans Light";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Light";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 300";
  src: local("LG Display-Regular");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 300";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Medium";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Medium";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("LG Display-Regular");
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-500Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-500Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-700Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-700Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Bold";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Bold";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Bold Italic";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans Bold Italic";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-900Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-900Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
/* ----- LG Display ------ */
@font-face {
  font-family: "LG Display";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
/* Import grid classes/mixins */
/* moonstone - Common classes applicable to multiple controls */
.moon {
  font-family: "MuseoSans 700";
  font-size: 30px;
  letter-spacing: -0.04em;
  padding: 20px;
  color: #4b4b4b;
  background-color: #000000;
}
.moon-header-font {
  font-family: "Miso";
  text-transform: uppercase;
}
.enyo-locale-right-to-left .moon {
  direction: rtl;
}
.moon-no-border {
  transition: border-width 0.1s linear, padding 0.1s linear;
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  -moz-transition: border-width 0.1s linear, padding 0.1s linear;
  -o-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  padding-left: 0px;
  padding-right: 24px;
}
.moon-border {
  border-left-width: 24px;
  border-left-color: #ffb80d;
  border-left-style: solid;
  padding-left: 8px;
  padding-right: 0px;
}
.moon-divider-border {
  border-bottom: 2px solid #b5b5b5;
}
.moon-superscript {
  font-size: 24px;
  vertical-align: top;
  margin: 0px 0px 0px 2px;
  padding: 0px;
}
.moon-pre-text {
  font-size: 24px;
  vertical-align: top;
  height: 48px;
  line-height: 24px;
  margin: 12px 2px 8px 0px;
  padding: 0px;
}
.moon-large-text {
  font-size: 48px;
  vertical-align: top;
  height: 48px;
  margin: 0px;
  padding: 0px;
}
.moon-header-text {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
}
.moon-sub-header-text {
  font-family: "MuseoSans 700";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.moon-divider-text {
  font-family: "MuseoSans 700";
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.05em;
}
.moon-body-text {
  font-family: "MuseoSans 300";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.moon-large-button-text {
  font-family: "Miso";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}
.moon-small-button-text {
  font-family: "Miso";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}
.enyo-locale-non-latin .moon input,
.enyo-locale-non-latin .moon textarea,
.enyo-locale-non-latin .moon button,
.enyo-locale-non-latin .moon-header-font,
.enyo-locale-non-latin .moon-superscript,
.enyo-locale-non-latin .moon-pre-text,
.enyo-locale-non-latin .moon-large-text,
.enyo-locale-non-latin .moon-header-text,
.enyo-locale-non-latin .moon-sub-header-text,
.enyo-locale-non-latin .moon-divider-text,
.enyo-locale-non-latin .moon-body-text,
.enyo-locale-non-latin .moon-large-button-text,
.enyo-locale-non-latin .moon-small-button-text {
  font-family: "LG Display";
}
/* moonstone - LESS pre-calculations */
/* sunstone - Common classes applicable to multiple controls */
.sun-header-text {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 150pt;
}
.sun-small-header-text {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 92pt;
}
.sun-sub-header-text {
  font-family: "MuseoSans 700";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 44pt;
}
.sun-header-font {
  font-family: "Miso";
  text-transform: uppercase;
  font-size: 150pt;
}
.sun-two-lines-header .sun-header-font {
  font-family: "Miso";
  text-transform: uppercase;
  font-size: 150pt;
  font-size: 92pt;
}
.sun-arrow-header .sun-header-font {
  font-family: "Miso";
  text-transform: uppercase;
  font-size: 150pt;
  padding-left: 60px;
}
/* sunstone - LESS pre-calculations */
/* Individual widget CSS */
/* Button */
.sun .moon-button {
  font-family: "Miso";
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  max-height: 107px;
  padding: 20px 22px 20px 22px;
  min-width: 107px;
  line-height: 0.84em;
}
.sun .moon-button > .button-client {
  padding: 0px 0px 0px 0px;
}
.sun .moon-button.active,
.sun .moon-button.pressed,
.sun .moon-button.spotlight.pressed,
.sun .moon-button.spotlight:active,
.sun .moon-button.small.spotlight.pressed,
.sun .moon-button:active:hover:not([disabled]) {
  color: #ffffff;
  background: #ff2f7d;
  border: 5px solid #ff2f7d;
}
.sun .moon-button.spotlight {
  color: #4b4b4b;
  background: #ffffff;
  border: 5px solid #ff2f7d;
}
.sun .moon-button.moon-dark-gray:active:hover:not([disabled]) * {
  color: #ffffff;
}
.sun .moon-button.moon-dark-gray.spotlight {
  background: #404040;
}
/* CalendarPicker.css */
.sun .moon-calendar-picker {
  width: 966px;
  margin: 0px auto;
  display: block;
}
.sun .moon-calendar-picker-date {
  font-family: "MuseoSans 700";
  width: 130px;
  min-width: 130px;
  height: 130px;
  min-height: 130px;
  margin: 4px;
}
/* Checkbox.css */
.sun .moon-checkbox {
  height: 36px;
  width: 50px;
}
.sun .moon-checkbox[checked] {
  background-image: url(../../images/1080x1920/checkbox.png);
}
.sun .moon-checkbox .moon-overlay {
  height: 36px;
  width: 50px;
  background: transparent url(../../images/1080x1920/checkbox.png) no-repeat 10px -36px;
}
.sun .moon-checkbox-item .moon-checkbox-item-label-wrapper {
  margin-right: 50px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item .moon-checkbox-item-label-wrapper {
  margin-left: 50px;
}
.sun.moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
  margin-right: 66px;
}
.sun.enyo-locale-right-to-left .moon-checkbox-item.spotlight .moon-checkbox-item-label-wrapper {
  margin-left: 50px;
}
/* IconButton.css */
.sun .moon-icon-button {
  width: 120px;
  height: 120px;
  border-radius: 65px;
  border: 5px solid transparent;
}
.sun .moon-icon.moon-icon-button:active:hover {
  background-position: 0px 0px;
}
.sun .moon-icon.moon-icon-button.active,
.sun .moon-icon.moon-icon-button.pressed,
.sun .moon-icon.moon-icon-button.spotlight.pressed,
.sun .moon-icon.moon-icon-button.spotlight:active {
  background-position: 0px -120px;
  color: #ffffff;
  background-color: #ff2f7d;
  border: 5px solid #ff2f7d;
}
.sun .moon-icon-button.spotlight {
  color: #4b4b4b;
  background: #ffffff;
  border: 5px solid #ff2f7d;
}
.sun .moon-icon-button.moon-small-icon-button {
  width: 97px;
  height: 97px;
  border-radius: 53.5px;
}
.sun .moon-icon.moon-icon-button.moon-small-icon-button.active,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.pressed,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.spotlight.pressed,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.spotlight:active {
  background-position: 0px -97px;
  color: #ffffff;
  background-color: #ff2f7d;
  border: 5px solid #ff2f7d;
}
.sun .moon-icon.moon-icon-button.moon-small-icon-button.active,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.pressed {
  background-position: 0 -97px;
}
.sun .moon-icon.disabled:active:hover,
.sun .moon-icon.moon-icon-button.moon-small-icon-button.disabled:active:hover {
  background-position: 0 0px;
}
.sun .moon-icon.moon-icon-button.moon-loading-icon-button {
  background-image: url(../../images/1080x1920/header_loading.png);
  border-width: 0px;
  width: 107px;
  height: 107px;
}
.sun .moon-icon.moon-icon-button.moon-loading-icon-button.disabled {
  opacity: 1.0;
}
.sun .moon-icon.moon-icon-button.active,
.sun .moon-icon.moon-icon-button.pressed,
.sun .moon-icon.moon-icon-button.spotlight.pressed {
  background-position: 0px;
}
/* InputDecorator.css */
.sun .moon-input-decorator:not(.moon-input-header-input-decorator) {
  padding: 14px 30px 14px 30px;
  border-radius: 66px;
  -moz-border-radius: 66px;
}
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).spotlight {
  border: 5px solid #ff2f7d;
}
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).moon-focused {
  border: 5px solid #ff2f7d;
}
/* Popup.css */
.sun.moon-popup {
  font-family: "MuseoSans 500";
  background-color: #d9d9d9;
  max-height: 90%;
}
.sun.moon-popup.moon-dark-gray * {
  color: #4b4b4b;
}
.sun .sun-popupheader {
  height: 169px;
  padding: 0px 35px;
  margin: 0px 0px 20px 0px;
  border-bottom: 6px solid #a2a2a2;
}
.sun .sun-popupheader-title {
  font-size: 127px;
  line-height: 127px;
}
.sun .sun-popupheader-client {
  position: absolute;
  top: 27px;
  right: 44px;
}
.sun .sun-popupheader-client .moon-icon-button {
  margin-left: 20px;
}
.sun .sun-popupfooter {
  margin: 20px 0px 0px 0px;
}
/* ProgressBar.css */
.moon-progress-bar {
  height: 12px;
}
.moon-progress-bg-bar {
  height: 100%;
  background-color: #7d7d7d;
}
.moon-progress-bar-bar {
  background-color: #ff2f7d;
  margin-top: -12px;
}
/* Slider.css */
.sun .moon-slider-knob,
.sun .moon-slider-knob.disabled:active:hover {
  height: 71px;
  width: 71px;
  border-radius: 38px;
  background-color: #9e9e9e;
  border: 5px solid #9e9e9e;
  margin: -45px -39px;
}
.sun .moon-slider-knob.active,
.sun .moon-slider-knob.spotselect,
.sun .moon-slider-knob:active:hover {
  height: 83px;
  width: 83px;
  border-radius: 44px;
  margin: -50px -45px;
}
.sun .moon-slider.spotlight > .moon-slider-knob {
  background-color: #9e9e9e;
  border: 5px solid #ff2f7d;
}
.sun .moon-slider.spotlight > .moon-slider-knob:active:hover {
  background-color: #ff2f7d;
  border: 5px solid #ff2f7d;
}
/* ToggleButton.css */
.sun-toggle-button {
  display: inline-block;
  line-height: 100px;
  min-width: 200px;
  /* */

  /* border-radius: @sun-togglebutton-border-radius; */

  border-radius: 60px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  /* background: @sun-togglebutton-background @sun-togglebutton-gradient repeat-x bottom; */

  /* background: #8bba3d url("../images/gradient-invert.png") repeat-x bottom; */

  background: #ff3333;
  background-size: auto 100%;
  /* label */

  /* color: @sun-togglebutton-text-color; */

  color: #ffffff;
  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button.off {
  /* background-color: @sun-togglebutton-off-background !important; */

  background-color: #b1b1b1 !important;
}
.sun-toggle-button-knob {
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 20px;
  /* border-radius: @sun-togglebutton-border-radius; */

  border-radius: 30px;
  /* background: @sun-togglebutton-knob-background @sun-togglebutton-knob-gradient repeat-x; */

  /* background: #f6f6f6 url("../images/gradient.png") repeat-x; */

  /* background: #f6f6f6; */

  background-size: auto 100%;
  /* label */

  /* color: @sun-togglebutton-text-color; */

  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button .sun-toggle-button-knob {
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ffffff;
  color: #b1b1b1;
  float: right;
}
.sun-toggle-button.off .sun-toggle-button-knob {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ff3333;
  color: #ffffff;
  float: left;
}
.sun-toggle-button.disabled,
.sun-icon-button.disabled {
  /* opacity: @sun-disabled-opacity; */

  opacity: 0.4;
  /* filter: alpha(opacity=@sun-disabled-opacity-ie); */

  filter: alpha(opacity=40);
}
.sun-toggle-button-content {
  min-width: 32px;
  padding: 0 6px;
}
.sun-toggle-button-content.empty,
.sun-toggle-button-knob-content.empty {
  padding: 0;
}
.sun-toggle-button-content.off,
.sun-toggle-button-knob-content.off {
  margin-right: 30px;
  margin-left: 0px;
  float: right;
}
.sun-toggle-button-content.on,
.sun-toggle-button-knob-content.on {
  margin-left: 30px;
  margin-right: 0px;
  float: left;
}
/* Tooltip.css */
.sun .moon-tooltip-label {
  background-color: #bcbcbc;
  font-family: "Miso";
  font-weight: bold;
  font-size: 46pt;
  height: 67px;
  line-height: 1em;
  color: #404040;
  padding: 0px 25px;
  text-transform: none;
}
.sun .moon-tooltip.above .moon-tooltip-label {
  position: absolute;
  bottom: 0px;
}
.sun .moon-tooltip {
  min-width: 50px;
}
.sun .moon-tooltip.above.left-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_left_up.png");
  margin-bottom: 5px;
}
.sun .moon-tooltip.above.right-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_right_up.png");
  margin-bottom: 5px;
}
.sun .moon-tooltip.below.left-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_left_down.png.");
  margin-top: 5px;
}
.sun .moon-tooltip.below.right-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_right_down.png.");
  margin-top: 5px;
}
/* Spinner.css */
.sun .moon-spinner,
.moon-spinner.moon-dark {
  background: url(../../images/1080x1920/spinner-dark.gif) no-repeat 0 0;
}
.sun .moon-spinner.moon-light {
  background: url(../../images/1080x1920/spinner-light.gif) no-repeat 0 0;
}
.sun .sun-header.enyo-fittable-columns-layout > * {
  margin: 0px;
}
.sun .sun-header {
  color: #dddddd;
  height: 181px;
  border-color: #404040;
  border-top: 0px;
  border-bottom: 6px solid #b5b5b5;
  margin: 0px 20px 1px 20px;
  min-width: 466px;
}
.sun .sun-header.sun-loading-header {
  height: 187px;
  border: 0px;
}
.sun .sun-header-title {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 150pt;
  line-height: 141px;
  overflow: hidden;
  margin: 0px 0px 0px 20px;
}
.sun-arrow-header .sun-header-title {
  padding-left: 70px;
  margin-left: 15px;
}
.sun .sun-two-lines-header .sun-header-title {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 92pt;
  line-height: 90px;
  height: 90px;
}
.sun .sun-header-title-below {
  font-family: "MuseoSans 700";
  font-size: 30px;
  font-family: "MuseoSans 500";
  font-size: 44pt;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  padding-left: 20px;
  color: #999999;
  height: 68px;
  overflow: hidden;
}
.sun-arrow-header .sun-header-title-below {
  padding-left: 70px;
  margin-left: 15px;
}
.sun-arrow-icon {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 20%;
  height: 181px;
  background: url('../../images/1080x1920/header_arrow.png') no-repeat 48px 59px;
}
.sun .sun-header .enyo-fittable-columns-layout > .sun-header-client {
  margin-right: 40px;
  padding: 38px 0px 31px;
}
.sun-header-client > *:not(:first-child) {
  position: relative;
  margin-left: 30px;
}
.sun .sun-header .sun-header-loading {
  position: absolute;
  top: 181px;
  left: 0px;
  margin: 0px;
  width: 100%;
  height: 6px;
  background-color: #404040;
}
.sun .sun-header .moon-progress-bar-bar {
  margin-top: -6px;
}
.sun .sun-header .enyo-fittable-columns-layout > * {
  margin: 0px;
}
.sun .sun-header .enyo-fittable-columns-layout > *:first-child {
  position: relative;
}
.sun-header-title-mask {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 90px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(left, transparent, #000000);
  background-image: -moz-linear-gradient(left, transparent, #000000);
  background-image: -ms-linear-gradient(left, transparent, #000000);
  background-image: -o-linear-gradient(left, transparent, #000000);
}
.sun .sun-header .sun-header-loading-info {
  font-family: "MuseoSans 500";
  font-size: 48pt;
  color: #999999;
  padding-top: 77px;
  margin-right: 20px;
}
/* Accordion.css */
.sun .moon-accordion-client .moon-item {
  color: #a6a6a6;
  line-height: normal;
}
.sun .moon-accordion-client .moon-item.locale-default.spotlight:not(.overlay) {
  padding-left: 0px;
  background-color: transparent;
  color: #a6a6a6;
  line-height: normal;
}
.sun .moon-accordion-arrow.up {
  color: #a6a6a6;
  line-height: normal;
  background: url(../../images/1080x1920/carat-black-small-up-image.png) right center no-repeat;
}
.sun .moon-accordion-arrow.down {
  color: #a6a6a6;
  line-height: normal;
  background: url(../../images/1080x1920/carat-black-small-down-image.png) right center no-repeat;
}
.sun .moon-item.locale-default.moon-accordion-arrow.up.spotlight {
  padding-left: 0px;
  background-color: transparent;
  color: #a6a6a6;
  line-height: normal;
}
.sun .moon-item.locale-default.moon-accordion-arrow.down.spotlight {
  padding-left: 0px;
  background-color: transparent;
  color: #a6a6a6;
  line-height: normal;
}
.sun .locale-default.moon-item.moon-expandable-list-item.moon-accordion.spotlight {
  padding-left: 0px;
  background-color: transparent;
  color: #a6a6a6;
  line-height: normal;
}
/* Scroller.css */
.sun .enyo-thumb {
  background: #999999;
  border: #999999;
}
.sun .enyo-vthumb {
  top: 6px;
  right: 5px;
  width: 10px;
}
/* SimplePicker.css */
.sun-simple-picker > * {
  display: inline-block;
  vertical-align: middle;
  height: 228px;
}
.sun .sun-simple-picker-button {
  background-color: transparent;
}
.sun .sun-simple-picker-item {
  line-height: 228px;
  height: 228px;
  width: 630px;
  max-width: 630px;
  font-family: "MuseoSans 700";
  font-size: 80px;
}
.sun .sun-simple-picker-button.right {
  transform: rotate(180deg) translateZ(0px);
  -o-transform: rotate(180deg) translateZ(0px);
  -ms-transform: rotate(180deg) translateZ(0px);
  -moz-transform: rotate(180deg) translateZ(0px);
  -webkit-transform: rotate(180deg) translateZ(0px);
}
/* devider.css */
.sun .moon-divider {
  font-size: 72px;
}
.sun .moon-divider .moon-marquee-text {
  line-height: 72px;
}
.sun-listitem-item {
  position: relative;
  border-bottom: 3px solid silver;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  color: #999999;
}
.sun-listitem-item.sun-listitem-singlelined {
  height: 180px;
}
.sun-listitem-item.sun-listitem-doublelined {
  height: 224px;
}
.sun-listitem-item.sun-listitem-triplelined {
  height: 300px;
}
.sun-listitem-item:after {
  content: " ";
  visiblity: hidden;
  display: block;
  height: 0;
  clear: both;
}
.sun-listitem-selected {
  background-color: #ff2f7d;
  color: #ffffff;
}
.sun-listitem-icon {
  position: absolute;
  left: 40px;
}
.sun-listitem-singlelined .sun-listitem-icon {
  top: 32px;
}
.sun-listitem-doublelined .sun-listitem-icon {
  top: 55px;
}
.sun-listitem-triplelined .sun-listitem-icon {
  top: 90px;
}
.sun-listitem-thumbnail {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 38px;
}
.sun-listitem-singlelined .sun-listitem-thumbnail {
  top: 17px;
}
.sun-listitem-doublelined .sun-listitem-thumbnail {
  top: 40px;
}
.sun-listitem-triplelined .sun-listitem-thumbnail {
  top: 75px;
}
.sun-listitem-subject {
  font-family: "MuseoSans Medium";
  font-size: 80px;
  position: absolute;
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  right: 40px;
}
.sun-listitem-singlelined .sun-listitem-subject {
  top: 42px;
  left: 40px;
}
.sun-listitem-singlelined.sun-listitem-icon-attached .sun-listitem-subject {
  left: 178px;
}
.sun-listitem-singlelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
  left: 208px;
}
.sun-listitem-doublelined .sun-listitem-subject {
  top: 20px;
  left: 40px;
}
.sun-listitem-doublelined.sun-listitem-icon-attached .sun-listitem-subject {
  left: 178px;
}
.sun-listitem-doublelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
  left: 208px;
}
.sun-listitem-triplelined .sun-listitem-subject {
  top: 20px;
  left: 40px;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-subject {
  left: 178px;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-subject {
  left: 208px;
}
.sun-listitem-command-attached .sun-listitem-subject {
  right: 187px;
}
.sun-listitem-extrainfo-attached .sun-listitem-subject {
  right: 340px;
}
.sun-listitem-textitem1,
.sun-listitem-textitem2 {
  font-family: "MuseoSans 300";
  font-size: 68px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  right: 40px;
}
.sun-listitem-doublelined .sun-listitem-textitem1 {
  top: 120px;
  left: 40px;
}
.sun-listitem-doublelined.sun-listitem-icon-attached .sun-listitem-textitem1 {
  left: 178px;
}
.sun-listitem-doublelined.sun-listitem-thumbnail-attached .sun-listitem-textitem1 {
  left: 208px;
}
.sun-listitem-triplelined .sun-listitem-textitem1 {
  top: 117px;
  left: 40px;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-textitem1 {
  left: 178px;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-textitem1 {
  left: 208px;
}
.sun-listitem-triplelined .sun-listitem-textitem2 {
  top: 202px;
  left: 40px;
}
.sun-listitem-triplelined.sun-listitem-icon-attached .sun-listitem-textitem2 {
  left: 178px;
}
.sun-listitem-triplelined.sun-listitem-thumbnail-attached .sun-listitem-textitem2 {
  left: 208px;
}
.sun-listitem-command-attached .sun-listitem-textitem1 {
  right: 187px;
}
.sun-listitem-extrainfo-attached .sun-listitem-textitem1 {
  right: 340px;
}
.sun-listitem-command-attached .sun-listitem-textitem2 {
  right: 187px;
}
.sun-listitem-extrainfo-attached .sun-listitem-textitem2 {
  right: 340px;
}
.sun-listitem-command {
  position: absolute;
  right: 40px;
}
.sun-listitem-singlelined .sun-listitem-command {
  top: 32px;
}
.sun-listitem-singlelined.sun-listitem-extrainfo-attached .sun-listitem-command {
  top: 8px;
}
.sun-listitem-doublelined .sun-listitem-command {
  top: 55px;
}
.sun-listitem-doublelined.sun-listitem-extrainfo-attached .sun-listitem-command {
  top: 32px;
}
.sun-listitem-triplelined .sun-listitem-command {
  top: 90px;
}
.sun-listitem-triplelined.sun-listitem-extrainfo-attached .sun-listitem-command {
  top: 70px;
}
.sun-listitem-extrainfo {
  font-family: "MuseoSans 300";
  font-size: 50px;
  position: absolute;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  right: 40px;
  max-width: 300px;
}
.sun-listitem-singlelined .sun-listitem-extrainfo {
  bottom: 20px;
}
.sun-listitem-singlelined.sun-listitem-command-attached .sun-listitem-extrainfo {
  bottom: 3px;
}
.sun-listitem-doublelined .sun-listitem-extrainfo {
  bottom: 30px;
}
.sun-listitem-doublelined.sun-listitem-command-attached .sun-listitem-extrainfo {
  bottom: 20px;
}
.sun-listitem-triplelined .sun-listitem-extrainfo {
  bottom: 50px;
}
.sun-listitem-triplelined.sun-listitem-command-attached .sun-listitem-extrainfo {
  bottom: 50px;
}
/* Input.css */
.sun .moon-input {
  font-family: "MuseoSans 300";
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  color: #4b4b4b;
}
/* RichText.css */
.sun .moon-richtext {
  font-family: "MuseoSans 300";
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  min-height: 96px;
}
/* TextArea.css */
.sun .moon-textarea {
  font-family: "MuseoSans 300";
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
/* Toast.css */
.sun-toast {
  font-family: "MuseoSans 700";
  font-size: 66pt;
  position: relative;
  background-color: #d9d9d9;
  border: 5px solid #404040;
  color: #4b4b4b;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  padding: 10px;
  top: 100px;
  text-align: center;
  border-radius: 10px;
}
/* TabItem.css */
.sun-tabItem.moon-item {
  height: 150px;
  max-width: 432px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  background-color: #bababa;
  font-family: "Miso";
  font-size: 88pt;
  font-weight: bold;
}
.sun-tabItem .moon-selectableItem-item {
  margin: 20px 0px 20px 0px;
  padding: 0px 40px 0px 40px;
  height: 110px;
  border-right: 4px solid #646464;
  border-bottom: 0px;
}
.sun-tabItem .moon-marquee-text {
  text-overflow: clip;
}
.sun-tabItem.moon-item.active {
  border-bottom: 12px solid #ff2f7d;
  height: 138px;
  transition: border-color 0.4s linear;
  -webkit-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
}
.sun-tabItem .moon-selectableItem-item.moon-underline {
  border-bottom: 0px;
}
.sun-tabItem .moon-selectableItem-item.moon-underline.moon-overlay {
  border-bottom: 0px;
  padding: 0px 40px 0px 40px;
}
.sun-tabItem.spotlight.none:not(.active) {
  border-color: transparent;
}
.sun-tabItem.moon-item.touch-down {
  background-color: #ff2f7d;
}
.sun-tabItem.icon .moon-selectableItem-item {
  margin: 15px 0px 20px 0px;
  padding: 0px 40px 0px 40px;
  height: 185px;
  border-right: 4px solid #646464;
  border-bottom: 0px;
}
.sun-tabItem.icon {
  height: 220px;
}
.sun-tabItem.icon img {
  position: relative;
  left: 50px;
  bottom: 131px;
}
.sun-tabItem.icon .moon-marquee-clip {
  position: relative;
  top: 70px;
}
.sun-tabItem.icon.moon-item.active {
  height: 208px;
}
/* TabBar.css */
.sun-tabBar {
  height: 160px;
  background-color: #bababa;
  margin: 0px;
  display: block;
  white-space: nowrap;
}
.sun-tabBar.icon {
  height: 230px;
}
.sun-tabPanels {
  padding: 0px;
}
.sun-tabPanels.enyo-fittable-rows-layout > * {
  margin: 0px;
}
/*DropDown.css*/
.sun-drop-down {
  font-family: "MuseoSans 300";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
  min-height: 100px;
  max-height: 580px;
  min-width: 640px;
  border-radius: 5px;
  border: 5px solid rgba(255, 255, 255, 0.25);
  background-color: #d9d9d9;
  padding: 20px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*adjusting base contextual popup positioning*/
/*for popups above activator*/
.vertical.above {
  margin-top: -20px;
  width: 640px;
}
/*for popups below activator*/
.vertical.below {
  margin-top: 15px;
  width: 640px;
}
/*for popups on the left of the activator*/
.right.horizontal {
  margin-top: 10px;
  width: 640px;
}
/*for popups on the right of the activator*/
.left.horizontal {
  margin-top: 10px;
  width: 640px;
}
/*setup the nub*/
.sun-drop-down::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 46px;
  height: 36px;
}
/*nub positioning*/
/*horizontally centered nub*/
.sun-drop-down.vertical::after {
  position: absolute;
  left: 50%;
  margin-top: -4px;
  margin-left: -23px;
  width: 46px;
  height: 36px;
  background: transparent url('../images/contextual-popup-nubs/down.png') no-repeat;
}
/*nub near horizontal left*/
.sun-drop-down.vertical.right::after {
  left: 0%;
  margin-left: 20px;
}
/*nub near horizontal right*/
.sun-drop-down.vertical.left::after {
  left: 100%;
  margin-left: -75px;
}
/*downward facing nub*/
.sun-drop-down.vertical.above::after {
  top: 100%;
  margin-top: -4px;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #d9d9d9;
}
.sun-drop-down.vertical.below::after {
  top: -5%;
  margin-top: 0px;
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #d9d9d9;
}
.sun.sun-drop-down.vertical.below.right::after {
  top: 0%;
  left: 0%;
  margin-top: -5px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #d9d9d9;
}
.sun-drop-down.vertical.below.left::after {
  top: -8%;
  left: 100%;
  margin-top: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #d9d9d9;
}
/*nub positioning for left/right popups*/
/*vertically centered nub for popups on left of activator*/
.sun-drop-down.right::after {
  left: 100%;
  top: 50%;
  width: 36px;
  height: 46px;
  margin-left: -4px;
  margin-top: -23px;
  background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*nub near vertical top for popups on left of activator*/
.sun-drop-down.right.high::after {
  top: 35px;
  background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*nub near vertical bottom for popups on left of activator*/
.sun-drop-down.right.low::after {
  top: 100%;
  margin-top: -55px;
  background: transparent url('../images/contextual-popup-nubs/right.png') no-repeat;
}
/*vertically centered nub for popups on right of activator*/
.sun-drop-down.left::after {
  left: 0%;
  margin-left: -20px;
  top: 45%;
  width: 36px;
  height: 46px;
  background: transparent url('../images/contextual-popup-nubs/left.png') no-repeat;
}
/*nub near vertical top for popups on right of activator*/
.sun-drop-down.left.high::after {
  top: 35px;
  background: transparent url('../images/contextual-popup-nubs/up.png') no-repeat;
}
/*nub near vertical bottom for popups on right of activator*/
.sun-drop-down.left.low::after {
  top: 100%;
  margin-top: -55px;
  background: transparent url('../images/contextual-popup-nubs/down.png') no-repeat;
}
/*flush corners are not implemented currently per HI*/
.sun-drop-down .enyo-touch-scroller {
  max-height: 500px;
}
/*DropDownButton.css*/
.sun-drop-down-button {
  width: 276px;
  height: 107px;
  color: #a6a6a6;
  background-color: #404040;
  background-image: url(../../images/1080x1920/btn_down_arrow.png);
  background-repeat: no-repeat;
  background-position: 105% -10px;
}
.sun-drop-down-button.down.spotlight {
  background-color: #bcbcbc;
  background-image: url(../../images/1080x1920/btn_down_arrow.png);
  background-repeat: no-repeat;
  background-position: 105% -10px;
  padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.pressed,
.sun-drop-down-button.active.up {
  color: #ffffff;
  background-color: #ff2f7d;
  background-image: url(../../images/1080x1920/btn_down_arrow.png);
  background-repeat: no-repeat;
  background-position: 105% -331px;
  padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.down {
  color: #a6a6a6;
  background-color: #404040;
  padding: 20px 52px 20px 22px;
}
.sun-drop-down-button.down:disabled {
  color: #4b4b4b;
  background-color: #262626;
}
/* DropDownDecorator.css */
.sun-drop-down-decorator {
  position: relative;
}
/* OptionItem.css */
.sun .moon-item.moon-selectableItem {
  font-size: 55px;
  color: #4b4b4b;
  width: 100%;
  padding-left: 15px;
  margin: 0;
  line-height: 100px;
}
.sun .moon-item.moon-selectableItem.spotlight {
  line-height: 1.12em;
}
.sun .moon-item.locale-default.spotlight:not(.overlay) {
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 15px;
  background-color: #ff2f7d;
  color: #ffffff;
  line-height: 100px;
}
.sun .moon-selectableItem .moon-selectableItem-item {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid #ffffff;
  padding: 0px;
}
.sun .moon-selectableItem .moon-underline.moon-overlay {
  cursor: pointer;
  border-bottom: 3px solid #ffffff;
  padding: 0px;
  transition: border-color 0.4s linear;
  -webkit-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
}
.sun .moon-selectableItem .moon-underline {
  border-bottom: 4px solid #ffb80d;
  padding-bottom: 5px;
}
/* InputHeader.css */
.sun .moon-input-header-input-decorator {
  margin: -39px 0px 0px 0px !important;
}
.sun .moon-input-header-input-decorator > .moon-input {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 150pt;
  height: 150pt;
  line-height: 150pt;
  color: #dddddd;
}
.sun .sun-two-lines-header .moon-input-header-input-decorator > .moon-input {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
  font-size: 92pt;
  margin-top: 22px !important;
  height: 92pt;
  line-height: 92pt;
  color: #dddddd;
}
.sun .enyo-tool-decorator > * {
  vertical-align: top;
  width: 100%;
}
.sun .sun-header-title.enyo-fittable-columns-layout .moon-button {
  position: relative;
  top: 15px;
  right: 0px;
}
.sun .sun-two-lines-header .sun-header-title.enyo-fittable-columns-layout .moon-button {
  position: relative;
  top: 0px;
  right: 0px;
}
.sun .sun-input-header-done-hide {
  opacity: 0;
}
/* Put this at the end because we want these to take precedence over others */
.sun .moon-dark-gray {
  background-color: #404040;
  color: #4b4b4b;
}
.sun .moon-dark-gray * {
  color: #bababa;
}
.sun-divider-text {
  font-size: 72px;
}
.sun-sub-header-text {
  font-family: "MuseoSans 500";
  font-size: 44pt;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.sun-body-text {
  font-family: "MuseoSans 300";
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.sun-divider-border {
  border-bottom: 2px solid #404040;
}
.sun-header-loading-info-text {
  font-family: "MuseoSans 500";
  font-size: 48pt;
  color: #999999;
}
