/* App */
/* ---------------------------------------*/

/* Colors */
/* ---------------------------------------*/
@sun-dark-gray: #404040;
@sun-light-gray: #4B4B4B;
@sun-red: #FF2F7D;

/* Font */
/* ---------------------------------------*/
@sun-header-text-size: 70px;
@sun-header-font-size: 70px;
@sun-sub-header-font-size: 20px;
@sun-small-header-font-size: 50px;

/* Spotlight */
/* ---------------------------------------*/
@sun-spotlight-border-color: @sun-red;

/* Header */
/* ---------------------------------------*/
@sun-header-left-padding: 60px;
@sun-header-height: 100px;
@sun-header-icon-bottom-margin: 30px;

/* Button */
/* ---------------------------------------*/
@sun-button-background-color: #FFFFFF;
@sun-button-border-width: 5px;

/* CheckboxItem */
/* ---------------------------------------*/
@sun-checkbox-image: url(../../images/1080x1920/checkbox.png);
@sun-checkbox-image-height: 36px;
@sun-checkbox-image-width: 36px;
@sun-checkbox-width: 50px;

/* Spinner */
/* ---------------------------------------*/
@sun-spinner-dark-image: url(../../images/1080x1920/spinner-dark.gif);
@sun-spinner-light-image: url(../../images/1080x1920/spinner-light.gif);
@sun-spinner-image-width: 52px;
@sun-spinner-image-height: 52px;

/* Carat */
/* ---------------------------------------*/
@sun-carat-black-small-up-image: url(../../images/1080x1920/carat-black-small-up-image.png);
@sun-carat-black-small-down-image: url(../../images/1080x1920/carat-black-small-down-image.png);
