/* Import font styles */
@import "../../../css/moonstone-fonts.less";
@import "sunstone-fonts.less";

/* Import grid classes/mixins */

/* moonstone - Common classes applicable to multiple controls */
.moon {
	font-family: @moon-font-family;
	font-size: @moon-sub-header-font-size;
	letter-spacing: @moon-sub-header-letter-spacing;
	padding: @moon-app-keepout;
	color: @moon-light-text-color;
	background-color: #000000;
}

.moon-header-font {
	font-family: @moon-alt-font-family;
	text-transform: uppercase;
}

.enyo-locale-right-to-left .moon
{
   direction:rtl;
}

.moon-no-border {
	transition: @moon-spotlight-transition;
	-webkit-transition: @moon-spotlight-transition;
	-moz-transition: @moon-spotlight-transition;
	-o-transition: @moon-spotlight-transition;
	border-left-width: @moon-no-spotlight-border-width;
	border-left-color: @moon-no-spotlight-border-color;
	border-left-style: @moon-no-spotlight-border-style;
	padding-left: @moon-no-spotlight-padding-left;
	padding-right: @moon-no-spotlight-padding-right;
}

.moon-border {
	border-left-width: @moon-spotlight-border-width;
	border-left-color: @moon-spotlight-border-color;
	border-left-style: @moon-spotlight-border-style;
	padding-left: @moon-spotlight-padding-left;
	padding-right: @moon-spotlight-padding-right;
}

.moon-divider-border {
	border-bottom: @moon-divider-border-width solid @moon-divider-border-color;
}

.moon-superscript {
	font-size: @moon-superscript-text-size;
	vertical-align: top;
	margin: 0px 0px 0px 2px;
	padding: 0px;
}

.moon-pre-text {
	font-size: @moon-pre-text-size;
	vertical-align: top;
	height:  @moon-large-text-size;
	line-height: @moon-pre-text-size;
	margin: 12px 2px 8px 0px;
	padding: 0px;
}

.moon-large-text {
	font-size: @moon-large-text-size;
	vertical-align: top;
	height: @moon-large-text-size;
	margin: 0px;
	padding: 0px;
}
.moon-header-text {
	font-family: @moon-header-font-family;
	font-size: @moon-header-font-size;
	font-weight: @moon-header-font-weight;
	font-style: @moon-header-font-style;
	letter-spacing: @moon-header-letter-spacing;
}
.moon-sub-header-text {
	font-family: @moon-sub-header-font-family;
	font-size: @moon-sub-header-font-size;
	font-weight: @moon-sub-header-font-weight;
	font-style: @moon-sub-header-font-style;
	letter-spacing: @moon-sub-header-letter-spacing;
	// line-height: @moon-sub-header-line-height; 
	//for spotlight reasons, cannot set line-height according to spec
	// have to use margin to achieve same appearance
}
.moon-divider-text {
	font-family: @moon-divider-font-family;
	font-size: @moon-divider-font-size;
	font-weight: @moon-divider-font-weight;
	font-style: @moon-divider-font-style;
	letter-spacing: @moon-divider-letter-spacing;
}
.moon-body-text {
	font-family: @moon-body-font-family;
	font-size: @moon-body-font-size;
	font-weight: @moon-body-font-weight;
	font-style: @moon-body-font-style;
	letter-spacing: @moon-body-letter-spacing;
	// line-height: @moon-body-line-height;
}
.moon-large-button-text {
	font-family: @moon-button-font-family;
	font-size: @moon-button-large-font-size;
	font-weight: @moon-button-font-weight;
	font-style: @moon-button-font-style;
	letter-spacing: @moon-button-letter-spacing;
}
.moon-small-button-text {
	font-family: @moon-button-font-family;
	font-size: @moon-button-small-font-size;
	font-weight: @moon-button-font-weight;
	font-style: @moon-button-font-style;
	letter-spacing: @moon-button-letter-spacing;
}

.enyo-locale-non-latin {
	.moon input, 
	.moon textarea, 
	.moon button,
	.moon-header-font,
	.moon-superscript,
	.moon-pre-text,
	.moon-large-text,
	.moon-header-text,
	.moon-sub-header-text,
	.moon-divider-text,
	.moon-body-text,
	.moon-large-button-text,
	.moon-small-button-text {
		font-family: @moon-non-latin-font-family;
	}
}

/* moonstone - LESS pre-calculations */
@moon-disabled-opacity-ie: @moon-disabled-opacity*100;

/* sunstone - Common classes applicable to multiple controls */
.sun-header-text {
  .moon-header-text;
  font-size: @sun-header-text-size;
}
.sun-small-header-text {
  .moon-header-text;
  font-size: @sun-small-header-text-size;
}
.sun-sub-header-text {
  .moon-sub-header-text;
  font-size: @sun-sub-header-font-size;
}
.sun-header-font {
  .moon-header-font;
  font-size: @sun-header-font-size;
}
.sun-two-lines-header .sun-header-font {
  .sun-header-font;
  font-size: @sun-small-header-font-size;
}
.sun-arrow-header .sun-header-font {
  .sun-header-font;
  padding-left: @sun-header-left-padding;
}
/* sunstone - LESS pre-calculations */

/* Individual widget CSS */
@import "Button.less";
@import "CalendarPicker.less";
@import "CheckBox.less";
@import "CheckBoxItem.less";
@import "IconButton.less";
@import "InputDecorator.less";
@import "Popup.less";
@import "ProgressBar.less";
@import "Slider.less";
@import "ToggleButton.less";
@import "Tooltip.less";
@import "Spinner.less";
@import "Header.less";
@import "Accordion.less";
@import "Scroller.less";
@import "SimplePicker.less";
@import "Divider.less";
@import "ListItem.less";
@import "Input.less";
@import "RichText.less";
@import "TextArea.less";
@import "Toast.less";
@import "DropDown.less";
@import "DropDownButton.less";
@import "DropDownDecorator.less";
@import "OptionItem.less";
@import "InputHeader.less";
@import "DrawerPanel.less";

/* Put this at the end because we want these to take precedence over others */
.sun .moon-dark-gray {
	background-color: @sun-dark-gray;
	color: @sun-light-gray;
}
.sun .moon-dark-gray * {
	color: #bababa;	
}
.sun-divider-text {
	font-size: @sun-divider-font-size;
}
.sun-sub-header-text {
	font-family: @sun-sub-header-font-family;
	font-size: @sun-sub-header-font-size;
	font-weight: @moon-sub-header-font-weight;
	font-style: @moon-sub-header-font-style;
	letter-spacing: @moon-sub-header-letter-spacing;
	// line-height: @moon-sub-header-line-height; 
	//for spotlight reasons, cannot set line-height according to spec
	// have to use margin to achieve same appearance
}
.sun-body-text {
	font-family: @moon-body-font-family;
	font-size: @sun-body-font-size;
	font-weight: @moon-body-font-weight;
	font-style: @moon-body-font-style;
	letter-spacing: @moon-body-letter-spacing;
	// line-height: @moon-body-line-height;
}
.sun-divider-border {
	border-bottom: @moon-divider-border-width solid @sun-divider-border-color;
}
.sun-header-loading-info-text {
	font-family: @sun-sub-header-font-family;
	font-size: @sun-header-loading-info-size;
	color: @sun-listitem-font-color-text-normal;
}