/* ---------------------------------------*/
/* Moonstone-mobile default parameters defined here */
/* App */
/* ---------------------------------------*/
/* Colors */
/* ---------------------------------------*/
/* Font */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Images */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Disabled Opacity */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* @moon-spotlight-border-width + @moon-spotlight-padding-left */
/* Button */
/* ---------------------------------------*/
/* Input */
/* ---------------------------------------*/
/* Pickers */
/* ---------------------------------------*/
/* Items */
/* ---------------------------------------*/
/* Divider */
/* Breadcrumb */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/* IntegerScrollPicker */
/* ---------------------------------------*/
/* Grid Dimensions */
/* ---------------------------------------*/
/* ObjectActionDecorator */
/* ---------------------------------------*/
/* Carat */
/* ---------------------------------------*/
/* App */
/* ---------------------------------------*/
/* Colors */
/* ---------------------------------------*/
/* Font */
/* ---------------------------------------*/
/* Icon Sizes */
/* ---------------------------------------*/
/* Spotlight */
/* ---------------------------------------*/
/* Button */
/* ---------------------------------------*/
/* Spinner */
/* ---------------------------------------*/
/* Moonstone rules defined here */
/* Import font styles */
/* ----- MISO ------ */
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-regular.woff") format("woff"), url("../fonts/miso/miso-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-bold.woff") format("woff"), url("../fonts/miso/miso-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "Miso";
  src: local("LG Display-Regular");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Miso";
  src: local("☺"), url("../fonts/miso/miso-light.woff") format("woff"), url("../fonts/miso/miso-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+00-FF;
}
/* ----- Museo Sans ------ */
@font-face {
  font-family: "MuseoSans Light";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Light";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-100.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 300";
  src: local("LG Display-Regular");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 300";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Medium";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Medium";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-500.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("LG Display-Regular");
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans Medium Italic";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-500Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-500Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("LG Display-Regular");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans 700";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-700Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-700Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Bold";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans Bold";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-900.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+00-FF;
}
@font-face {
  font-family: "MuseoSans Bold Italic";
  src: local("LG Display-Regular");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans Bold Italic";
  src: local("☺"), url("../fonts/MuseoSans/MuseoSans-900Italic.woff") format("woff"), url("../fonts/MuseoSans/MuseoSans-900Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+00-FF;
}
/* ----- LG Display ------ */
@font-face {
  font-family: "LG Display";
  src: local("LG Display-Regular");
  font-weight: normal;
  font-style: normal;
}
/* Import grid classes/mixins */
/* moonstone - Common classes applicable to multiple controls */
.moon {
  font-family: "MuseoSans 700";
  font-size: 30px;
  letter-spacing: -0.04em;
  padding: 20px;
  color: #4b4b4b;
  background-color: #ededed;
}
.moon-header-font {
  font-family: "Miso";
  text-transform: uppercase;
}
.enyo-locale-right-to-left .moon {
  direction: rtl;
}
.moon-no-border {
  transition: border-width 0.1s linear, padding 0.1s linear;
  -webkit-transition: border-width 0.1s linear, padding 0.1s linear;
  -moz-transition: border-width 0.1s linear, padding 0.1s linear;
  -o-transition: border-width 0.1s linear, padding 0.1s linear;
  border-left-width: 0px;
  border-left-color: transparent;
  border-left-style: solid;
  padding-left: 0px;
  padding-right: 24px;
}
.moon-border {
  border-left-width: 24px;
  border-left-color: #ffb80d;
  border-left-style: solid;
  padding-left: 8px;
  padding-right: 0px;
}
.moon-divider-border {
  border-bottom: 2px solid #b5b5b5;
}
.moon-superscript {
  font-size: 24px;
  vertical-align: top;
  margin: 0px 0px 0px 2px;
  padding: 0px;
}
.moon-pre-text {
  font-size: 24px;
  vertical-align: top;
  height: 48px;
  line-height: 24px;
  margin: 12px 2px 8px 0px;
  padding: 0px;
}
.moon-large-text {
  font-size: 48px;
  vertical-align: top;
  height: 48px;
  margin: 0px;
  padding: 0px;
}
.moon-header-text {
  font-family: "Miso";
  font-size: 140px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.05em;
}
.moon-sub-header-text {
  font-family: "MuseoSans 700";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.moon-divider-text {
  font-family: "MuseoSans 700";
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.05em;
}
.moon-body-text {
  font-family: "MuseoSans 300";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.04em;
}
.moon-large-button-text {
  font-family: "Miso";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}
.moon-small-button-text {
  font-family: "Miso";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
}
.enyo-locale-non-latin .moon input,
.enyo-locale-non-latin .moon textarea,
.enyo-locale-non-latin .moon button,
.enyo-locale-non-latin .moon-header-font,
.enyo-locale-non-latin .moon-superscript,
.enyo-locale-non-latin .moon-pre-text,
.enyo-locale-non-latin .moon-large-text,
.enyo-locale-non-latin .moon-header-text,
.enyo-locale-non-latin .moon-sub-header-text,
.enyo-locale-non-latin .moon-divider-text,
.enyo-locale-non-latin .moon-body-text,
.enyo-locale-non-latin .moon-large-button-text,
.enyo-locale-non-latin .moon-small-button-text {
  font-family: "LG Display";
}
/* moonstone - LESS pre-calculations */
/* sunstone - Common classes applicable to multiple controls */
/* sunstone - LESS pre-calculations */
/* Individual widget CSS */
/* Button */
.sun .moon-button.active,
.sun .moon-button.pressed,
.sun .moon-button.spotlight.pressed,
.sun .moon-button.spotlight:active,
.sun .moon-button.small.spotlight.pressed,
.sun .moon-button:active:hover:not([disabled]) {
  color: #ffffff;
  background: #ff2f7d;
  border: 5px solid #ff2f7d;
}
.sun .moon-button.spotlight {
  color: #4b4b4b;
  background: #ffffff;
  border: 5px solid #ff2f7d;
}
.sun .moon-button.moon-dark-gray:active:hover:not([disabled]) * {
  color: #ffffff;
}
.sun .moon-button.moon-dark-gray.spotlight {
  background: #404040;
}
/* Checkbox.css */
.sun .moon-checkbox {
  cursor: pointer;
  height: 36px;
  width: 50px;
}
.sun .moon-checkbox[checked] {
  background-image: url(../images/checkbox.png);
  background-repeat: no-repeat;
  background-position: 11px 1px;
}
.sun .moon-checkbox[disabled] {
  opacity: 0.4;
}
.sun .moon-checkbox .moon-overlay {
  cursor: pointer;
  height: 36px;
  width: 50px;
  background: transparent url(../images/checkbox.png) no-repeat 10px -36px;
  opacity: 1;
  transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
}
.sun .moon-checkbox .moon-overlay.off {
  opacity: 0;
}
/* IconButton.css */
.sun .moon-icon-button {
  width: 122px;
  height: 122px;
  border-radius: 66px;
  border: 5px solid transparent;
}
.sun .moon-icon.moon-icon-button.active,
.sun .moon-icon.moon-icon-button.pressed,
.sun .moon-icon.moon-icon-button.spotlight.pressed,
.sun .moon-icon.moon-icon-button.spotlight:active {
  background-position: 0px -122px;
  color: #ffffff;
  background-color: #ff2f7d;
  border: 5px solid #ff2f7d;
}
.sun .moon-icon-button.spotlight {
  color: #4b4b4b;
  background: #ffffff;
  border: 5px solid #ff2f7d;
}
/* InputDecorator.css */
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).spotlight {
  border: 5px solid #ff2f7d;
}
.sun .moon-input-decorator:not(.moon-input-header-input-decorator).moon-focused {
  border: 5px solid #ff2f7d;
}
/* Popup.css */
.sun .moon-popup {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.sun .moon-popup-close {
  border-radius: 9999px;
  line-height: 24px;
  background-color: #ededed;
  border: 5px solid transparent;
  float: right;
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 0px 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.sun .moon-popup-close.spotlight {
  background: #ffb80d;
}
.sun .moon-popup-close::after {
  content: "\2716";
  font-size: 25px;
  position: relative;
  top: 1px;
  left: 0px;
  color: #4b4b4b;
}
/* ProgressBar.css */
.sun .moon-progress-bar-bar {
  background-color: #ff2f7d;
}
.sun .moon-slider-taparea {
  position: absolute;
  top: -14px;
  height: 32px;
  width: 100%;
}
.sun .moon-slider-knob,
.sun .moon-slider-knob.disabled:active:hover {
  position: relative;
  height: 56px;
  width: 56px;
  border-radius: 28px;
  margin: -30px -29px;
  background-color: #69cdff;
}
.sun .moon-slider-knob.active,
.sun .moon-slider-knob.spotselect,
.sun .moon-slider-knob:active:hover {
  height: 84px;
  width: 84px;
  border-radius: 42px;
  margin: -42px -44px;
}
.sun .moon-slider.spotlight > .moon-progress-bar-bar {
  background-color: #ffb80d;
}
.sun .moon-slider.spotlight > .moon-slider-knob {
  background-color: #ffb80d;
}
.sun .moon-slider.disabled {
  cursor: default;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.sun .moon-slider-popup {
  position: absolute;
  display: block;
  z-index: 20;
  left: 100px;
  top: 0px;
  width: 62px;
  height: 52px;
  padding-left: 0px;
}
.sun .moon-slider-popup-label {
  font-family: "Miso";
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  position: absolute;
  top: 2px;
  width: 60px;
  height: 45px;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
}
.sun .enyo-locale-non-latin .moon-slider-popup-label {
  font-family: "LG Display";
}
.sun .moon-slider-popup.above {
  top: -90px;
  padding-left: 10px;
}
.sun .moon-slider-popup-flip-h {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.sun .moon-slider-focus {
  background-color: #ffb80d;
}
.sun .moon-slider-nofocus {
  background-color: #69cdff;
}
/* ToggleButton.css */
.sun-toggle-button {
  display: inline-block;
  line-height: 100px;
  min-width: 200px;
  /* */

  /* border-radius: @sun-togglebutton-border-radius; */

  border-radius: 60px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  /* background: @sun-togglebutton-background @sun-togglebutton-gradient repeat-x bottom; */

  /* background: #8bba3d url("../images/gradient-invert.png") repeat-x bottom; */

  background: #ff3333;
  background-size: auto 100%;
  /* label */

  /* color: @sun-togglebutton-text-color; */

  color: #ffffff;
  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button.off {
  /* background-color: @sun-togglebutton-off-background !important; */

  background-color: #b1b1b1 !important;
}
.sun-toggle-button-knob {
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 20px;
  /* border-radius: @sun-togglebutton-border-radius; */

  border-radius: 30px;
  /* background: @sun-togglebutton-knob-background @sun-togglebutton-knob-gradient repeat-x; */

  /* background: #f6f6f6 url("../images/gradient.png") repeat-x; */

  /* background: #f6f6f6; */

  background-size: auto 100%;
  /* label */

  /* color: @sun-togglebutton-text-color; */

  font-family: "Miso";
  /* font-size: @sun-togglebutton-font-size; */

  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  overflow: nowrap;
}
.sun-toggle-button .sun-toggle-button-knob {
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ffffff;
  color: #b1b1b1;
  float: right;
}
.sun-toggle-button.off .sun-toggle-button-knob {
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.35), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  background: #ff3333;
  color: #ffffff;
  float: left;
}
.sun-toggle-button.disabled,
.sun-icon-button.disabled {
  /* opacity: @sun-disabled-opacity; */

  opacity: 0.4;
  /* filter: alpha(opacity=@sun-disabled-opacity-ie); */

  filter: alpha(opacity=40);
}
.sun-toggle-button-content {
  min-width: 32px;
  padding: 0 6px;
}
.sun-toggle-button-content.empty,
.sun-toggle-button-knob-content.empty {
  padding: 0;
}
.sun-toggle-button-content.off,
.sun-toggle-button-knob-content.off {
  margin-right: 30px;
  margin-left: 0px;
  float: right;
}
.sun-toggle-button-content.on,
.sun-toggle-button-knob-content.on {
  margin-left: 30px;
  margin-right: 0px;
  float: left;
}
.sun .moon-tooltip-label {
  background-color: #ff0000;
}
.sun .moon-tooltip.above.left-arrow {
  background-image: url('../../images/1080x1920/tooltip-nubs/top-left.png');
}
.sun .moon-tooltip.above.right-arrow {
  background-image: url('../../images/1080x1920/tooltip-nubs/top-right.png');
}
.sun .moon-tooltip.below.left-arrow {
  background-image: url('../../images/1080x1920/tooltip-nubs/bottom-left.png');
}
.sun .moon-tooltip.below.right-arrow {
  background-image: url('../../images/1080x1920/tooltip-nubs/bottom-right.png');
}
/* Spinner.css */
.sun .moon-spinner,
.moon-spinner.moon-dark {
  background: url(../../images/1080x1920/spinner-dark.gif) no-repeat 0 0;
}
.sun .moon-spinner.moon-light {
  background: url(../../images/1080x1920/spinner-light.gif) no-repeat 0 0;
}
.sun .enyo-thumb {
  background: #ff0000;
  border: #ff0000;
}

/* Put this at the end because we want these to take precedence over others */
.sun .moon-dark-gray {
  background-color: #404040;
  color: #4b4b4b;
}
.sun .moon-dark-gray * {
  color: #bababa;
}
