/* App */
/* ---------------------------------------*/

/* Colors */
/* ---------------------------------------*/
@sun-red: #FF0000;

/* Font */
/* ---------------------------------------*/
@sun-spotlight-border-color: @sun-red;

/* Button */
/* ---------------------------------------*/
@sun-button-border-width: 5px;

/* Spinner */
/* ---------------------------------------*/
@sun-spinner-dark-image: url(../../images/1080x1920/spinner-dark.gif);
@sun-spinner-light-image: url(../../images/1080x1920/spinner-light.gif);
@sun-spinner-image-width: 52px;
@sun-spinner-image-height: 52px;
