/* TabBar.css */
.sun-tabBar {	
	height: @sun-tabitem-height;
	//border-top: 1px solid #999999;
	//border-bottom: 1px solid #999999;
	background-color: @sun-tabitem-background-color-normal;
	margin:0px;
	display:block;	
	white-space:nowrap;	
}
.sun-tabBar.icon {	
	height: @sun-tabitem-height-with-icon;
}
