/* TabBar.css */
.sun-tabBar {	
	height: @sun-tabbar-height;	
	background-color: @sun-tabitem-background-color-normal;
	margin: 0px;
	display: block;	
	white-space: nowrap;	
}
.sun-tabBar.icon {	
	height: @sun-tabbar-height-with-icon;
}
