/* TabBar.css */
.sun-tabBar {	
	height: @sun-tabitem-height;
	border: 1px solid #999999;
	margin:0px;
	display:block;	
	white-space:nowrap;	
}
.sun-tabBar.icon {	
	height: @sun-tabitem-height-with-icon;
}
