/* TabItem.css */
.sun-tabItem {
	height: @sun-tabitem-height;
	max-width: @sun-resolution-width*(2/5);
	display: inline-block;
}
.sun-tabItem.moon-item:not(:first-of-type) {
	border-left: 1px solid gray;
}
.sun-tabItem.icon {
	height: @sun-tabitem-height-with-icon;
}
.sun-tabItem.spotlight.none {
	border-color: gray;
}
.sun-tabItem .moon-marquee-text {
	text-overflow: clip;
}
