/* TabItem.css */
.sun-tabItem.moon-item {
	height: @sun-tabitem-height;
	max-width: @sun-resolution-width*(2/5);
	display: inline-block;		
	padding: 0px;
	margin: 0px;
	background-color: @sun-tabitem-background-color-normal;
	font-family: "Miso";
	font-size: 88pt;
	font-weight: bold;
}
.sun-tabItem .moon-selectableItem-item {
	margin: 20px 0px 20px 0px;
	padding: 0px 40px 0px 40px;
	height: @sun-tabitem-height - 40px;
	border-right: 4px solid @sun-tabitem-border-color;
	border-bottom: 0px;
}
.sun-tabItem .moon-marquee-text {
	text-overflow: clip;
}
.sun-tabItem.moon-item.active {	
	border-bottom: 12px solid @sun-tabitem-background-color-selected;
	height: @sun-tabitem-height - 12px;
	transition: border-color 0.4s linear;
	-webkit-transition: border-color 0.4s linear;
	-moz-transition: border-color 0.4s linear;
	-o-transition: border-color 0.4s linear;
}
.sun-tabItem .moon-selectableItem-item.moon-underline {
	border-bottom: 0px;
}
.sun-tabItem .moon-selectableItem-item.moon-underline.moon-overlay {
	border-bottom: 0px;
	padding: 0px 40px 0px 40px;
}
.sun-tabItem.spotlight.none:not(.active) {
	border-color: transparent;
}
.sun-tabItem.moon-item.touch-down {
	background-color: @sun-tabitem-background-color-selected;
}
.sun-tabItem.icon .moon-selectableItem-item {
	margin: 15px 0px 20px 0px;
	padding: 0px 40px 0px 40px;
	height: @sun-tabitem-height-with-icon - 35;
	border-right: 4px solid @sun-tabitem-border-color;
	border-bottom: 0px;
}
.sun-tabItem.icon {
	height: @sun-tabitem-height-with-icon;
}
.sun-tabItem.icon img {	
	position: relative;
	left: 50px;
	bottom: 131px;
}
.sun-tabItem.icon .moon-marquee-clip {
	position: relative;
	top: 70px;
}
.sun-tabItem.icon.moon-item.active {		
	height: @sun-tabitem-height-with-icon - 12px;	
}
