/* Tooltip.css */
.sun .moon-tooltip-label {
  background-color: @sun-tooltip-background-color;
  font-family: "Miso";
  font-weight: bold;
  font-size: 46pt;
  height: 67px;
  line-height: 1em;
  color: @sun-tooltip-label-color;
  padding: 0px 25px; 
  text-transform: none;
}
.sun .moon-tooltip.above .moon-tooltip-label {
	position: absolute;	
	bottom: 0px;	
}
.sun .moon-tooltip {
	min-width: 50px;
}
.sun .moon-tooltip.above.left-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_left_up.png"); 
  margin-bottom: 5px;
}
.sun .moon-tooltip.above.right-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_right_up.png");  
  margin-bottom: 5px;
}
.sun .moon-tooltip.below.left-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_left_down.png.");  
  margin-top: 5px;
}
.sun .moon-tooltip.below.right-arrow {
  background-image: url("../../images/1080x1920/tooltip-nubs/tooltip_right_down.png.");
  margin-top: 5px;
}
