/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

/*
	Used for text with bold header.
	This could be proposed for integration with moonstone CSS.
*/
.moon-super-header-bold-text {
  font-family: "Miso";
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.05em;
}