/* Dialog.css */
.moon-dialog {
	padding-bottom: 0; // Override popup, so our optional components won't be stuck with too much padding

	.moon-dialog-title-wrapper,
	.moon-dialog-content,
	.moon-dialog-client {
		margin-bottom: 39px;
	}

	.moon-dialog-title-wrapper {
		&.use-divider {
			padding-bottom: 24px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}
	}

	.moon-dialog-title {
		line-height: @moon-small-header-line-height;
	}

	// Client is the button area
	.moon-dialog-client {
		text-align: end;
	}
}
