.multi-select-and-filter-large-pattern {
	background: url(../assets/the-lorax-pic08.jpg) no-repeat; 
	background-size:cover;
}

.left-panel {
	width:15%;
	height:100%;
	display:inline-block;
}

.left-panel-content {
	float:right;
	padding:10px;
	padding-top:55px;
	color:white;
}

.left-panel-number {
	font-size:0.7em;
}

.left-panel-title {
	font-size:0.8em;
}

.right-panel {
	display:inline-block;
	vertical-align:top;
	padding-left:50px;
	padding-right:50px;
	width:85%;
	background:rgba(0,0,0,0.4);
	height:100%;
}

.moon-header {
	color: white;
	height: 400px;
	border-bottom: 6px solid white;
}

.moon-header-title-below {
	color:white;
}

.moon-list-actions-activator::after {
	color:white;
}

.moon-list-actions-menu {
	width: 475px;
}

.grid-list {
	margin-top:20px;
	max-height:370px;
}