.photo-album {
  margin: 20px 50px 20px 50px;
}

.photo-album .moon-imageitem img {
  width: 131px;
  height: 93px;
  margin: 0px 20px 0px 0px;
}

.photo-album .moon-labeledtextitem .label {
  border: none;
}