.moon-activitypatternpanel2-branding {
    display: table-cell;
	background: #666666;
    color: #ffffff;
    text-align: center;
    vertical-align:middle;
}

.moon-breadcrumb-title-above {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  padding: 0px 0px 5px 0px;
  margin: 0px;
  width: 30px;
  border-bottom: 1px solid #4b4b4b;
}

.moon-play-icon {
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-position: 0 -42px;
}

.moon-imageitem {
    display: block;
    clear: both;
    min-width: 536px;
    margin-top: 0px;
    padding-top: 0px;
    height: 102px;
}

.moon-imageitem img {
    width: 136px;
    height: 102px;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    display: inline-block;
    float: left;
}

.moon-labeledtextitem .label {
    font-family: "Miso";
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: #4b4b4b;
    border-top: 1px solid #A2A2A2;
    margin: 0px 0px 3px 0px;
    padding: 6px 0px 0px 0px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
}

.list-vertical-sample-item {
    margin: 0px 0px 10px 10px;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.list-vertical-sample-item-label {
    width: 100%;
    border-top:1px solid #cccccc;
    overflow: hidden;
    white-space: nowrap;
}

.moon-list-vertical-sample .spotlight .list-vertical-sample-item {
	border-left:16px solid orange;
}
