/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

.moon-movie-list-item {
    float: left;
    margin: 0 6px 6px 0;
    clear: none;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.moon-movie-list-item-text {
    position:absolute;
    width: 100%;
    bottom: 0;
    height: 24px;
    color: white;
    font-size: 20;
    padding: 0 3px;
    background-color: #4b4b4b;
}

.moon-movie-list-item-text.spotlight {
  color: black;
  background-color: #ffb80d;
}