/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

.moon-margin-top-bottom {
    margin-bottom: 20px;
}

.moon-margin-left-right {
    margin-right: 20px;
}

.moon-input-decorator-flex {
	height: 60px;
}
