## Help our users by allowing them to write sample names and forward them to our Sample.html file.
# Parts of this excerpted from _ michael @
# http://www.zeilenwechsel.de/it/articles/8/Using-mod_rewrite-in-.htaccess-files-without-knowing-the-RewriteBase.html
RewriteEngine on
RewriteBase /

# Store the current location in an environment variable CWD
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule ^.*$ - [E=CWD:%2]

# verify that we're only looking for files ending in htm(l) that don't exist
RewriteCond %{REQUEST_FILENAME} \.html?$
RewriteCond %{REQUEST_FILENAME} !-f

# Just by prefixing the environment variable, we can safely rewrite anything now
RewriteRule ([^/]+?)(\.html)?$ %{ENV:CWD}Sample.html?$1 [R,L]
