.sample-audio-playback {
  padding: 0px;
}
.sample-audio-item-label {
  overflow: hidden;
  white-space: nowrap;
  color: #4b4b4b;
  font-family: "Moonstone Miso";
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
  vertical-align: middle;
  display: table-cell;
}
.sample-audio-item-label-content {
  padding: 0px 0px 0px 5px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.sample-audio-item-label-content.spotlight {
  border-left: 16px solid orange;
}
.sample-audio-item-label-right {
  overflow: hidden;
  white-space: nowrap;
  color: #4b4b4b;
  font-family: "Moonstone Miso";
  font-size: 38px;
  text-transform: uppercase;
  width: 10%;
  height: 126px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.sample-audio-item-image {
  min-width: 126px;
  min-height: 126px;
  display: table-cell;
  background-repeat: no-repeat;
}
.sample-audio-play-icon.spotlight,
.sample-audio-item-image:hover .sample-audio-play-icon {
  background-color: #ffb80d;
}
.sample-audio-item-image:active .sample-audio-play-icon {
  background-color: #ffffff;
  border: 4px solid #ffb80d;
}
.sample-audio-play-icon {
  background-image: url("../assets/icon-play.png");
  margin: 14px 0px 0px 14px;
  border: 4px solid transparent;
  border-radius: 9999px;
  width: 90px;
  height: 90px;
  visibility: hidden;
  background-color: #ffffff;
}
.sample-audio-item .sample-audio-play-icon.spotlight,
.sample-audio-item:hover .sample-audio-play-icon {
  visibility: visible;
}
.sample-audio-play-icon.spotlight,
.sample-audio-item-image:hover .sample-audio-play-icon {
  background-color: #ffb80d;
}
.sample-audio-item-image:active .sample-audio-play-icon {
  background-color: #ffffff;
  border: 4px solid #ffb80d;
}