.moon-button-sample {
	background: #eaeaea;
	padding: 20px;
}
.moon-button-sample .moon-button-sample-wrapper .moon-button-caption-decorator,
.moon-button-sample .moon-button-sample-group button,
.moon-button-sample .moon-button-sample-wrapper > button {
	margin: 20px;
}