/* Calendar.css */
.moon-calendar {
	display: inline-block;
}

.moon-calendar-week {
	display: inline-block;
}

.moon-calendar-date {
	width: 80px;
	vertical-align: middle;
	margin: 1px;
	text-align: center;
}

.moon-calendar-date-shadow {
	background-color: #666666;
	color: #f1f1f1;
}