.moon-gridlist-imageitem.horizontal-gridList-image-item > img {
    height: 100%;
    width: auto;
    margin-right: 12px;
    float: left;
}

.moon-gridlist-imageitem.horizontal-gridList-image-item > .caption,
.moon-gridlist-imageitem.horizontal-gridList-image-item > .sub-caption {
	position: relative;
	top: 20px;
    width: auto;
    overflow: hidden;
}

.moon-gridlist-imageitem.horizontal-gridList-item {
    padding: 12px 0 0 99px;
}

