/*.drawer-components {
	background-color:white;
	text-align:center;
	padding-top:20px;
	padding-bottom:40px;
}

.drawer-content {
	padding-right:20px;
	display:inline-block;
}

.search-drawer-content {
	padding:100px;
}

.search-drawer {
	background-color:#EEEEEE;
}

.music-drawer {
	background-color:white;
}

.player-controls {	
	padding-top:10px;
}

.show-playlist-button {
	border:1px solid black;
	margin:5px 20px 0 0;
	height:75px;
}

.back-button {
	width:50px;
	height:60px;
}

.pause-button {
	width:50px;
	height:60px;
	padding-left:40px;	
}

.forward-button {
	width:50px;
	height:60px;
	padding-left:40px;
}

.player-controls-open-button {
	border:1px solid black;
	vertical-align:bottom;
}

.music-tracks {
	padding-top:20px;
}

.music-tracks .item {
    margin: 0px 0px 10px 0px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.music-tracks .play-icon {
    background-image: url("assets/icon-play.png");
    margin: 14px 0px 0px 14px;
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 90px;
    height: 90px;
    visibility: hidden;
    background-color: #ffffff;
}

.music-tracks .spotlight .item .play-icon {
    visibility: visible;
}

.music-tracks .item .preview {
    width: 126px;
    height: 126px;
    display: table-cell;
    background-repeat: no-repeat;
}

.music-tracks .item .preview:hover .play-icon {
    background-color: #ffb80d;
}

.music-tracks .item .preview:active .play-icon {
    background-color: #ffb80d;
    border: 4px solid #ffb80d;
}

.music-tracks .item .label {
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    font-family: "Miso";
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    width: 30%;
    vertical-align: middle;
    display: table-cell;
}

.music-tracks .item .content {
    padding: 0px 0px 0px 5px;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.music-tracks .item .label:hover .content {
    border-left:16px solid orange;
}

.music-tracks .item .time {
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    font-family: "Miso";
    font-size: 38px;
    text-transform: uppercase;
    width: 10%;
    height: 126px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.basic-panel {
	margin-top:20px;
}*/