.moon-icon-button-sample {
	background: #eaeaea;
}
.moon-icon-button-sample .moon-icon-button-sample-wrapper {
	display: inline-block;
	margin: 20px;
}
.moon-icon-button-sample .moon-icon-button-sample-group > .moon-icon-button {
	margin: 0px 15px;
}
.moon-icon-button-sample .moon-icon-button-sample-console {
	font-family: PreludeWGL Light;
	font-size: 22px;
	margin: 20px;
}
