.image-badge-sample .image-badge-sample-divider {
	margin-top: 20px;
}

.image-badge-sample .moon-image {
	margin: 0px 10px;
}

.image-badge-sample .float-right {
	float: right;
}

.image-badge-sample .moon-item {
	display: inline-block;
	padding: 10px 0px 2px 0px;
}