.image-badge-sample .image-badge-sample-divider {
	margin-top: 20px;
}

.image-badge-sample .moon-image {
	margin: 0px 10px;
}

.image-badge-sample .float-right {
	float: right;
}

.image-badge-sample .moon-item {
	display: inline-block;
}

.moon-item.spotlight .show-on-spotlight {
	margin: 0px;
}

.moon-item.spotlight {
	margin-bottom: 0px;
	padding-bottom: 3px;
}