/* Remove default uppercase text-transform for this sample */
.moon-input {
	text-transform: none;
}

.moon-input-sample .moon-input-decorator {
	margin: 20px;
}

.moon-input-sample-result {
	padding-top:20px;
}

.moon-input-sample-console {
	font-family: MuseoSans Light;
	font-size: 22px;
	text-transform: none;
}