/* Remove default uppercase text-transform for this sample */
.moon-input-sample .moon-input-decorator, .moon-input-sample .moon-textarea-decorator{
	margin: 20px;
}

.moon-input-sample-result {
	padding-top:20px;
}
