.list-sample-index {
	float: right;
	font-size: 16px;
	font-weight: normal;
}

.list-sample-selected {
	background-color: #c4e3fe;
}

.list-vertical-sample-item {
	border: 1px solid silver;
	padding: 18px;
	font-size: 18px;
}

.list-vertical-controls-sample-list {
	background-color: white;
}

.moon-list-vertical-sample .spotlight .list-vertical-sample-item {
	background: #cf0652;
}

