.list-sample-index {
	float: right;
	font-size: 16px;
	font-weight: normal;
}

.list-sample-selected {
	background-color: #c4e3fe;
}

.moon-list-horizontal-sample {
	height:350px;
}

.list-horizontal-controls-sample-list {
	margin: auto;
	background-color: white;
}

.list-horizontal-sample-item {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 18px;
	font-size: 18px;
	width:250px;
	height:300px;
}

.moon-list-horizontal-sample .spotlight .list-horizontal-sample-item {
	background: #cf0652;
}