.list-sample {
	background-color: gray;
}

.list-sample-index {
	float: right;
	font-size: 16px;
	font-weight: normal;
}

.list-sample-selected {
	background-color: #c4e3fe;
}

.list-vertical-sample-item {
	border: 1px solid silver;
	padding: 18px;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.list-vertical-controls-sample-list {
	background-color: #eee;
}

.moon-list-vertical-sample .spotlight .list-vertical-sample-item {
	border-left:16px solid orange;
}

