.moon-panels-sample {
	width: 100%;
	position: absolute;
	right: 0px;
}
.moon-panels-sample-panel {
	min-width: 15%;
	max-width: 100%;
	width: 50%;
}



.moon-breadcrumb-decorator {
}
.moon-breadcrumb-decorator.leanForward {

}


.moon-breadcrumb-decorator.leanForward .moon-breadcrumb-wrapper {
	width: 10%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
}
.moon-breadcrumb-decorator.leanForward .moon-breadcrumb {
	display: block;
	border: 1px solid black;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
}

.moon-breadcrumb-decorator.leanForward .moon-breadcrumb-decorator-client {
	width: 100%;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.boom { color: white; }

.breadcrumb-sample-breadcrumb {
	display: block;
	border: 1px solid black;
	line-height: 80px;
	font-size: 24px;
	text-align: center;
}