.moonraker-panels-sample-panels {
	width:500px;
	height:400px;
	border:1px solid red;
	margin-left:30px;
}

.moonraker-panels-sample.spotlight {
	border:1px solid red;
}

.moonraker-panels-sample-panels > * {
	width:300px;
}

.moonraker-panels-sample button.spotlight {
	background: orange;
}
