.moonraker-panels-sample-panels {
	height:400px;
	border:1px solid gray;
	margin:20px;
}

.moonraker-panels-sample.spotlight {
	border:1px solid red;
}

.moonraker-panels-sample-panels > * {
	width:100%;
}

.moonraker-panels-sample button.spotlight {
	background: orange;
}

.moon-panels-sample-output {
	margin:0px 20px 20px;
	font-family: PreludeWGL Medium;
	font-size: 20px;
	color: #000;
}