
.moonraker-panels-sample {
	width:500px;
	height:400px;
	border:1px solid red;
}

.spotlight {
	background-color:transparent;
	box-shadow:none;
	-webkit-animation:none;
	border:none;
}

.moonraker-panels-sample.spotlight {
	border:1px solid red;
}

.moonraker-panels-sample > * {
	width:300px;
}
