
.moon-scroller-sample-wrapper {
	margin:10px;
	height:400px;
}

.moon-scroller-sample-scroller {
	width:500px;
	height:400px;
	display:block;
	border:1px solid blue;
	float:left;
	margin:0px 40px 0px 0px;
}
.moon-scroller-sample-scroller.spotlight {
	border:1px solid orange;
}

.moon-scroller-sample .moon-button {
	margin:10px;
	width:300px;
	border:1px solid red;
	background:#eee;
}

.moon-scroller-sample .moon-button.spotlight {
	border-color:orange;
	border-left:16px solid orange;
	background:#ffbb33;
}

.moon-scroller-sample-2d-scroller .moon-button {
	position:absolute;
	display:block;
	width:300px; height:100px;
	margin:0px;
}