.moon-scroller-sample-2d-scroller {
	border:1px solid gray;
}
.moon-scroller-sample-2d-scroller.spotlight {
	border:2px solid orange;
}

.moon-scroller-sample-2d-scroller .moon-button {
	position:absolute;
	margin:10px;
}
