
.moon-scroller-sample-horizontal {
	margin:0px;
	display:block;
	border:1px solid gray;
	white-space:nowrap;
	background-color: #ccc;
}

.moon-scroller-sample-divider {
	margin-bottom: 10px;
}

.moon-scroller-sample-horizontal .moon-scroller-sample-item {
	width:120px;
	height:120px;
	display:inline-block;
	white-space:normal;
	/* border-right:1px solid gray; */
	font-size:0px;
	margin: 0px 1px 0px 0px;
	padding: 0px;
}

.moon-scroller-sample-item.enyo {
	background: white url(../images/enyo-icon.png) no-repeat center center;
}

.moon-scroller-sample-item.html5 {
	background: white url(../images/html5-icon.png) no-repeat center center;
}

.moon-scroller-sample-item.css3 {
	background: white url(../images/css3-icon.png) no-repeat center center;
}

.moon-scroller-sample-horizontal .moon-scroller-sample.spotlight {
	border: 1px solid orange;
}

.moon-scroller-sample-horizontal .moon-button {
	margin: 0px;
	width: 300px;
	border: 1px solid red;
}
.moon-scroller-sample-horizontal .moon-button.spotlight {
	background: orange;
}
