
.moon-scroller-vertical-sample-scroller {
	display:block;
	border:1px solid gray;
	margin:20px;
	height:500px;
}
.moon-scroller-vertical-sample-scroller.spotlight {
	border:2px solid orange;
}

.moon-scroller-vertical-sample .moon-button {
	margin:10px;
	width:300px;
	border:1px solid red;
	background:#eee;
}

.moon-scroller-vertical-sample .moon-button.spotlight {
	border-color:orange;
	border-left:16px solid orange;
	background:#ffbb33;
}
