
.moon-scroller-sample {
	width:500px;
	height:400px;
	display:block;
	border:1px solid blue;
}
.moon-scroller-sample.spotlight {
	border:1px solid orange;
}

.moon-button {
	margin:0px;
	width:300px;
	border:1px solid red;
}
.moon-button.spotlight {
	background:orange;
}
