.moon-scroller-sample-2d-scroller {
	display: block;
	border: 1px solid gray;
}

.moon-scroller-sample-2d-scroller .moon-button {
	position: absolute;
	display: block;
	margin: 10px;
	border: 1px solid red;
	background: #eee;
}

.moon-scroller-sample-2d-scroller .moon-button.spotlight {
	border-color: orange;
	background: #ffbb33;
}
