.stick-to-bottom {
	position: absolute;
	bottom: 20px;
	width: 100%;
}
.extra-wide {
	max-width: none;
}
.moon-divider {
	margin-top: 2em;
}

.column {
	display: inline-block;
	vertical-align: top;
}
.column.two-column {
	width: 50%;
}

.column.two-thin-column {
	width: 30%;
	margin-top: 100px;
}
.column.two-thin-column.col1 {
	margin-left: 20%;
}

.right-column.col1 {
	width: 75%;
}
.right-column.col2 {
	width: 25%;
}

/* Gif-based Spinner */
.moon-spinner-gif {
  border-radius: 73px;
  height: 73px;
  min-width: 73px;
  display: inline-block;
  background: #4d4d4d url(../images/spinner.gif) no-repeat 7px 7px;
  color: #ffffff;
  line-height: 73px;
  margin: 0 10px;
}
.moon-spinner-gif.content {
  padding-left: 85px;
  padding-right: 40px;
  height: 85px;
  line-height: 85px;
  background-position: 13px 13px;
}
.enyo-locale-right-to-left .moon-spinner-gif.content {
  background-position: top 13px right 13px;
  padding-right: 85px;
  padding-left: 40px;
}
