.stick-to-bottom {
	position: absolute;
	bottom: 20px;
	width: 100%;
}
.extra-wide {
	max-width: none;
}
.moon-divider {
	margin-top: 2em;
}

.column {
	display: inline-block;
	vertical-align: top;
}
.column.two-column {
	width: 50%;
}

.column.two-thin-column {
	width: 30%;
	margin-top: 100px;
}
.column.two-thin-column.col1 {
	margin-left: 20%;
}

.right-column.col1 {
	width: 75%;
}
.right-column.col2 {
	width: 25%;
}

.moon-spinner.propeller .moon-spinner-ball {
	-webkit-animation-name: propellerBall;
}
.moon-spinner.custom-balls .moon-spinner-ball:after {
	content: "";
}
.moon-spinner.custom-balls .moon-spinner-ball {
	border-radius: 50%;
}

.moon-spinner.rice .moon-spinner-ball {
	height: 13%;
	width: 40%;
	left: 32.5%;
	bottom: 14%;
	-webkit-transform-origin: center -173%;
	background-image: -webkit-linear-gradient(top, lightgray, white 25%, gray);
}
.moon-spinner.planets {
	background-color: transparent;
	border: 3px dotted #4d4d4d;
}
.moon-spinner.planets .moon-spinner-ball {
	height: 25%;
	width: 24%;
	left: 39%;
	bottom: -12%;
	-webkit-transform-origin: center -154%;
}

.moon-spinner.sticks .moon-spinner-ball {
	height: 50%;
	width: 5%;
	left: 47.5%;
	bottom: 25%;
	-webkit-transform-origin: center 50%;
}
.moon-spinner.vectors .moon-spinner-ball {
	height: 50%;
	width: 5%;
	left: 47.5%;
	bottom: 25%;
	-webkit-transform-origin: center 50%;
	background-image: -webkit-linear-gradient(top, white, black);
}
.moon-spinner.rotary .moon-spinner-ball {
	height: 40%;
	width: 80%;
	left: 10%;
	bottom: 10%;
	-webkit-transform-origin: center 0%;
}

.moon-spinner.rotary2 .moon-spinner-ball-decorator {
	-webkit-animation: propellerBall 2.83s linear reverse infinite;
}
.moon-spinner.rotary2 .moon-spinner-ball {
	height: 40%;
	width: 70%;
	left: 10%;
	bottom: 10%;
	-webkit-transform-origin: center 20%;
}

.moon-spinner.custom-balls .moon-spinner-ball1 { background-color: #69cdff; }
.moon-spinner.custom-balls .moon-spinner-ball2 { background-color: #ff4a4a; }
.moon-spinner.custom-balls .moon-spinner-ball3 { background-color: #ffb80d; }

.moon-spinner.custom-colors1 { background-color: #5C2849; }
.moon-spinner.custom-colors1 .moon-spinner-ball1 { color: #EC7263; }
.moon-spinner.custom-colors1 .moon-spinner-ball2 { color: #FE9551; }
.moon-spinner.custom-colors1 .moon-spinner-ball3 { color: #FFD285; }

.moon-spinner.custom-colors2 { background-color: #fff; }
.moon-spinner.custom-colors2 .moon-spinner-ball1,
.moon-spinner.custom-colors2 .moon-spinner-ball2,
.moon-spinner.custom-colors2 .moon-spinner-ball3 { color: #000; }

.moon-spinner.custom-colors.custom-balls .moon-spinner-ball1 { background-color: blue; }
.moon-spinner.custom-colors.custom-balls .moon-spinner-ball2 { background-color: cyan; }
.moon-spinner.custom-colors.custom-balls .moon-spinner-ball3 { background-color: slategray; }

.moon-spinner.rotary2 .moon-spinner-ball1,
.moon-spinner.rotary2 .moon-spinner-ball2,
.moon-spinner.rotary2 .moon-spinner-ball3 { background-color: #000; }


.moon-spinner.rotary .moon-spinner-ball1,
.moon-spinner.rotary .moon-spinner-ball2,
.moon-spinner.rotary .moon-spinner-ball3 { background-color: rgba(0,0,0, 0.5); }

.moon-spinner.huge {
	height: 300px;
	width: 300px;
	font-size: 130px;
	border-radius: 300px;
}
.moon-spinner.huge .moon-spinner-ball-decorator {
	height: 300px;
	width: 300px;
}

/* Gif-based Spinner */
.moon-spinner-gif {
  border-radius: 73px;
  height: 73px;
  min-width: 73px;
  display: inline-block;
  background: #4d4d4d url(../images/spinner.gif) no-repeat 7px 7px;
  color: #ffffff;
  line-height: 73px;
  margin: 0 10px;
}
.moon-spinner-gif.content {
  padding-left: 85px;
  padding-right: 40px;
  height: 85px;
  line-height: 85px;
  background-position: 13px 13px;
}
.enyo-locale-right-to-left .moon-spinner-gif.content {
  background-position: top 13px right 13px;
  padding-right: 85px;
  padding-left: 40px;
}
