.barracuda {
	width:50px;
	height:50px;
	border:1px solid green;
	background:#aaa;
	position:absolute;
	top:10px; left:20px;
	-webkit-transition:none;
}

.barracuda .barracuda-corner {
	position:absolute;
	bottom:0px; right:0px;
	width:20px; height:20px;
}