.moon .moon-toggle-button-sample-wrapper .moon-toggle-button-caption-decorator,
.moon .moon-toggle-button-sample-group > *,
.moon .moon-toggle-button-sample-wrapper > * {
	margin: 20px;
}

.fixed-button.moon-toggle-button {
	padding-left: 5px;
	padding-right: 5px;
}