.moon-button-sample-wrapper .moon-button-caption-decorator,
.moon-button-sample-group button,
.moon-button-sample-wrapper > button {
	margin: 20px;
}

.moon-button-sample .moon-item.tap-area-toggle-container {
	width: 300px;
	margin: 20px 0px 0px 20px;
}

.moon-button-sample .visible-tap-area .button-tap-area {
	background: rgba(0, 100, 200, 0.2);
	border: 1px solid rgba(0, 100, 200, 0.4);
}
