.moon-sample-search-RecentSearchFullSample {
    background-color: #EAEAEA;
    height: 100%;
}
.moon-header {
	height: 96px;
    margin-bottom: 49px;
}
.moon-header .moon-header-title-above {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 0.7em;
    padding: 0px;
    margin: 54px 0px 7px 1px;
    width: 30px;
    border-bottom: 0px solid #4b4b4b;
}
.moon-header .moon-header-title {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
.moon-header .moon-header-title-below {
    font-size: 0px;
    font-weight: normal;	
    line-height: 0px;
    min-height: 0px;
    padding: 0px 0px 0px 0px;
    margin: 18px;
}
.moon-header-search {
    position: absolute;
    top: -145px;
}
.moon-header-search-left {
    width: 210px;
}
.moon-header-search-right {
    width: 219px;
}
.moon-header-delete-button {
    margin: 0px 0px 10px 15px;
}
.moon-panel-body {
    overflow: visible;
    position: relative;
}
.moon-sample-search-devider{
    margin-bottom: 0px;
    border: 0px;
}
/* result items */
.body-container {
    float: left;
    height: 504px;
    margin: 2px 0px 0px;
    clear: none;
    width: 1028px;
    min-width: 1028px;
    min-height: 504px;
    position: relative;
    top: 0px;
    left: 0px;

    font-size: 20px;
}
.category {
    float: left;
    height: 134px;
    width: 492px;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}
.category:nth-child(1), .category:nth-child(3), .category:nth-child(5)  {
    margin: 1px 44px 51px 1px;
    clear: both;
}
.category:nth-child(2), .category:nth-child(4), .category:nth-child(6) {
    margin: 0px 0px 44px -1px;
    clear: none;
}
.category-name {
    float: left;
    height: 20px;
    margin: 0px 0px 8px;
    clear: none;
    width: 100%;
    min-width: 0px;
    display: block;
    font-size: 20px;
}
.item {
    float: left;
    height: 106px;
    margin: 0px 3px 0px 0px;
    clear: none;
    width: 162px;
    min-width: 0px;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;

    background-repeat: no-repeat;
    background-size: cover;
}
.item:first-child {
    clear: both;
}
.item:last-child {
    margin: 0px;
}
.item-text {
    position:absolute; left: 0px; right: 0px; bottom: 0px; height: 24px; padding-left: 5px; background-color: #CCCCCC;
}
.spotlight .item-text {
    background-color: #ffb80d;   
}
