.background-full-image {
    background: url(assets/the-lorax-pic08.jpg) no-repeat; 
    background-size: cover;
}
.left-panel {
    width: 15%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #EEEEEE;
}
.left-panel-content {
    float: right;
    padding: 10px;
    padding-top: 55px;
    font-weight: bold;
    color: #4b4b4b;
}
.left-panel-number {
    font-size: 0.7em;
}
.left-panel-title {
    font-size: 0.4em;
}
.right-panel {
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;
    padding-right: 50px;
    width: 85%;
    /*background:rgba(0,0,0,0.4);*/
    background-color: #EEEEEE;
    height: 100%;
}
.moon-header {
	height: 96px;
    margin-bottom: 49px;
}
.moon-header .moon-header-title-above {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 0.7em;
    padding: 0px;
    margin: 54px 0px 7px 1px;
    width: 30px;
    border-bottom: 0px solid #4b4b4b;
}
.moon-header .moon-header-title {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
.moon-header .moon-header-title-below {
    font-size: 0px;
    font-weight: normal;	
    line-height: 0px;
    min-height: 0px;
    padding: 0px 0px 0px 0px;
    margin: 18px;
}
.moon-header-search {
    position: absolute;
    top: -145px;
}
.moon-header-search-left {
    width: 210px;
}
.moon-header-search-right {
    width: 219px;
}
.moon-header-delete-button {
    margin: 0px 0px 10px 15px;
}
.moon-panel-body {
    overflow: visible;
    position: relative;
}
.moon-sample-search-devider{
    margin-bottom: 0px;
    border: 0px;
}
/* result items */
.body-container {
    float: left;
    height: 504px;
    margin: 2px 0px 0px;
    clear: none;
    width: 1028px;
    min-width: 1028px;
    min-height: 504px;
    position: relative;
    top: 0px;
    left: 0px;

    font-size: 20px;
}
.category {
    float: left;
    height: 134px;
    width: 492px;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
}
.category:nth-child(1), .category:nth-child(3), .category:nth-child(5)  {
    margin: 1px 44px 51px 1px;
    clear: both;
}
.category:nth-child(2), .category:nth-child(4), .category:nth-child(6) {
    margin: 0px 0px 44px -1px;
    clear: none;
}
.category-name {
    float: left;
    height: 20px;
    margin: 0px 0px 8px;
    clear: none;
    width: 100%;
    min-width: 0px;
    display: block;
    font-size: 20px;
}
.item {
    float: left;
    height: 106px;
    margin: 0px 3px 0px 0px;
    clear: none;
    width: 162px;
    min-width: 0px;
    min-height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;

    background-repeat: no-repeat;
    background-size: cover;
}
.item:first-child {
    clear: both;
}
.item:last-child {
    margin: 0px;
}
.item-text {
    position:absolute; left: 0px; right: 0px; bottom: 0px; height: 24px; padding-left: 5px; background-color: #CCCCCC;
}
.item-text.spotlight {
    background-color: #ffb80d;   
}
/* close button for a drawer */
.moon-header-close-container {
    position: absolute;
    top: 0px;
    height: 42px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.moon-header-close-box {
    height: auto;
    margin-left: auto;
    margin-top: 17px;
    clear: none;
    width: 100px;
    padding: 5px 0px 0px;
    border-top-width: 3px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    margin-right: auto;
    position: relative;
    top: 0px;
    left: 0px;
}
.moon-header-close-box.spotlight {
    border-top-color: #ffb80d;
}
.moon-header-close-content {
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0em;
    padding: 0px;
    max-width: 100%;
}
p.moon-header-close-content {
    font-size: 16px;
    color: #CCCCCC;
    width: 100%;
    height: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 16px;
    word-wrap: break-word;
}
.spotlight p.moon-header-close-content {
    color: #ffb80d;
}
img.moon-header-close-content {
    float: left;
    height: auto;
    margin: 0 0 0 40%;
    max-width: 100%;
    width: auto;
}