.gray-background {
    background: #eaeaea;
}

.moon-music-trackonecolumn {
    margin: 0px 20px 0px 20px;
}

.moon-music-header-button {
    margin: 0px 0px 5px 0px;
}

.moon-music-header-button-right {
    margin: 0px 0px 5px 20px;
}

.moon-music-container {
    margin: 10px 0px 0px 0px;
}

.moon-music-item {
    margin: 0px 0px 10px 0px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.moon-music-item:hover .moon-play-icon {
    visibility: visible;
}

.moon-music-item-image {
    width: 126px;
    height: 126px;
    display: table-cell;
    background-repeat: no-repeat;
}

.moon-music-item-image:hover .moon-play-icon {
    background-color: #ffb80d;
}

.moon-music-item-image:active .moon-play-icon {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}

.moon-music-item-label {
    overflow: hidden;
    white-space: nowrap;
    color: #4b4b4b;
    font-family: "Miso";
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    width: 30%;
    vertical-align: middle;
    display: table-cell;
}

.moon-music-item-label-content {
    padding: 0px 0px 0px 5px;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.moon-music-item-label:hover .moon-music-item-label-content {
    border-left:16px solid orange;
}

.moon-music-item-label-right {
    overflow: hidden;
    white-space: nowrap;
    color: #4b4b4b;
    font-family: "Miso";
    font-size: 40px;
    text-transform: uppercase;
    width: 10%;
    height: 126px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.moon-play-icon {
    background-image: url("assets/icon-music-play.png");
    margin: 14px 0px 0px 14px;
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 90px;
    height: 90px;
    visibility: hidden;
    background-color: #ffffff;
}
