/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

.moon-music-mainmenu-branding {
    text-align: center;
}

.livetv-background {
    background-image: url("assets/livetv-background.png");
    background-size: 100% 100%;
}