.gray-background {
    background: #eaeaea;
}

.moon-header-button-right {
    margin: 0px 0px 0px 20px;
}

.moon-music-album-detail-container {

    height: 100%;
}

.moon-music-album-detail-wide-left {

    width: 300px;
}

.moon-music-album-detail-wide-right {
    
    height: 100%;
}

.moon-music-detail-divider {
    margin: 0px 0px 0px 0px;
    font-size: 28px;
}

.moon-album-cover-art {
    height: 300px;
    width: 300px;
    margin: 0px 0px 30px 0px;
}

.moon-play-icon {
    position: absolute;
    border-radius: 80px;
    width: 90px;
    height: 90px;    
    top: 50%;
    left: 50%;
    margin-top: -116px;
    margin-left: -45px;
/*    background-position: 0 -42px;*/
}


.moon-album-label {
    color: #4b4b4b;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.moon-album-label-value {
    color: #4b4b4b;
    font-size: 36px;
    float: right;
    text-transform: uppercase;
    overflow: hidden;
}

.moon-music-detail-wide-tracklist {
    color: #4b4b4b;
    font-size: 36px;
    text-transform: uppercase;
    background-color: #eee;    
}

.moon-music-detail-wide-tracklist-item {
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}

.moon-music-detail-wide-tracklist .spotlight .moon-music-detail-wide-tracklist-item {
    border-left:16px solid orange;
}

.moon-music-detail-list-selected {
    background-color: #c4e3fe;
}

.moon-music-detail-wide-tracklist-tracknum {
    width: 20%; 
    overflow: hidden;
}

.moon-music-detail-wide-tracklist-trackname {
    width: 35%;
    overflow: hidden;
}

.moon-music-detail-wide-tracklist-artistname {
    width: 35%;
    overflow: hidden;
}

.moon-music-detail-wide-tracklist-runningtime {
    width: 10%;
    overflow: hidden;
}
