.livetv-background {
    background-image: url("assets/livetv-background.png");
    background-size: 100% 100%;
}

.moon-music-track-detail {
    margin: 0px 20px 0px 20px;
}

.moon-header {
    color: #ffffff;
    height: 400px;
    border-bottom: 6px solid #ffffff;
    overflow: hidden;
    min-width: 532px;
    position: relative;
}

.moon-header-title-above {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    padding: 58px 0px 5px 0px;
    margin: 0px;
    width: 30px;
    border-bottom: 1px solid #ffffff;
}

.moon-music-track-detail .header{
    margin: 0px 0px 5px 0px;
}

.moon-music-track-detail .right-button {
    margin: 0px 0px 0px 20px;
}

.moon-music-track-detail .client {
    margin: 28px 0px 0px 0px;
}

.moon-music-track-detail .detail {
    width: 50%;
    margin: 0px 20px 0px 0px;
    min-width: 324px;
    max-width: 388px;
}

.moon-music-track-detail .preview {
    display: table-cell;
    background-image: url(assets/default-music-big.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.moon-music-track-detail .play-icon {
    background-image: url("assets/icon-play-big.png");
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    visibility: hidden;
}

.moon-music-track-detail .play-icon:hover {
    background-color: #ffb80d;
}

.moon-music-track-detail .play-icon:active {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}

.moon-music-track-detail .preview:hover .play-icon {
    visibility: visible;
}

.moon-music-track-detail .track-devider {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-track-detail .info {
    margin: 20px 0px 0px 0px;
}

.moon-music-track-detail .title {
    width: 40%;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.moon-music-track-detail .content {
    width: 60%;
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
}

.moon-music-track-detail .more-divider {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-track-detail .item {
    color: #ffffff;
}

.moon-selectableItem .moon-underline.moon-overlay {
  cursor: pointer;
  border-bottom:4px solid #ffffff;
  padding: 0px;
  transition: border-color 0.4s linear;
  -webkit-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
}
