/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

.moon-music-item-label {
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

.moon-music-item-label-small {
    font-size: 32px;
    font-weight: normal;
}
