.livetv-background {
    background-image: url("assets/livetv-background.png");
    background-size: 100% 100%;
}

.moon-music-detail {
    margin: 0px 20px 0px 20px;
}

.moon-music-detail-header {
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
}

.moon-header-title-above {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    padding: 58px 0px 5px 0px;
    margin: 0px;
    width: 30px;
    border-bottom: 1px solid #ffffff;
}

.moon-music-detail-header-button {
    margin: 0px 0px 5px 0px;
}

.moon-music-detail-header-button-right {
    margin: 0px 0px 0px 20px;
}

.moon-music-detail-container {
    margin: 28px 0px 0px 0px;
}

.moon-music-detail-detail {
    width: 30%;
    margin: 0px 20px 0px 0px;
}

.moon-music-detail-preview {
    display: table-cell;
    background-image: url(assets/default-music-big.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.moon-music-detail-preview:hover .moon-play-icon {
    visibility: visible;
}

.moon-music-detail-info {
    margin: 20px 0px 0px 0px;
}

.moon-music-detail-title {
    width: 40%;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.moon-music-detail-content {
    width: 60%;
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
}

.moon-music-detail-track {
    width: 40%;
    margin: 0px 20px 0px 0px;
}

.moon-music-detail-track-devider {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-detail-more {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-item {
    color: #ffffff;
}

.moon-selectableItem .moon-underline.moon-overlay {
  cursor: pointer;
  border-bottom:4px solid #ffffff;
  padding: 0px;
  transition: border-color 0.4s linear;
  -webkit-transition: border-color 0.4s linear;
  -moz-transition: border-color 0.4s linear;
  -o-transition: border-color 0.4s linear;
}

.moon-play-icon {
    background-image: url("assets/icon-play-big.png");
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    visibility: hidden;
}

.moon-play-icon:hover {
    background-color: #ffb80d;
}

.moon-play-icon:active {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}
