.gray-background {
    background: #eaeaea;
}

.moon-music-track-detail {
    margin: 0px 20px 0px 20px;
}

.moon-music-track-detail .header {
    margin: 0px 0px 5px 0px;
}

.moon-music-track-detail .right-button {
    margin: 0px 0px 0px 20px;
}

.moon-music-track-detail .client {
    margin: 28px 0px 0px 0px;
}

.moon-music-track-detail .detail {
    width: 28%;
    margin: 0px 20px 0px 0px;
    min-width: 324px;
    max-width: 388px;
}

.moon-music-track-detail .preview {
    display: table-cell;
    background-image: url(assets/default-music-big.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.moon-music-track-detail .play-icon {
    background-image: url("assets/icon-play-big.png");
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    visibility: hidden;
}

.moon-music-track-detail .play-icon:hover {
    background-color: #ffb80d;
}

.moon-music-track-detail .play-icon:active {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}

.moon-music-track-detail .preview:hover .play-icon {
    visibility: visible;
}

.moon-music-track-detail .info {
    margin: 20px 0px 0px 0px;
}

.moon-music-track-detail .title {
    width: 50%;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: bold;
}

.moon-music-track-detail .content {
    width: 50%;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: normal;
    text-transform: none;
}

.moon-music-track-detail .lyrics {
    width: 47%;
    margin: 0px 20px 0px 0px;
}

.moon-music-track-detail .lyrics-devider {
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-track-detail .lyrics .content {
    width: 100%;
    text-transform: none;
    font-size: 28px;
    color: #4b4b4b;
}

.moon-music-track-detail .more-divider {
    margin: 0px 0px 5px 0px;
    font-size: 28px;
}
