.gray-background {
    background: #eaeaea;
}

.moon-music-artist-detail {
    margin: 0px 20px 0px 20px;
}

.moon-music-artist-detail .header {
    margin: 0px 0px 5px 0px;
}

.moon-music-artist-detail .right-button {
    margin: 0px 0px 0px 20px;
}

.moon-music-artist-detail .client {
    width: 100%;
    margin: 28px 20px 0px 0px;
}

.moon-music-artist-detail .preview {
    background-image: url(assets/default-music-big.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px 20px 0px 0px;
}

.moon-music-artist-detail .play-icon {
    background-image: url("assets/icon-play-big.png");
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-color: #ffffff;
    visibility: hidden;
}

.moon-music-artist-detail .play-icon:hover {
    background-color: #ffb80d;
}

.moon-music-artist-detail .play-icon:active {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}

.moon-music-artist-detail .preview:hover .play-icon {
    visibility: visible;
}

.moon-music-artist-detail .heading {
    overflow: hidden;
    white-space: nowrap;
    color: #4b4b4b;
    font-family: "Miso";
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
}

.moon-music-artist-detail .title {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    color: #4b4b4b;
    font-family: "Miso";
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
}

.moon-music-artist-detail .content {
    overflow: hidden;
    white-space: nowrap;
    color: #4b4b4b;
    font-family: "Miso";
    font-size: 38px;
    font-weight: normal;
    text-transform: none;
}

.moon-music-artist-detail .devider {
    margin: 40px 0px 5px 0px;
    font-size: 28px;
}

.moon-music-artist-detail .item {
    margin: 0px 0px 10px 0px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.moon-music-artist-detail .item .preview {
    width: 126px;
    height: 126px;
    display: table-cell;
    background-repeat: no-repeat;
}

.moon-music-artist-detail .item .play-icon {
    background-image: url("assets/icon-play.png");
    margin: 14px 0px 0px 14px;
    border: 4px solid transparent;
    border-radius: 9999px;
    width: 90px;
    height: 90px;
    visibility: hidden;
    background-color: #ffffff;
}

.moon-music-artist-detail .item .preview:hover .play-icon {
    background-color: #ffb80d;
}

.moon-music-artist-detail .item .preview:active .play-icon {
    background-color: #ffffff;
    border: 4px solid #ffb80d;
}

.moon-music-artist-detail .item:hover .play-icon {
    visibility: visible;
}

.moon-music-artist-detail .small-content {
    font-size: 32px;
    font-weight: normal;
}
