.gray-background {
    background: #eaeaea;
}

.moon-header-button-right {
    margin: 0px 0px 0px 20px;
}

.moon-music-album-detail-container {
    margin: 20px 0px 5px 0px;   
}

.moon-music-album-detail-wide-left {
    margin: 10px;
}

.moon-music-album-detail-wide-right {
    margin: 10px;
    width: 100%;
}

.moon-music-detail-divider {
    margin: 0px 0px 0px 0px;
    font-size: 28px;
}

.moon-album-cover-art {
    height: 300px;
    width: 300px;
    margin: 0px 0px 30px 0px;
}

.moon-play-icon {
    position: absolute;
    border-radius: 80px;
    width: 90px;
    height: 90px;    
    top: 50%;
    left: 50%;
    margin-top: -116px;
    margin-left: -45px;
/*    background-position: 0 -42px;*/
}


.moon-album-label {
    color: #4b4b4b;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.moon-album-label-value {
    color: #4b4b4b;
    font-size: 36px;
    float: right;
    text-transform: uppercase;
}

.moon-music-detail-wide-tracklist {
    color: #4b4b4b;
    font-size: 36px;
    text-transform: uppercase;
}

.moon-music-detail-wide-tracklist-tracknum {
    width: 10%;
}

.moon-music-detail-wide-tracklist-trackname {
    width: 30%;
}

.moon-music-detail-wide-tracklist-artistname {
    width: 30%;
}

.moon-music-detail-wide-tracklist-runningtime {
    width: 30%;
}
