.livetv-background {
    background-image: url("assets/livetv-background.png");
    background-size: 100% 100%;
}

.moon-music-mainmenu {
    margin: 0px 20px 20px 20px;
}

.moon-music-mainmenu .moon-header {
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
}

.moon-header-title-above {
    font-size: 36px;
    font-weight: bold;
    font-color: #ffffff;
    line-height: 36px;
    padding: 58px 0px 5px 0px;
    margin: 0px;
    width: 30px;
    border-bottom: 1px solid #ffffff;
}

.moon-music-mainmenu-menu {
    color: #ffffff;
    width: 15%;
    padding: 20px 0px 0px 0px;
}

.moon-music-mainmenu-item {
    color: #ffffff;
}

.moon-music-mainmenu-content {
    padding: 10px 0px 0px 0px;
    background: #666666;
    color: #ffffff;
    text-align: center;
    vertical-align:middle;
}