.photo-overlap-album {

}

.sample-album-list-item {
	width : 200px;
	height : 150px;
	display: block;
	clear: both;
	margin : 40px 0px 80px 0px;
}

.sample-album-list-item .front-image {
	margin: -25px 0px 0px 25px;
} 

.sample-album-list-item .back-image {
	margin: -215px 0px 0px 0px;
}

.sample-album-list-item .title-text {
	margin: 0px 0px 0px 10px;
}

.sample-album-list-item img {
	width : 200px;
	height : 150px;
}

.sample-album-list-item.spotlight {
	padding-left: 0px;
	border-left-width: 25px;
}

.sample-album-list-item.selected {
	background: #CCCCCC;
}