.photo-album {
	margin : 20px 50px 20px 50px;
}

.photo-album .moon-panel-body {
	padding-top : 20px;
}

.photo-album .moon-imageitem {
	height : 160px;
}

.photo-album .moon-imageitem img {
	width : 200px;
	height : 160px;
	margin : 0px 20px 0px 0px;
}

.photo-album .moon-labeledtextitem .label {
	border : none;
}