.moon-search {
    margin: 0px 20px 0px 20px;
}

.moon-search .moon-header {
    height: 200px;
}

.moon-search-devider {
    margin: 0px 0px 15px 0px;
    padding: 25px 40px 11px 40px;
    height: 50px;
    font-size: 28px;
}

.moon-search-button {
    margin: 0px 0px 5px 0px;
}

.moon-search-button-right {
    margin: 0px 0px 0px 20px;
}

.moon-search-recent-list {
    min-height: 130px;
    margin: 20px 0px 0px 0px;
}

.moon-search-images {
    float: right;
    margin: 0px 0px 0px 20px;
}