.moon-search {
    background-color: #EAEAEA;
    height: 100%;
}

.moon-search .radio-button {
    font-size: 28px;
    margin : 20px 10px 0px 50px;
}

.moon-search .icon-button-right {
    float: right;
}

.moon-search-recent-list {
    min-height: 130px;
    margin: 20px 0px 0px 0px;
}

.moon-search-images {
    float: right;
    margin: 0px 0px 0px 20px;
}