.moon-search {
    background-color: #EAEAEA;
    height: 100%;
}

.moon-search .radio-button {
    font-size: 28px;
}

.moon-search .icon-button-right {
    float: right;
}

.moon-search .item {
    display: inline-block;
    float: right;
    width: 131px;
    height: 90px;
    margin: 0px 0px 20px 10px;
}
