.moon-setting-mainmenu-content {
    padding: 0px 0px 0px 0px;
	background: #666666;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}
.moon-setting-main-menu {
    width: 15%;
    padding: 10px 0px 0px 0px;
}