.moon-activitypatternpanel2-branding {
    display: table-cell;
	background: #666666;
    color: #ffffff;
    text-align: center;
    vertical-align:middle;
}

.moon-breadcrumb-title-above {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  padding: 0px 0px 5px 0px;
  margin: 0px;
  width: 30px;
  border-bottom: 1px solid #4b4b4b;
}

.moon-play-icon {
    border-radius: 9999px;
    width: 160px;
    height: 160px;
    background-position: 0 -42px;
}