/* Search.SearchDrawerSample */
.moon .moon-panel-body {
  overflow: visible;
}
.moon-search-drawer {
	margin-top: 0px;
}
/* close button for a drawer */
.drawer-close-container {
	position: absolute;
	top: 0px;
	z-index: 10;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 42px;
}
.drawer-close-box {
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	padding: 5px 0px 0px;
	border-top-width: 3px;
	border-top-color: #CCCCCC;
	border-top-style: solid;
	width: 100px;
}
.drawer-close-box.spotlight {
	border-top-color: #ffb80d;
}
.drawer-close-content {
	margin: 0px;
	padding: 0px;
}
p.drawer-close-content {
	width: 100%;
	height: 16px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #CCCCCC;
}
.spotlight p.drawer-close-content {
	color: #ffb80d;
}
img.drawer-close-content {
	float: left;
	margin: 0 0 0 40%;
}
.result-height {
  height: 200px;
}

/* result items */
/* enyo.TitleImageItem */
.enyo-gridlist-titleimageitem > .caption {
	position: relative;
	top: -20px;
	background-color: gray;
}
.enyo-gridlist-titleimageitem {
  height: 126px; 
  width: 126px; 
  margin: 10px;
  overflow: visible;
}
.enyo-gridlist-titleimageitem img {
  width: 100%;
  height: 100%;
}
.enyo-gridlist-titleimageitem .caption {
  font-family: "MuseoSans 700";
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  z-index: 10;
  padding: 0px;
  margin: 0px;
  color: #4B4B4B;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
}
/* moon.TitleImageItem */
.moon-gridlist-titleimageitem.spotlight > .caption {
  background: #ffb80d !important;
}
