/*
    Sample-specific CSS would go here, but to make your
    application easier to maintain, you should try to
    minimize the use of custom CSS.
*/

.moon-search-result-item {
    float: left;
    margin: 0px 6px 6px 0px;
    clear: none;
    width: 162px;
    height: 106px;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.moon-search-result-item-text {
    position:absolute;
    width: 100%;
    bottom: 0px;
    height: 24px;
    color: white;
    font-size: 20px;
    padding: 0px 3px;
}

.moon-search-result-item-text.spotlight {
	color: black;
	background-color: #ffb80d;
}