.wizard-nav-button-container {
    text-align: right;
}
.wizard-nav-button-container > .moon-button {
    margin: 0px 10px;
}
.wizard-button-bottom {
    margin-top: 20px;
}
.wizard-instruction {
    display: block;
    margin-bottom: 40px;
    padding: 0px;
}
.wizard-instruction-detail {
    display: block;
    margin-bottom: 40px;
    padding-right: 120px;
}
.wizard-check-inline {
    width: 220px;
    display: inline-block;
    margin: 13px 0px 13px 40px;
}
.wizard-block-row {
    display: block;
    margin: 10px 0px;
}
.wizard-input-description {
    margin: 30px 50px 30px 0px;
    padding: 0px;
}
.wizard-datalist-wrapper {
    padding: 20px 0px 0px 60px;
}
.wizard-datalist-wrapper .wizard-datalist {
    padding: 15px 0px 15px 0px;
}
